[2013-04-05 18:00] janckerchen opened #2 "Linuxbrew is preliminary, if you stumbled at beginning, here is a temporary solution"
Linuxbrew need  you take care of your environment,  here's solution from @sjackman, it  works for me

[code]

enjoy!

It is not  smooth way, but works.

[2013-04-05 18:26] janckerchen opened #3 "Error: Bad file descriptor when install ace"
[code]

my linuxbrew commit:

[code]

[2013-04-05 19:00] jaimeMF opened #4 "Do not pull from master when updating"
If linuxbrew is going to be the main branch, when calling `brew upgrade` it should checkout linuxbrew and the pull from refs/remotes/origin/linuxbrew. Otherwise it merges the changes from the master branch.

[2013-04-06 06:11] janckerchen opened #5 "Error: Homebrew doesn't know what compiler versions ship with your version of Xcode"
Occurs " Homebrew doesn't know what compiler versions ship with your version" when brew install tmux

when brew install tmux, download and configure phase passed, but compile error. I find "patching file osdep-darwin.c" line under Patching phase, it seems not proper to linux platform.

[code]

[2013-04-06 06:30] janckerchen opened #6 "ace: fails to build"
Error: No such file or directory - sw_vers -productVersion

[code]

[2013-04-06 06:33] #3 closed, assigned to sjackman

[2013-04-09 03:42] sjackman opened #7 "Use patchelf to set RPATH"
Nicolas Hillegeer wrote...

Hey!

I just tried to post an issue to the issue tracker but it seems it won't budge, so I'll just paste my findings over to you:

NOTE: this issue might be double-posted, I think there was some issue with github so it didn't appear for me...

I really wanted ag, the silver searcher and I really wanted it through homebrew because I like pretty colours and upgrades, and

[2013-04-09 04:08] #2 closed, assigned to sjackman

[2013-04-09 04:33] #4 closed, assigned to sjackman

[2013-04-16 19:36] aktau opened #8 "brew ENV appends the -arch flag to LDFLAGS"
In .../Library/Homebrew/extend/ENV.rb there is a part where either `-arch x86_64` or `-arch i386` is appended to LDFLAGS.

This flag is an apple-specific extension to GCC by way of their LLVM wrapper which of course doesn't work on linux.

Reference:
http://stackoverflow.com/questions/4391192/why-do-i-get-cc1plus-error-unrecognized-command-line-option-arch

Disabling this made me able to get quite

[2013-04-16 20:07] aktau opened #9 "brew does not specify that GCC must prefer custom libraries for building (example: mpfr)"
I'm on debian wheezy

I have a libmpfr installed through apt-get, and develop a lot with standard debian dev packages, which is why I can't put /my/homebrew/lib in `LD_LIBRARY_PATH`. However this becomes problematic while building with homebrew, as it now prefers the system paths to the homebrew paths, therefore including the old libmpfr in my case. A stopgap solution that works for me is:

[code]

[2013-04-17 17:16] #8 closed, assigned to sjackman

[2013-05-03 17:07] leojrfs opened #10 "Documentation and general info"
Please create some documentation and info about the development environment needed.
That will make easier for anyone to contribute.

[2013-05-05 13:43] leojrfs opened #11 "update fails"
there is no branch linuxbrew in https://github.com/mxcl/homebrew.

[code]

how is this meant to be resolved? should i fix update.rb to point to https://github.com/Homebrew/linuxbrew?

[2013-05-10 12:46] #10 closed, assigned to sjackman

[2013-05-27 03:47] derekbrokeit opened #12 "README does not specify ruby version requirement"
I just cloned homebrew on a linux box and got the following error:

[code]

My ruby version: `ruby 1.8.5 (2006-08-25) [x86_64-linux]`. I did some snooping and it seems that the ruby version that introduces RUBY_PATCH_LEVEL came out in December 2006. I suppose it would benefit the project to either announce this requirement or provide a workaround. Either way, it seems I must update ruby to get bre

[2013-05-27 04:30] derekbrokeit opened #13 "ENV gcc should be more robust"
I just ran into a problem with a server that has an older version of gcc and I went searching for a problem. Installing `pkg-config` would end in an error like this:

[code]

Looking at the config logs showed that the error came from CFLAGS having `-msse4` attached which is not supported by my gcc. That being said, I also noticed that homebrew assumed `-march=core2` which is not correct. I guess t

[2013-05-31 02:45] #12 closed, assigned to sjackman

[2013-06-02 19:13] #9 closed, assigned to sjackman

[2013-06-06 21:30] #5 closed, assigned to sjackman

[2013-06-25 22:28] staticfloat opened #16 "Homebrew does not support your computer's CPU architecture"
I'm really glad to see someone tackling Homebrew on linux!  I know this is a monumental task, so anything I can do to decrease the workload my issues will create, please point out!

[code]

[2013-06-27 12:52] mahiuchun opened #17 "Documents $HOMEBREW_PREFIX and $HOMEBREW_CACHE in README"
Follow current README, what one would get is like

[code]

[2013-06-29 18:16] #16 closed, assigned to sjackman

[2013-07-05 17:11] #17 closed, assigned to sjackman

[2013-08-13 07:23] huahang opened #19 "git depends on curl"
/usr/bin/gcc -o http-fetch.o -c -MF ./.depend/http-fetch.o.d -MQ http-fetch.o -MMD -MP -isystem /home/huahang/.linuxbrew/include -Os -w -pipe -march=core2 -msse4 -I. -DNO_GETTEXT  -DHAVE_PATHS_H -DHAVE_DEV_TTY -DXDL_FAST_HASH -DSHA1_HEADER='<openssl/sha.h>'  -DNO_STRLCPY -DNO_MKSTEMPS -DSHELL_PATH='"/bin/sh"'  http-fetch.c
/usr/bin/gcc -o credential-cache.o -c -MF ./.depend/credential-cache.o.d -M

[2013-08-13 07:45] huahang opened #20 "brew install serf failed"
$ brew install serf -V
==> Downloading http://serf.googlecode.com/files/serf-1.2.1.tar.bz2
Already downloaded: /home/huahang/.cache/Homebrew/serf-1.2.1.tar.bz2
==> ./configure --prefix=/home/huahang/.linuxbrew/Cellar/serf/1.2.1 --with-apr=/usr/bin
checking target system type... x86_64-unknown-linux-gnu

Configuring Apache Portable Runtime library...

checking for APR... configure: error: the --wit

[2013-08-13 16:18] #20 closed, assigned to sjackman

[2013-08-14 02:48] huahang opened #21 "brew install svn failed"
---

Libraries have been installed in:
   /home/huahang/.linuxbrew/Cellar/subversion/1.8.1/lib

If you ever happen to want to link against installed libraries
in a given directory, LIBDIR, you must either use libtool, and
specify the full pathname of the library, or use the `-LLIBDIR'
flag during linking and do at least one of the following:
- add LIBDIR to the `LD_LIBRARY_PATH' environment variab

[2013-08-24 20:16] ldhughes opened #23 "Rebase of linuxbrew on latest homebrew"
I just forked and rebased the current linuxbrew code onto the latest version of mxcl/homebrew.  It is located in the brew branch of https://github.com/ldhughes/linuxbrew.

I'm wondering which would be the better way of proceeding, rebase or merge future changes?

Dan

[2013-08-29 22:51] #21 closed, assigned to sjackman

[2013-08-30 00:01] #23 closed, assigned to sjackman

[2013-09-12 15:45] dcardosods opened #24 "autoconf: Depends on m4"
I tryed to install ```ruby-build```, and the installation of the dependence ```autoconf``` fail.

The command prompt:
[code]

[The config.log content](https://gist.github.com/dcardosods/6539710).

[2013-09-13 17:52] dcardosods opened #25 "openssl: install fails"
Console output:

[code]

[2013-09-14 03:51] xxxajk opened #26 "mktemp needs 6, not 4 X's for the template"
mktemp version debianutils-2.7

/usr/bin/mktemp: cannot make temp dir /tmp/homebrew-brew-doctor-XXXX: Invalid argument

From the man page:

[code]

Thus....

[code]

both templates need to be 6 X's, not 4 :-) If there are variants then you will need to write a test to determine which format to use. This may also be version dependent.

[2013-09-15 23:55] xxxajk opened #27 "ldconfig needs to be run"
ldconfig needs to be run after new libraries are created if ran by root and brew used in /usr/local. Not doing this causes build failures between dependent formulae.

[2013-09-26 19:13] #11 closed, assigned to sjackman

[2013-10-30 18:10] #13 closed, assigned to sjackman

[2013-11-08 15:46] morevnaproject opened #30 "gtk: Unsatisfied dependency: XQuartz"
Trying to install gtk+ formula, got errors:

[code]

Any help is appreciated.

[2013-11-12 03:47] benswift opened #31 "contributing formulae"
Hey folks

I've contributed a few formulae to homebrew on OSX.  I've also just set it up on Linux (Ubuntu 13.10) and fixed a few bugs in various formulae.

If I want to contribute these changes back upstream, how do I do that considering I've _already_ forked homebrew to make my osx changes.  So when I try and fork homebrew/linuxbrew (as I would for mxcl/homebrew to contribute on OSX) it just take

[2013-11-12 03:52] benswift opened #32 "contributing formulae"
Hey folks

I've contributed a few formulae to homebrew on OSX. I've also just set it up on Linux (Ubuntu 13.10) and fixed a few bugs in various formulae.

If I want to contribute these changes back upstream, how do I do that considering I've already forked homebrew to make my osx changes. So when I try and fork homebrew/linuxbrew (as I would for mxcl/homebrew to contribute on OSX) it just takes me

[2013-11-12 04:04] #32 closed, assigned to sjackman

[2013-11-12 04:05] benswift opened #33 "freetype"
`brew install freetype` fails with the XQuartz error - a which seems to be manually hardcoded in for that (and a couple of other) formulae.

I can get `freetype` to build just fine by removing the OSX bottle stuff from the formula (see diff below), but I have to issue the build commands manually. `brew install freetype` alwaygs gets caught by the XQuartz exception.

Has freetype been permanently q

[2013-11-12 21:16] #31 closed, assigned to sjackman

[2013-11-21 11:12] jsnowacki opened #36 "Cmake formula requires expat and bzip2 devel libraries on CentOS 6.4"
As in title, I was installing `cmake` using brew and it was stopping with missing libraries errors: fist `expat` and than `bzip2`. Installing both from `yum`, i.e. `yum install expat-devel bzip2-devel` solved the issue. Note that I had both libraries present but not the development versions, just SO without the headers.

Cheers,

Jakub

[2013-11-27 22:58] #36 closed, assigned to sjackman

[2013-12-06 09:51] peterdfields opened #39 "r: Building R without Xquartz"
Is there a way of bypassing the requirement of Xquartz to build R with linuxbrew?

[2013-12-06 19:34] #25 closed, assigned to sjackman

[2013-12-13 03:14] canassa opened #40 "Permission denied when installing formulas"
I am trying to setup linuxbrew on a CentOs system but the formulas are failing due to a permission error. My guess is that homebrew is trying to access some directory that my user does not have permission.

This is a shared system, my user permissions more restricted than usual.

E.g.: installing openssl

[code]

Cmake also fails

[code]

Thanks!

[2013-12-13 14:53] sbp opened #41 "emacs installation fails"
On a fresh Debian jessie/sid, I followed the instructions to install Linuxbrew in the README.md at e552fa37.

I then tried to install emacs using Linuxbrew, but emacs `./configure` failed with this message:

[code]

This is fine if you have root/sudo access, but the instruction is not clear if you want to install emacs with user privileges only.

I tried this:

[code]

But unfortunately that fails

[2013-12-13 14:57] sbp opened #42 "brew doctor gives unhelpful output"
Setup as per #41.

`brew doctor` gives some erroneous outputs:

[code]

There is in fact a `/usr/bin/gcc`

[code]

This should probably all be squelched in Linuxbrew.

[code]

Mac OS X 0?

And is this actually true?

[code]

This should probably be squelched.

[code]

Irrelevant to Linuxbrew.

[2013-12-13 15:02] canassa opened #43 "cmake requires libcurl4-openssl-dev"
Hi

`brew install cmake` failed in a Ubuntu box due to a missing libcurl. Here is the full log:

[code]

Installing libcurl4-openssl-dev fixed the problem. Maybe it should be added to the readme?

Thanks,

[2014-01-06 19:36] villimagg opened #46 "Linuxbrew: "Package bash-completion was not found..." at command prompt."
I'm prompted with this error message when I open terminal in Fedora 20:

[code]

I have isolated the problem and it is most definitely connected to Linuxbrew.

Please tell me what ever information is required for solving this.

Thank you.

[2014-01-08 00:51] agordon opened #47 "LinuxBrew overrides PKG_CONFIG_LIBDIR"
Hello,

I encountered a strange conflict, regarding using a system-wide installed library through LinuxBrew+pkg-config - it seems LinuxBrew overrides PKG_CONFIG_LIBDIR, and so the native pkg-config can't find system-wide directories.

My setup:
Debian 7,   `/usr/bin/pkg-config` works fine,
Some packages have "PC" files in `/usr/lib/x86_64-linux-gnu/pkgconfig/` while others are in `/usr/lib/pkgconf

[2014-01-28 19:01] elgs opened #49 "How to uninstall"
I accidentally installed linuxbrew using root, now I want to uninstall it from root and install it from my regular user again.

Thanks,
Elgs

[2014-01-29 18:29] #49 closed, assigned to sjackman

[2014-02-08 20:02] #41 closed, assigned to sjackman

[2014-02-08 20:07] #43 closed, assigned to sjackman

[2014-02-12 09:58] kxxoling opened #51 "failed to install pcre"
Full log is here:

[code]

I know I could using apt-get install zlib1g-dev to solve this, but I don't know how to fix it in linuxbrew.

[2014-02-13 01:28] #51 closed, assigned to sjackman

[2014-02-14 22:31] agordon opened #52 "Tutorial link"
Hello,

If anyone is interested, I wrote a tutorial for LinuxBrew, available here:
https://www.digitalocean.com/community/articles/how-to-install-and-use-linuxbrew-on-a-linux-vps

Using LinuxBrew is already very easy, but I hope this will help people get started even faster.

[2014-02-25 16:17] waiting-for-dev opened #54 "Error runing zsh installed with linuxbrew"
I have installed without problems `zsh` using `linuxbrew`:

[code]

Now, when runing `zsh` I get the error:

[code]

But `libgdm.so.4` is already present in `~/.linuxbrew/lib` and I already have in both my `.bashrc` and `.zshrc`:

[code]

Am I missing something?

I'm in Debian 3.2.54-2 x86_64

[2014-02-25 18:33] #54 closed, assigned to sjackman

[2014-03-08 13:04] sgtpep opened #57 "Unable to install x11 packages"
[code]

By the way, is checking for X11 server on system really needed? For example, I'd like to install some graphical packages on remote server without any X11 server (only xauth package is installed) to run through X11Forwarding.

[2014-03-09 11:53] sgtpep opened #58 "The default Logs path is ~/Library/Logs/Homebrew/, not inside prefix dir ~/.linuxbrew"
Was it intentionally, or is it a bug?

[2014-03-09 18:33] #58 closed, assigned to sjackman

[2014-03-16 19:26] LeonB opened #60 "`brew update` tries to update from homebrew/homebrew"
[code]

I expected it to pull from `homebrew/linuxbrew`.

[2014-03-20 01:10] dongli opened #61 "cc1: error: unrecognized command line option "-msse4""
Hi,

On some linux server, the version of the system `gcc` is too low (`4.1.2`), which does not support option `-msse4`. `linuxbrew` set default flags to `-march=core2 -msse4` in `Library/Homebrew/extend/ENV/std.rb`, and this cause problem when installing package. Can the script judge the version of the system gcc, and set correct default flags?

[2014-03-20 01:21] dongli opened #62 "gmp: libgmpxx.4.dylib: No such file or directory"
I am installing gcc49 in a linux, and the building of `gmp4` encountered error (after I modify `Library/Homebrew/extend/ENV/std.rb`):

[code]

The linux version information is:
`Linux version 2.6.18-194.el5 (mockbuild@x86-005.build.bos.redhat.com) (gcc version 4.1.2 20080704 (Red Hat 4.1.2-48)) #1 SMP Tue Mar 16 21:52:39 EDT 2010`

Why `linuxbrew` uses `.dylib` file in `Linux`?

[2014-03-20 02:56] dongli opened #63 "brew doctor complains so much!"
[code]

Some of the warnings check the files in `/usr/local` and tell me the `homebrew` is not installed there, but from the README of `linuxbrew`, it is installed at home directory, so I think `linuxbrew` does not modify the corresponding settings of `homebrew` for Mac OS X to adapt for Linux.

If I misunderstand anything, correct me! : ) Anyway, `linuxbrew` is a good thing for Linux, which is mu

[2014-03-20 06:20] #61 closed, assigned to sjackman

[2014-03-20 18:18] #62 closed, assigned to sjackman

[2014-03-20 18:19] #63 closed, assigned to sjackman

[2014-03-20 18:26] #6 closed, assigned to sjackman

[2014-03-20 18:29] #40 closed, assigned to sjackman

[2014-03-20 18:30] #46 closed, assigned to sjackman

[2014-03-20 18:33] #47 closed, assigned to sjackman

[2014-03-29 13:06] #60 closed, assigned to sjackman

[2014-04-01 19:56] aktau opened #65 "vim: hardcodes /usr/bin/true which might be in a different path"
[Vim](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/vim.rb#L88) builds fine on linux with linuxbrew, except for the fact that it passes "/usr/bin/true" as the STRIP variable. On debian, the `true` binary is located in `/bin`, not `/usr/bin`. How might we solve this elegantly? What should the formula author have used?

[2014-04-01 23:13] sjackman opened #66 "gcc48: cannot find -lgcc_s"
See also #62.
This appears to be a known longstanding issue with GCC, [bug 32415](http://gcc.gnu.org/bugzilla/show_bug.cgi?id=32415).

[code]

[2014-04-11 09:43] #65 closed, assigned to sjackman

[2014-04-26 16:40] tinyheero opened #70 "Unable to clone linuxbrew"
Hi,

When I am try to git clone the linuxbrew repository, I am getting this error:

Has anyone experienced this?

[2014-04-28 08:49] monaka opened #71 ""Error: key not found: :core2" on Travis-CI"
I left log at https://travis-ci.org/PizzaFactory/linuxbrew-commandline/jobs/23914324.

[code]

[2014-04-29 02:31] monaka opened #74 "Bottling failed with error on Travis-CI"
I left all of the build log at https://travis-ci.org/PizzaFactory/linuxbrew-commandline/jobs/23983626

[code]

[2014-04-29 23:34] #70 closed, assigned to sjackman

[2014-04-30 00:17] #71 closed, assigned to sjackman

[2014-04-30 00:48] #66 closed, assigned to sjackman

[2014-05-02 17:58] #74 closed, assigned to sjackman

[2014-05-17 07:18] cocodrino opened #79 "error trying install lua"
Hi..I'm receiving this message

==> Patching
patching file Makefile
patching file src/Makefile
patching file src/lua.c
==> make macosx INSTALL_TOP=/home/yo/.linuxbrew/Cellar/lua/5.1.
make[2]: **\* [liblua.5.1.5.dylib] Error 1
make[2]: Leaving directory `/tmp/lua-LHkc/lua-5.1.5/src'
make[1]: *** [macosx] Error 2
make[1]: Leaving directory`/tmp/lua-LHkc/lua-5.1.5/src'
make: **\* [macosx] Error 2

RE

[2014-05-20 21:03] #79 closed, assigned to sjackman

[2014-05-27 17:05] traymond opened #81 "Unable to install gmp4"
Created a gist with the output of `brew install --env=inherit -v gcc44`: https://gist.github.com/traymond/903443e8b2543ab894e1

[2014-05-27 21:02] #81 closed, assigned to sjackman

[2014-05-29 19:57] nogalesc opened #82 "Finding .rej files to debug a custom embedded patch"
Hi,
I need some help deciphering where to find a .rej file in order to edit a custom patch for a formula I created.

[code]

I was following the instructions in the Formula Cookbook website. Could you please help me? Thank you.

-Chris

[2014-06-03 22:19] hammer opened #83 "python3 formula not working on CentOS 6.4"
`make` dies with

[code]

[2014-06-04 09:05] sjackman opened #84 "openssl: pod2man error"
Upstream issue https://github.com/openssl/openssl/issues/57 fixed by https://github.com/openssl/openssl/commit/23f5908

[2014-06-04 10:15] burningTyger opened #85 "md5sha1sum: Cannot find openssl library"
I'm trying to install neovim via

[code]

It has `md5sha1sum` as a dependency but that fails because it possibly needs `openssl` which is apparently not installed by default on my ubuntu 14.04. Should `openssl` be added as a dependency to the formula?

This is the error log:

[code]

[2014-06-04 11:46] #82 closed, assigned to sjackman

[2014-06-04 11:57] #83 closed, assigned to sjackman

[2014-06-04 12:44] #84 closed, assigned to sjackman

[2014-06-04 13:15] #85 closed, assigned to sjackman

[2014-06-10 19:57] nogalesc opened #88 "Using a keg_only formula to avoid depends_on"
Hi again,

Thank you for your previous help. Unfortunately, I have another newbie question about Linuxbrew today. I am trying to install gtsam which has a dependency on boost. My problem is that I need to use boost 1.49 instead of boost 1.55 for other programs and its installation must be done using the Debian package manager system.

How can I make Linuxbrew recognize the already installed Boost

[2014-06-11 13:41] #88 closed, assigned to sjackman

[2014-06-26 21:33] hugoerg56 opened #91 "postgresql: Requires xslt"
==> Downloading http://ftp.postgresql.org/pub/source/v9.3.4/postgresql-9.3.4.tar
Already downloaded: /root/.cache/Homebrew/postgresql-9.3.4.tar.bz2
==> Patching
patching file contrib/uuid-ossp/uuid-ossp.c
==> ./configure --prefix=/root/.linuxbrew/Cellar/postgresql/9.3.4 --datadir=/roo
checking for SSL_library_init in -lssl... yes
checking for pam_start in -lpam... yes
checking for xmlSaveToBuffer

[2014-06-30 12:17] andersje opened #94 "MaSuRCA 2.2.1/ubuntu 13.10"
==> Downloading ftp://ftp.genome.umd.edu/pub/MaSuRCA/v2.2.1/MaSuRCA-2.2.1.tar.gz
Already downloaded: /home/janderson/.cache/Homebrew/masurca-2.2.1.tar.gz
==> DEST=/usr/local/Cellar/masurca/2.2.1 ./install.sh
Failed to execute: DEST=/usr/local/Cellar/masurca/2.2.1 ./install.sh
Error: Homebrew doesn't know what compiler versions ship with your version
of Xcode (0). Please `brew update` and if that d

[2014-07-02 20:30] arubyist opened #95 "ERROR: certificate common name `www.github.com' doesn't match requested host name `raw.github.com'."
Trying to install linuxbrew as directed ie, this: ruby -e "$(wget -O- https://raw.github.com/Homebrew/linuxbrew/go/install)"

Keep getting this error:
    Resolving raw.github.com... (ip address)
    Connecting to raw.github.com|(ip address)|:443... connected.
    ERROR: certificate common name `www.github.com' doesn't match requested host name`raw.github.com'.
    To connect to raw.github.com ins

[2014-07-02 23:34] #95 closed, assigned to sjackman

[2014-07-03 15:18] ghost opened #96 "XQuartz error: cairo, freeglut and all gtk+ based libs"
[code]

[code]

[code]

And so forth for gtk+3, gtkmm, pygtk, etc... :)

[2014-07-03 15:40] ghost opened #97 "Compile error: freeimage"
[code]

[2014-07-03 16:47] ghost opened #98 "Compile error: poco"
[code]

[2014-07-03 17:51] #97 closed, assigned to sjackman

[2014-07-03 17:52] #33 closed, assigned to sjackman

[2014-07-03 22:11] #98 closed, assigned to sjackman

[2014-07-03 22:22] #96 closed, assigned to sjackman

[2014-07-04 01:29] #94 closed, assigned to sjackman

[2014-07-09 15:24] zeneofa opened #101 "brew install pkg-config"
Hi,

I am having huge issues installing pkg-config using brew. On the system I am working on, I do not have root. When I run:

brew install pkg-config --verbose

I get the following errors:
gconvert.c:66:2: error: #error GNU libiconv not in use but included iconv.h is from libiconv

brew doctor tells me:

Warning: libiconv files detected at a system prefix other than /usr
Homebrew doesn't provide

[2014-07-09 18:42] #101 closed, assigned to sjackman

[2014-07-10 14:30] mikky-is opened #102 "Problem installing glew"
All is in the title. Thanks for help!

LOG:
~/Téléchargements/gource-0.42$ brew install glew
==> Downloading https://downloads.sourceforge.net/project/glew/glew/1.10.0/glew-1.10.0.tgz
Already downloaded: /home/+/.cache/Homebrew/glew-1.10.0.tgz
==> make GLEW_DEST=/home/+/.linuxbrew/Cellar/glew/1.10.0 all
cc -shared -Wl,-soname=libGLEW.so.1.10 -o lib/libGLEW.so.1.10.0 tmp/linux/default/shared/glew.o

[2014-07-10 16:16] MikeMcQuaid opened #103 "Don't show Homebrew troubleshooting wiki on failure"
e.g. https://github.com/Homebrew/homebrew/issues/30791

Would be good to duplicate this page and link to your own version.

[2014-07-10 16:31] mikky-is opened #104 "gource: Boost 1.55.0_2 not detected by gource dependency"
boost is installed but when i try to install gource, it tries (and fails) to install it one more time.

LOGS:
~/Téléchargements/gource-0.42$ brew install boost
Warning: boost-1.55.0_2 already installed

~/Téléchargements/gource-0.42$ brew install gource
gource: OS X Mountain Lion or newer is required.
==> Installing dependencies for gource: boost, glew
==> Installing gource dependency: boost
==> D

[2014-07-12 20:41] #103 closed, assigned to sjackman

[2014-07-17 03:34] FishGel opened #105 "Install pip failed"
i am using redhat 5.4.

I using following command to update python to 2.7. (it was python 2.4 before update)

[code]

And I Install the python-setuptools

[code]

Then I install the pip print the error

[code]

[code]

[2014-07-17 03:59] #105 closed, assigned to sjackman

[2014-07-22 11:56] #102 closed, assigned to sjackman

[2014-07-27 06:42] mrcodydaniel opened #106 "pkgutil"
Nice fresh 14.04 Ubuntu install, continuously getting errors on /usr/sbin/pkgutil not existing when doing builds.

This happens during extempore, but also happens during python or other brew installs.

[2014-07-31 01:13] mbsullivan opened #107 "Standalone installation of Linuxbrew"
I just tested the installation of glibc under the bottle branch; it went pretty well, but there may be a couple missing dependencies. (I am installing it on a machine running CentOS 5.5, which is quite outdated.)

I haven't yet looked into how dependencies/version requirements are dictated in Homebrew/Linuxbrew, so I'll just describe the procedure I went through to get it installed. Here's what ha

[2014-07-31 16:50] OmeGak opened #108 "postgresql installation fails"
While trying to install postgresql in Ubuntu 12.04 I had some trouble during the `./configure` step. After some tweaking here and there I've managed to install it and I'd like to share the steps I've taken to do it. Also, since I'm fairly new to editing homebrew formulas, I'd appreciate if somebody could point me in the right direction to make this changes into the repository.

The issues I had in

[2014-08-06 06:11] wickedsp1d3r opened #112 "Using Linuxbrew with ARM processor"
Hello there,

I got Linuxbrew installed, but `brew install <formula>` gives me:
[code]
`uname -a` gives me:
[code]
And cat /proc/cpuinfo:
[code]
Is there anything I can do to get Linuxbrew working on my system? Thank you for your time.

[2014-08-07 03:23] jeremy16601 opened #113 "can't run android"
android
Exception in thread "main" java.lang.UnsatisfiedLinkError: no swt-cocoa-3550 or swt-cocoa in swt.library.path, java.library.path or the jar file
    at org.eclipse.swt.internal.Library.loadLibrary(Unknown Source)
    at org.eclipse.swt.internal.Library.loadLibrary(Unknown Source)
    at org.eclipse.swt.internal.C.<clinit>(Unknown Source)
    at org.eclipse.swt.internal.cocoa.NSThread.isMai

[2014-08-07 06:58] #113 closed, assigned to sjackman

[2014-08-11 18:17] #106 closed, assigned to sjackman

[2014-08-11 18:56] gad2103 opened #114 "mariadb dependency pidof: error: sys/proc.h: No such file or directory"
trying to install mariadb fails with the following errors:

[code]

[2014-08-11 19:36] #114 closed, assigned to sjackman

[2014-08-11 23:12] benswift opened #115 "flac fails to build"
The issue has been fixed in OSX homebrew (see https://github.com/Homebrew/homebrew/issues/31442).

Any idea on when you're next going to merge?

[2014-08-12 00:30] #39 closed, assigned to sjackman

[2014-08-12 00:40] #115 closed, assigned to sjackman

[2014-08-14 04:28] #26 closed, assigned to sjackman

[2014-08-21 23:37] #104 closed, assigned to sjackman

[2014-08-23 07:40] #7 closed, assigned to sjackman

[2014-08-25 11:09] aktau opened #122 "unrecognized flag `-arch`"
I just tried to blast my linuxbrew install and use it to install `gcc 4.9`. Yet it complains with:

[code]

Checking the `config.log`, I find a few interesting things:

[code]

This is with the standard Debian Wheezy gcc 4.7.2 (`/usr/bin/gcc`). At first I thought it was because of the `-march`, but now I think it's because of the `-arch` in `LDFLAGS`.

[2014-08-25 13:25] aktau opened #123 "Can't build gcc 4.9.1 on Debian Wheezy"
I'm not entirely sure what's causing this. Perhaps gcc 4.9.1 requires a newer version of make?

This is on a clean install of linuxbrew with only patchelf installed. The helper libs (cloog et al.) seem to build and install just fine.

[code]

The errors in the `.in` files make me suspect either `configure` or `make`.

[2014-08-27 18:51] staticfloat opened #125 "We need to symlink in multiarch libraries"
I would submit a pull request for this, but it goes a bit beyond my Homebrew knowledge.  Many linux distributions have separation of 32-bit and 64-bit library code, and as such formulae with the default linux paths setup put their libraries into `<prefix>/lib64` instead of `<prefix>/lib` (for example). Debian-based systems tend to put things in `<prefix>/lib/<tuple>` which gets symlinked just fine

[2014-08-27 19:12] sjackman opened #126 "Do not set the RPATH of ld-linux-x86-64.so.2"
Setting the `RPATH` of `ld-linux-x86-64.so.2` breaks it and gives the following error:

[code]

See #107

[2014-08-27 19:13] #126 closed, assigned to sjackman

[2014-08-27 21:36] #122 closed, assigned to sjackman

[2014-08-28 20:00] xanderhsia opened #127 "curl fails configure"
Using the [Standalone Guide](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation-of-Linuxbrew), I was able to install almost everything except curl.
It throws a configure error, like so:

[code]

Oddly enough, when I download curl from curl.haxx.se and configure it manually using the same parameters as brew does, I don't run into this error

[code]

Any idea what is going on?

[2014-08-29 06:04] houqp opened #128 "ubuntu ships with none executable tmp dir"
This makes configure script not executable during build process. Should we detect this and warn user or move the temporary build directory to $HOME?

[2014-09-02 08:24] jrevillard opened #129 "Python and/or Openssl broken with the new dynamic-linker hack"
As reported in #107 python/openssl is broken probably because of the dynamiclinker hack. The postinstall step fail to install pip. Python segfault when invoking the openssl library:

[code]

I will try to investigate a bit
Jerome

[2014-09-03 22:20] mbsullivan opened #130 "Testing Sysroot"
Testing the Sysroot branch, as described [here](https://github.com/Homebrew/linuxbrew/wiki/Sysroot).

Everything went fine until installing `gcc --with-sysroot`. Once I link in `glibc-sysroot`, then configuring the first dependency (`gmp`) fails with:

[code]

From `configure.log`, the problem is:

[code]

The softlink file chain for `/work/01166/mbsulliv/.linuxbrew_sysroot/lib/libc.so.6` is:

[co

[2014-09-05 10:36] zeneofa opened #131 "brew install git"
Hi,

I am having a problem using brew (linuxbrew) to install git, I have git locally installed, but brew doctor mentions it is out of date. So I tried to use brew to install git, but I get some errors (see gist link below for more info):

imap-send.c:881: error: expected ‘;’ before ‘hmac’
imap-send.c:896: error: ‘hmac’ undeclared (first use in this function)
imap-send.c: In function ‘imap_open_sto

[2014-09-10 19:22] #130 closed, assigned to sjackman

[2014-09-10 23:35] #125 closed, assigned to sjackman

[2014-09-11 19:27] #42 closed, assigned to sjackman

[2014-09-11 19:39] #131 closed, assigned to sjackman

[2014-09-11 19:40] #127 closed, assigned to sjackman

[2014-09-11 22:34] #129 closed, assigned to sjackman

[2014-09-11 22:44] #91 closed, assigned to sjackman

[2014-09-11 23:13] #108 closed, assigned to sjackman

[2014-09-11 23:15] #123 closed, assigned to sjackman

[2014-09-15 22:58] #52 closed, assigned to nobody

[2014-09-16 10:56] dhinesh03 opened #133 "hbase installation 404 error"
url: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "hbase"
Download failed: http://apache.claz.org/hbase/hbase-0.98.4/hbase-0.98.4-hadoop2-bin.tar.gz

[2014-09-16 18:03] #133 closed, assigned to sjackman

[2014-09-21 02:59] smoh opened #134 "sudo permission denied"
I'd like to use linuxbrew on a machine where I have no root access.
Whenever I try to install something, I get the following
`sudo: unable to stat /var/db/sudo: Permission denied`
What's causing this error, and is there a way to make sure linuxbrew does nothing sudo-related?

[2014-09-22 18:40] sjackman opened #135 "gfortran is broken with stand alone Linuxbrew"
[code]

[2014-09-22 19:25] #134 closed, assigned to sjackman

[2014-09-25 00:29] oneillkza opened #137 "Unable to bootstrap gcc"
I'm trying to install linuxbrew on a machine running CentOS 6.5, which means that it has extremely outdated packages, such that linuxbrew does not want to use the system-installed gcc. I have no systems rights on the machine, so cannot upgrade these myself.

The suggested solution by linuxbrew is:

[code]

However, when I run `brew install gcc`, the following happens:

[code]

[2014-09-25 15:40] rnpandya opened #140 "bamtools fails to build on Ubuntu 14.04"
https://gist.github.com/0714060805ea2c1ed38f
ravip@hpcravipnd1:/mnt$ sudo brew install --env=std bamtools
==> Downloading https://github.com/pezmaster31/bamtools/archive/v2.3.0.tar.gz
Already downloaded: /home/ravip/.cache/Homebrew/bamtools-2.3.0.tar.gz
==> Downloading https://github.com/sjackman/bamtools/commit/3b6b89d.diff
Already downloaded: /home/ravip/.cache/Homebrew/bamtools--patch-89f659243

[2014-09-25 17:30] oneillkza opened #141 "Glibc fails to install due to LD_LIBRARY_PATH containing working directory"
I'm on CentOS 6.5 with no root access.

To get LinuxBrew working, I added the linuxbrew bin dir to `$PATH`,  and the linuxbrew lib dir to `$LD_LIBRARY_PATH`:

[code]

Unfortunately, glibc won't compile, giving the error:

[code]

If I remove linuxbrew from `$LD_LIBRARY_PATH`, then glibc fails since it can't find its dependencies.

What is weird, is that, looking in glibc.rb, it seems like linuxbre

[2014-09-25 17:36] #140 closed, assigned to nobody

[2014-09-25 19:39] #141 closed, assigned to sjackman

[2014-09-25 20:01] oneillkza opened #142 "Glibc fails to build on CentOS 6.5"
[code]

I'm pretty sure this error:

[code]

is due to missing libraries (at least, that's what the glibc FAQ implies). To find out (and to find out which libraries), I would need to look into the config.log file, but that gets deleted along with the directory in /tmp that linuxbrew uses to compile in.

[2014-09-26 22:08] #142 closed, assigned to sjackman

[2014-09-26 22:57] #137 closed, assigned to sjackman

[2014-09-27 01:03] oneillkza opened #143 "ghc: Haskell is broken in Linuxbrew (due to MacOS-specific formula)"
I was trying to install pandoc, which depends on ghc, but ghc failed to install. Looking at the ghc.rb formula file, it seems that there are a whole ton of rules specifically related to MacOSX, and the result is that the formula tries to download and run a Mac binary!

[2014-09-27 22:58] oneillkza opened #144 "ncurses: doesn't install curses headers to .linuxbrew/include"
The ncurses headers (curses.h, ncurses.h, etc) are needed by some software (eg GHC). However, while the ncurses.rb formula does install these in the Cellar, it doesn't make them available in .linuxbrew/include

What is needed is something like:

[code]

But in the correct way within ruby, using the homebrew variables specifying the locations of these files in a version-independent manner. (This is

[2014-09-29 22:46] saketkc opened #146 "git submodule support broken?"
New homebrew-science formula(Pending Pull request): https://gist.github.com/saketkc/583fdd4b1f73beb26d2f

Tested on Mac[OK]: http://pastebin.com/AWC7PKXu
Tested on Linux[NOT OK]: http://pastebin.com/CgvZNtxm

The files under `/.cache/Homebrew/methpipe--git/src/smithlab_cpp/` are checked out though.

$ brew --version
0.9.5

[2014-10-02 00:10] #146 closed, assigned to sjackman

[2014-10-03 03:20] dunn opened #148 "openssl: postinstall fails"
When I try to manually run the postinstall with `brew postinstall openssl` I get

[code]

and my guess is that the postinstall steps are meant for OSX?

[2014-10-06 22:51] seanfisk opened #150 "Does LD_LIBRARY_PATH still need to be set?"
I've been following the rpath issues off on and on. I don't have my `LD_LIBRARY_PATH` set, but I have a few formulae installed that use Linuxbrew library dependencies and they seem to work fine. So the question is: Do Linuxbrew users still need to set their `LD_LIBRARY_PATH`?

Thanks for Linuxbrew and thanks for the rpath solution — it's working great for me.

[2014-10-07 04:34] #150 closed, assigned to sjackman

[2014-10-09 16:14] matope opened #151 "Merge Homebrew"
Excuse me if I have a misunderstanding. But I just suppose that Linuxbrew merges formulas from Homebrew to get updates on Homebrew continuously.
So, I've been waiting for the merging of a formula. But in recent days, Linuxbrew seems not merge from Homebrew.
Could you please let me know about some policies or schedules of merging?

Thanks.

[2014-10-09 21:39] #151 closed, assigned to sjackman

[2014-10-10 08:00] kennylevinsen opened #152 ""git" depends on libexpat and curl"
The git formula requires libexpat1-dev and curl to be installed on my ubuntu box.

I also had _something_ that required libbz2-dev, but I don't remember what.

Do we have any procedure to handle such "unexpected" dependencies? Adding them as actual dependencies, and adding a formula?

[2014-10-10 19:02] #152 closed, assigned to sjackman

[2014-10-13 14:31] DiagonalArg opened #153 "HOMEBREW_TEMP not executable"
I have a centos machine that has curl, git, m4 and ruby available.  I also have info, which I assume means it's got texinfo (?), but it's missing the development packages (bzip2-, curl-, expat-, ncurses-, and zlib-devel).   I don't have root so I can't use yum. I tried installing linuxbrew anyway, and got no errors.  (Though brew doctor did complain about all the stuff in /usr/local.)

Then, I tri

[2014-10-13 16:36] sjackman opened #154 "gcc 4.9.1: config-ml.in: eval: line 160: unexpected EOF while looking for matching `''"
GCC 4.9.1 fails to build:

[code]

[Reported](https://github.com/Homebrew/linuxbrew/issues/107#issuecomment-57032406) by @mbsullivan in #107.

Appears to be [reported](https://gcc.gnu.org/ml/gcc-patches/2014-03/msg00718.html) and [fixed](https://github.com/gcc-mirror/gcc/commit/52fd2e17c7426500a4e47047f6a1ea9d2a889db3.diff) upstream.

[2014-10-13 18:50] #154 closed, assigned to sjackman

[2014-10-17 23:10] saqihel opened #156 "wiki: symlink by gfortran -dumpversion fails on centos 6.5"
On my centos 6.5, gfortran -dumpverion outputs messy info while gcc is smart.

[code]

So, following command on wiki fails to create a symlink.
https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation#create-symlinks-for-gcc

[code]

This is not smart but it works.

[code]

[2014-10-18 16:29] DiagonalArg opened #157 "CentOS's pkg-config conflicting with linuxbrew's"
brew doctor:

[... (finds lots of stuff in /usr/local) ...]

You have a non-Homebrew 'pkg-config' in your PATH:
/usr/bin/pkg-config

./configure may have problems finding brew-installed packages using
this other pkg-config.

This in fact does happen:

brew install hello
==> Downloading http://ftpmirror.gnu.org/hello/hello-2.9.tar.gz
Already downloaded: /home/dev/.cache/Homebrew/hello-2.9.tar.gz
==

[2014-10-19 15:57] #157 closed, assigned to nobody

[2014-10-20 10:30] DiagonalArg opened #158 "openssl: Download and install cacert.pem"
On ubuntu, I've got all of these: build-essential curl git m4 ruby texinfo, along with zlib1g-dev, but I'm missing all the rest of the -dev's:

[code]

So, I can "brew install hello" and all's good, but "brew install git" fails with:

[code]

More generally, how do I get these libraries and their header files?

[Ok, I get this now (though see the errors in the next post).  I think it would be very

[2014-10-20 14:45] DiagonalArg opened #159 "w3m 0.5.3: error: redefinition of 'struct file_handle'"
I've installed so far only curl --with-ssh, ncurses, expat, bzip2, git, and tmux.  I believe it's the libraries from the first of those, needed for the newest version of git, that's giving me the problem in emacs:

[code]

w3m is used by emacs, in gnus, for reading html and as a pager.

[2014-10-21 15:48] jab opened #160 "`brew install wrk` fails"
[code]

Looks like compiler errors. Nothing in https://github.com/wg/wrk/blob/master/README about build requirements. Tried `brew install wrk` on OS X to see if clang had problems building too but it's bottled. Not sure if this is a bug upstream. Can you reproduce?

[2014-10-21 15:50] hregis opened #161 "Try to install mongodb"
Hello

I installed linuxbrew on debian wheezy and I tried to install MongoDB and I get this error. thank you for your help.

you can see my gist here :

https://gist.github.com/hregis/bb30914e1ba095d998b5

Thank you

[2014-10-21 19:20] #161 closed, assigned to sjackman

[2014-10-21 19:23] #160 closed, assigned to nobody

[2014-10-21 21:50] harper357 opened #162 "lua: Build error"
Here is the output when I try to install lua.

[code]

My system is : Ubuntu 14.04.1 LTS (GNU/Linux 3.2.0-69-generic x86_64)

[2014-10-27 02:44] cbeck88 opened #164 "fontconfig: errors when compiling documentation"
I'm running Linux Mint 17 (Qiana), I installed linuxbrew by following the instructions here: https://www.digitalocean.com/community/tutorials/how-to-install-and-use-linuxbrew-on-a-linux-vps

Then to bypass the X11 issue I applied a simplified version of this PR:

https://github.com/Homebrew/linuxbrew/pull/64

(my version: https://gist.github.com/cbeck88/1730313897b1562f3488)

I was able to build m

[2014-10-28 17:51] #57 closed, assigned to nobody

[2014-10-29 18:36] #159 closed, assigned to sjackman

[2014-10-29 22:19] cbeck88 opened #167 "brew doctor unhappy even though brew autoconf is my only autoconf"
https://gist.github.com/cbeck88/1e62d92e8eb2b54c40dc

[code]

Pretty minor issue but I thought I would report anyways.

[2014-10-29 23:22] #167 closed, assigned to sjackman

[2014-10-30 18:20] #148 closed, assigned to sjackman

[2014-10-30 22:56] cbeck88 opened #169 "when installing sdl, it always asks me to reinstall autoconf, if autoconf is not presently installed"
(gist-logs: https://gist.github.com/4ea03c436cc62704ebcb)

This only happens with the `--with-x11-driver` option.

[code]

If I install autoconf myself, it then complains about automake and libtool, then it will build successfully after those are installed.

However, it only happens if I build a distant target which needs SDL with this option. If I try to install sdl with the option directly, then

[2014-10-31 00:47] cbeck88 opened #170 "brew gettext doesn't provide libintl.h on linux"
I didn't realize until now, but in trying to configure a different formula, I find that the current gettext tarball 0.19.3 doesn't contain a libintl.h at all, and when I install, my /opt/gettext doesn't have one either. For formulas that need this header, if I don't tell them to search in the gettext keg, they find my system libc6 provided version. For OS X, pointing them explicitly into the gette

[2014-10-31 04:16] scmccoy opened #171 "Unable to bootstrap gcc"
I followed the help on #137 but didn't have the same luck.
From brew doctor:
Warning: An outdated version of Git was detected in your PATH.
Git 1.7.10 or newer is required to perform checkouts over HTTPS from GitHub.
Please upgrade: brew upgrade git

-bash-4.1$ brew upgrade git
Error: git not installed

Then:
-bash-4.1$ brew install git
Error: The Homebrew GCC was not installed.
You must:
  brew i

[2014-10-31 21:47] #170 closed, assigned to sjackman

[2014-10-31 21:51] #169 closed, assigned to sjackman

[2014-11-01 22:10] cbeck88 opened #172 "sdl_image: incorrectly configured to link to my system libpng instead of brew libpng"
I've been having some problems with the sdl_image formula. The problem is that the configuration step causes it to be linked to my system copy of libpng instead of the brew copy, and there are other libs / our actual binary that use libpng which get linked to brew copy of libpng, so we end up with a conflict at the end and get segfaults.

I reproduced this after updating brew just now, reapplying

[2014-11-06 12:03] saketkc opened #173 "gcc: Standalone Installation failure"
This seems to have been failing for me lately. I have been able to run the steps at https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation without any failures on the same cluster earlier.
Is this related to the recent shift to bottles, or am I screwing up some step?

$ brew install gcc --with-glibc -v

[code]

[2014-11-07 00:15] #158 closed, assigned to sjackman

[2014-11-07 00:40] #153 closed, assigned to sjackman

[2014-11-07 00:41] #30 closed, assigned to sjackman

[2014-11-07 00:45] #27 closed, assigned to nobody

[2014-11-09 07:00] saketkc opened #175 "perl: Installation failure"
[code]

[2014-11-09 07:03] saketkc opened #176 "mysql: Installation failure"
Couple of errors:

1.

[code]

2.

[code]

1 is due to a missing `pidof` dependency.
2 is due to mysql requiring a system bundled editline. https://bugs.launchpad.net/percona-server/+bug/1266386
The formula declares it explicitly too: https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/mysql.rb#L67

Our cluster doesn't seem to have `libedit` installed.

[2014-11-10 21:39] rojspencer opened #178 "vim: with clipboard support"
I think I've installed every devel package available for Fedora 20 (may be some hyperbole there) and I cannot get vim to compile with +clipboard.

Any suggestions on what I'm missing?

For what it's worth, on my Macbook Pro I run `brew install vim` and I get +clipboard support without any further effort.

[2014-11-12 10:22] saketkc opened #180 "linuxbrew ignores submodules while copying to temp?"
[code]

All the submodule directories are empty when copied to `/tmp`. For example `ls tmp/sambamba-xfCkEU/htslib` returns nothing.

[2014-11-15 23:22] graydetroit opened #182 "svn: Failed to build"
I'm having an issue installing svn on my Laravel Homestead VM running on osx 10.10.

Here's the [gist](https://gist.github.com/248280fdbfd5c8d3bcf6)

Thanks.

[2014-11-16 14:31] htynkn opened #183 "the Formula of android-sdk didn't work on Ubuntu"
I try to use linuxbrew to install android-sdk on ubuntu but it didn't work.

It try to download a wrong file.

The right link should be `https://dl.google.com/android/android-sdk_r23.0.2-linux.tgz` not `https://dl.google.com/android/android-sdk_r23.0.2-macosx.zip`.

[2014-11-18 01:55] #183 closed, assigned to sjackman

[2014-11-18 21:23] #176 closed, assigned to sjackman

[2014-11-18 22:00] #175 closed, assigned to sjackman

[2014-11-18 23:18] #162 closed, assigned to sjackman

[2014-11-19 00:02] #173 closed, assigned to sjackman

[2014-11-19 00:32] #128 closed, assigned to sjackman

[2014-11-20 00:12] harper357 opened #188 "brewed python on Ubuntu 14.04.1 LTS doesn't include _ssl.so so pip is broken"
Not exactly sure the best way to describe this problem. Even after a clean `brew install python`, there is no _ssl.so in ~/.linuxbrew/Cellar/python/2.7.8_2/lib/python2.7/lib-dynload

This is resulting in pip giving me the following error
[code]

I have the brewed version of Openssl, and there is a system version of Openssl.

gist: https://gist.github.com/1f99d3ef0c1db6836502

[2014-11-20 21:38] kimat opened #189 "cmake: something breaks cmake between 7ea7503 and 4c15d49"
Found while trying to install neovim, here are some of the logs & steps : [brew failing to install neovim](https://gist.github.com/kimat/e5d85fadf745640c2497)

TLDR;
- had to `git reset --hard 4c15d49` in order to `brew install cmake`
- had also to fix some python weirdness
- I also had none of these issues on another vagrant box i ran some days ago with `062bcdd` that's what made me git reset.
-

[2014-11-21 14:22] simonlegrand opened #190 "texlive: brew doctor error in texlive.rb:17 and 18"
Hey,

I am under ubuntu 12.04 and when I run brew doctor (after updating), I get the following error:

[code]

Simon

[2014-11-21 17:20] #189 closed, assigned to sjackman

[2014-11-24 10:41] rampatra opened #191 "To install this formula, you may need to: brew install gcc"
When i run `brew install gcc`, i get the following error:

[code]

Please state where I am going wrong or is there an issue with **linuxbrew**?

[2014-11-24 12:30] #191 closed, assigned to sjackman

[2014-11-24 21:37] #190 closed, assigned to sjackman

[2014-11-25 02:59] jbaum98 opened #192 "Flexible patch location"
I do not have write permissions to `/bin`, or `/usr/bin` but I do to `/usr/local`. My computer does not come with a `patch` program preinstalled, so I succesfully installed `patch` to `/usr/local`. When installing `python`, when it tried to apply the patches it would only look for `/usr/bin/patch`. I manually edited `patch.rb` and changed the two calls to `/usr/bin/patch` which were hardcoded in.

[2014-11-26 00:07] sjackman opened #194 "lua 5.2.3_1: Add -ldl to pkg-config --libs lua"
[code]

[2014-11-26 00:08] #194 closed, assigned to sjackman

[2014-11-27 00:04] njia opened #195 "What does the underscore in package name mean?"
Hi all

Just a question, I would like to understand what does those underscores in package name mean?
Are they beta release? or something else.

Thanks

Few examples here

[code]

[2014-11-27 00:59] #195 closed, assigned to sjackman

[2014-11-28 22:57] #164 closed, assigned to sjackman

[2014-11-28 23:32] #192 closed, assigned to sjackman

[2014-11-30 19:32] #171 closed, assigned to sjackman

[2014-12-01 14:43] ludekvodicka opened #197 "Installation on Ubuntu 10.04 doesn't work"
OS Ubuntu 10.04 32 and 64bit too.

![invalid certificate](http://i.imgur.com/5U8CJMI.png)

(sorry for image, but it's from remote virtual machine and clipboard doesn't work)

[2014-12-01 18:20] #197 closed, assigned to sjackman

[2014-12-02 18:11] #172 closed, assigned to nobody

[2014-12-03 21:49] mrcodydaniel opened #198 "cmake sphinx-build error"
Getting an error with sphinx in cmake 3.0.2 in linuxbrew.  Log below:

[code]

[2014-12-04 22:53] #198 closed, assigned to sjackman

[2014-12-08 21:28] maplesond opened #204 "Java not detected correctly"
In the java_version method of the JavaDependency class, the code does not successfully check whether java is successfully installed or not.

[2014-12-09 02:27] jbaum98 opened #207 "Chromebook wiki page"
Because chromebooks need to bootstrap with Chromebrew and be careful about certain things, maybe I should create wiki page for installing on Chromebooks. Would this be useful/a good idea? Just wanted to check first.

[2014-12-15 19:35] colindean opened #208 "git 2.2.0 requires homebrew/dupes/tcl-tk"
Output of `gist-logs`: https://gist.github.com/anonymous/8962a9d82a7dba3df521

[code]

I'm on Crunchbang 11 on top of Debian Jessie. Fresh installation.

[2014-12-17 16:18] intelligencer opened #210 "can't install SDL"
[code]

[2014-12-18 15:25] btjones16 opened #212 "libffi: glib does not find libffi"
I ran `brew install glib`, and received the linker error "cannot find -lffi." It appears that the libraries are installed to "$(HOMEBREW_HOME)/Cellar/libffi/3.0.13/lib64", but the pkg-config file points to "$(HOMEBREW_HOME)/Cellar/libffi/3.0.13/lib". I updated line 9  of "$(HOMEBREW_HOME)/Cellar/libffi/3.0.13/lib/pkgconfig/libffi.pc" to read "Libs: -L${libdir}64 -lffi", and the problem disappeared

[2014-12-19 03:20] roryk opened #213 "formulas not requiring compilation require gcc"
Formulas like:

https://github.com/chapmanb/homebrew-cbl/blob/master/rna-star.rb

and

https://github.com/chapmanb/homebrew-cbl/blob/master/express.rb

used to install great, but now they are reporting:

[code]

We don't need to compile anything, just download and install. How do I get around this happening? Thanks for all of your hard work, linuxbrew rocks.

[2014-12-21 14:32] jlisic opened #215 "Python 2.7.9 Compiles, but that's about it."
Hi, I am having some issues with Python.  Python itself will compile, but setup.py segfaults and checking the make logs, it appears that readline.h cannot be found.  This is quite odd since readline.h was installed through brew, and I have been able to compile some test programs against it with no issues.

I've tried forcing python.rb to find the include both through adding '-I' for readline to CF

[2014-12-22 05:07] huaoguo opened #216 "auto start script when reboot"
I install redis,nginx by linuxbrew, but I can't make them auto start when reboot.
linuxbrew tell me to use plist, but plist only effect on Mac.

[2014-12-22 19:06] #216 closed, assigned to sjackman

[2014-12-22 21:09] #208 closed, assigned to sjackman

[2014-12-26 17:03] brownbl1 opened #218 "gdal: unrecognized command line option ‘-arch’"
It does not seem like gdal has been effectively or fully ported to build with linuxbrew yet. There are still Mac specific flags being set that cause the build to error out.

Starting on line 275 of the formula seems to be the beginning of the problem for those seeking to build on linux. What should these flags be set to in order to get this build working on linux? It appears that "-arch" is not a

[2014-12-26 21:08] #218 closed, assigned to sjackman

[2014-12-26 22:30] saketkc opened #219 "a2ps: Missing gperf dependency"
[code]

[2014-12-27 06:33] #219 closed, assigned to sjackman

[2014-12-28 19:54] tyilo opened #220 "git requires libcurl to be build"
`brew gist-logs git`: https://gist.github.com/anonymous/209e5a20be5ffb8507ce

I'm using Ubuntu 12.04 and I can't install libcurl with apt-get as I don't have root privileges.
Would it be possible to add a libcurl package to fix this?

[2014-12-28 19:56] tyilo opened #221 "archey is OS X specific"
Should use a linux specific formula instead

[2014-12-28 21:21] #221 closed, assigned to sjackman

[2014-12-28 21:22] #220 closed, assigned to sjackman

[2014-12-29 05:40] #213 closed, assigned to sjackman

[2014-12-29 20:51] #207 closed, assigned to sjackman

[2014-12-29 20:53] jbaum98 opened #223 "Upgrading binutils, gcc on standalone"
Because Homebrew unlinks them before the upgrade, there is no available binutils or gcc to actually install the new version.

[2014-12-31 05:09] hutson opened #224 "openssl: install fails on 32-bit system"
Ran into the following while attempting to install OpenSSL via `brew install openssl`:

[code]

I originally came upon #25 but that doesn't seem related.

To get OpenSSL to compile on my system I made the following change to the formula:

[code]

[2014-12-31 23:38] #224 closed, assigned to sjackman

[2015-01-04 21:51] maurizi opened #230 "libgcrypt fails to build on Ubuntu 14.10"
This is with version `1.6.2` of `libgcrypt`.  Discovered when attempting to install `pianobar`

https://gist.github.com/38a7178239568f946cd2

[2015-01-05 05:43] sjackman commented on #230
I'm seeing three failed tests as well. You should report this issue upstream to http://bugs.gnupg.org

[code]

[2015-01-05 05:43] sjackman commented on #230
As a work around you can `brew edit libgcrypt` and delete the line `make check`.

[2015-01-05 05:43] #230 closed

[2015-01-08 03:56] hbetts commented on #156
@saqihel the custom version of `dumpversion` in gfortran has been removed as of version 4.5 according to [GNU bug 41080](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=41080).

Your workaround is sufficient in the short term (I'm actually using a similar approach for a RHEL box), but long-term the solution is to upgrade your operating system.

As of this writing, gfortran v4.8 is available in CentOS

[2015-01-08 04:17] hbetts opened #232 "qt: No such file or directory"
[code]

[2015-01-08 04:21] hbetts opened #233 "qt5: Xcode Requirement"
[code]

I don't believe this requirement can be satisfied on a Linux machine.

[2015-01-08 04:46] hbetts commented on #188
@sjackman I haven't tried crossing my fingers yet, but after several re-installations of Python the installation has just decided to work.

The only difference in my process is to install `brew install openssl` first, then install python via `brew install python --with-brewed-openssl`.

[2015-01-08 19:12] sjackman commented on #156
In scientific computing we're often stuck with woefully out of date operating systems on our clusters, that admins refuse to upgrade. I'm on CentOS 5.10, for example, with GCC 4.4. That's the whole reason of being for Linuxbrew, to be able to install a modern toolchain and software on an old operating system.

[2015-01-08 22:52] sjackman commented on #188
Glad to hear that you got it working! Python doesn't have a `--with-brewed-openssl` option though. I wonder if that option might have applied to one of its dependencies. It uses the brewed openssl by default.

[2015-01-08 22:52] #188 closed

[2015-01-09 00:29] dpo opened #235 "Formula updates"
What's the policy for how/how often updated to the the formulas from core are brought over here? For example, there's been an update to `openssl` in core today, but it's not yet reflected in Linuxbrew.

[2015-01-09 00:30] sjackman commented on #235
The policy is I merge nominally every Monday.

[2015-01-09 00:49] sjackman commented on #235
I've merged now for the security update.

[2015-01-09 00:49] #235 closed

[2015-01-09 22:49] tinyheero opened #236 "glibc: "Inconsistency detected by ld.so" error"
Hi,

I am trying to get pandoc install using linuxbrew. I first performed a:

Which was successful giving me gcc 4.9. Then I proceeded to perform:

[code]

I thought maybe the solution would be:

[code]

Running:

[code]

Any ideas what is wrong?

Thanks

[2015-01-09 23:46] sjackman commented on #236
It's not possible (I don't think) to install `glibc` on an existing Linuxbrew install. To install `glibc`, start with a fresh install of Linuxbrew and follow the [standalone installation instructions](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation).

[2015-01-09 23:46] #236 closed

[2015-01-10 04:21] tinyheero commented on #236
Great that worked thanks!

[2015-01-10 05:04] hbetts commented on #156
What would you suggest as a resolution to this issue? Would a note of the gfortran difference suffice? Request that, if `gfortran --version` reports earlier than 4.5, use such-and-such symlink approach, else use the other?

[2015-01-10 07:38] tinyheero commented on #143
Hi,

Has there been any updates on this issue? I am also trying to install pandoc through linuxbrew and running into issues. I've followed the instructions found at https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation to do a stand-alone installation of linuxbrew.

When doing the pandoc installation, it tries to build the ghc. The brew gist-logs ghc can be found here: https://gist.gi

[2015-01-10 18:16] sjackman commented on #143
It looks as though gmp is not installed. Please report the output of `brew install gmp`.

[2015-01-10 19:33] tinyheero commented on #143
When running `brew install gmp`, I get the message `Warning: gmp-6.0.0a already installed` Seems that it may not see it?

[2015-01-10 19:33] saketkc commented on #143
I  can reproduce this error.
[code]

[2015-01-10 21:50] sjackman commented on #156
Follow these instructions:
[To use GCC 4.4 on CentOS 5](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation#to-use-gcc-44-on-centos-5)

[2015-01-10 21:58] sjackman commented on #143
Try `ln -s libgmp.so.10 ~/.linuxbrew/lib/libgmp.so.3`

[2015-01-10 22:38] tinyheero commented on #143
Got a little further with that symlink set. But ran into an another set of errors.

[code]

Gist log can be found here: https://gist.github.com/anonymous/6968396933730f9e275c

[2015-01-10 22:47] tinyheero commented on #143
Issue seems to be related the step where it calls `/usr/bin/dblatex` which tries to import dbtexmf.dblatex. Seems like someone else has run into this [issue](https://blog.lnx.cx/2009/12/04/installing-dblatex-from-the-latest-macports/).

Seems like we need to install python and get this python library installed.

[2015-01-10 23:26] tinyheero commented on #143
I finally got the ghc installation completed. I did a `brew install python && pip install dblatex && brew install ghc`

[2015-01-10 23:30] sjackman commented on #143
Which host package provides `dblatex`? Please report `dblatex --version`. You might try `brew install texlive`.

[2015-01-10 23:31] sjackman commented on #143
Great! Glad to hear it. Please disregard my previous comment.

[2015-01-10 23:31] #143 closed

[2015-01-10 23:47] tinyheero opened #237 "cabal-install: failed to build"
Hi,

Trying to `brew install cabal-install` failed with the error `/usr/bin/ld: unrecognized option '-plugin'`

Gist log can be found here: https://gist.github.com/bda7650ba8f5916b81e8.

Should it be using the ~/.linuxbrew/bin/ld instead of /usr/bin/ld?

[2015-01-11 00:21] tinyheero commented on #237
Issues seems to be that the linuxbrew gcc is not using the linuxbrew ld. Based on this [thread](http://ubuntuforums.org/showthread.php?t=711835), I did the following:

[code]

Following this, `brew install cabal-install` was successful

[2015-01-11 00:36] sjackman commented on #237
Are you using a [Standalone Installation](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) of Linuxbrew? It builds GCC using [--with-build-time-tools](https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/gcc.rb#L108), but maybe that doesn't affect run time? In any case, thanks for the work around. Nice find.

[2015-01-11 00:38] tinyheero commented on #237
Yes. I am using the standalone installation of linuxbrew which is why I was surprised it couldn't find the proper linker.

[2015-01-11 03:31] DiagonalArg opened #238 "fatal: unable to access ... linuxbrew.git: error setting certificate verify locations ..."
brew update is failing:

    fatal: unable to access 'https://github.com/Homebrew/linuxbrew.git/': error setting certificate verify locations:
      CAfile: /home/<me>/.linuxbrew/etc/openssl/cert.pem
      CApath: none
    Error: Failure while executing: git pull -q origin refs/heads/master:refs/remotes/origin/master

But ~/.linuxbrew/etc/openssl/cert.pem definitely exists.

Is this related to iss

[2015-01-11 05:20] tinyheero opened #239 "gcc: Standalone Installation of Linuxbrew fails"
Hi,

I was able to get this working yesterday using the same instructions found at https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation. But for whatever reason today, the step `brew install gcc --with-glibc -v` doesn't seem to want to complete even on the same machine now...

The gist log can be found here: https://gist.github.com/anonymous/af1d8f05a268c19f1cc0

Based on another (is

[2015-01-11 05:42] heejongahn opened #240 "ruby : problem with rails"
Hi. I'm running Ubuntu Server 14.04.1 LTS on my VirtualBox VM (my physical machine is using Windows 8.1) and I have a problem with rails (on my VM). I downloaded ruby 2.2.0p0 using linuxbrew and ran `gem install rails` and `bundle` in my Rails project folder. After that, I tried to `rails server` but following message came out :

[code]

To find out what's happening, I inserted `puts APP_PATH` aft

[2015-01-11 05:46] hbetts opened #241 "readline: C compiler cannot create executables"
`readline` installation fails due to _C compiler cannot create executables_ error.

[code]

I had already setup symlinks according to [Create symlinks for gcc](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation#create-symlinks-for-gcc)

Running the same brew command with `--env=inherit` I was able to successfully install `readline`:

[code]

Please let me know if I should retest an

[2015-01-11 20:59] tinyheero commented on #239
I was able to solve this issue with doing a `export HOMEBREW_BUILD_FROM_SOURCE=1` right from the beginning of the standalone installation. Looking back, it must be one of the bottles as mentioned https://github.com/Homebrew/linuxbrew/issues/173. I am also not sure which bottle it is.

[2015-01-11 20:59] #239 closed

[2015-01-12 05:50] sjackman commented on #237
That is odd. I haven't run into that issue. It may be an issue specific to `cabal-install`.

[2015-01-12 05:53] sjackman commented on #238
Can you report the output of `brew postinstall openssl` and `brew test openssl`?

[2015-01-12 05:56] sjackman commented on #240
Did you install the readline packages using your host package manager or brew? Try `brew install readline`?

I'm afraid I don't have enough time to troubleshoot individual formula. Please post the workaround or solution if you find one.

[2015-01-12 05:58] sjackman commented on #241
Please post these logs in a gist.
[code]

[2015-01-12 05:59] sjackman commented on #239
Thanks for the feedback. I'd be interested to know which bottle is causing the trouble, if you figure it out.

[2015-01-12 06:03] sjackman commented on #239
`<built-in>: internal compiler error: Illegal instruction`

Ah, apparently I'm compiling for an instruction set that your machine does not support. I believe the default target machine is Intel Core2 `-march=core2`.

[2015-01-12 07:41] tinyheero opened #242 "r: fails to install complaining about lack of X11"
Hi,

Trying to get R installed using linuxbrew by going:

[code]

But I end up getting an error `configure: error: --with-x=yes (default) and X11 headers/libs are not available`. Gist logs can be found here: https://gist.github.com/anonymous/88e66834c5d72c3fb4f2

Looking around on existing issues https://github.com/Homebrew/linuxbrew/issues/39, it seems that a solution may be to remove the depende

[2015-01-12 10:38] yawara opened #243 "git compilation fails"
I try to install Git using Linuxbrew because my brewdoctor says
[code]

The compilation fails...build logs here
https://gist.github.com/anonymous/74e36821aed14f7da757

[2015-01-12 11:52] DiagonalArg commented on #238
@sjackman - here you go!

    ~$ brew postinstall openssl
    ==> Downloading http://curl.haxx.se/ca/cacert.pem
    ################################################################################################################################################################## 100.0%
    ~$ brew test openssl
    Testing openssl
    ==> /home/me/.linuxbrew/Cellar/openssl/1.0.1j/bin/openssl dgst -s

[2015-01-12 14:47] heejongahn commented on #240
I installed several readline packages already - I tried `brew install readline` too. Anyway I'll keep try to find a solution and if I do, I'll post it here. Thanks for your reply!

[2015-01-13 22:35] sjackman commented on #240
Try `brew install homebrew/dupes/ncurses`

[2015-01-13 23:06] sjackman commented on #242
The workaround is to install R without X11: `brew install r --without-x11`

Try installing the X11 developer package using your host's package manager:
`sudo apt-get install xorg-dev`

[2015-01-14 04:39] dctrud opened #244 "Separate, explicit mention of gcc symlinking needed?"
Use case is linuxbrew for users to install software in homedirs on a shared HPC system running RHEL6/CentOS6. Lack of gcc-version symlink in OS gcc packages means brew won't install things until such a symlink is made. The symlink instructions are currently buried in the standalone installation page, leading to some people trying to follow the whole stand-alone procedure, which causes more confusi

[2015-01-14 19:09] sjackman commented on #238
Perhaps it's a permissions issue? It seems unlikely, but it's worth checking.
[code]

Also a shot in the dark, but you can try…
[code]

[2015-01-14 23:23] sjackman commented on #244
Yes, good idea. Linking was only necessary before if you wanted to override the default `/usr/bin/gcc` provided by your system, but I believe it's mandatory now on systems that don't provide a `/usr/bin/gcc-4.?` compiler. Debian does. I think Fedora and CentOS does not.

[2015-01-14 23:26] dctrud commented on #244
Yes, mandatory on at least CentOS6/7 and Fedora20/21 that I've tried
recently. I can create a PR if wanted?

On Wednesday, January 14, 2015, Shaun Jackman <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-01-14 23:56] sjackman commented on #244
Sure. The installer should handle this eventually, but updating docs is quicker.

[2015-01-15 09:44] miheerdew opened #247 "Create more man dirs"
Hi,

I am not entirely sure of the issue here. I started with `ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/linuxbrew/go/install)"` and then a `brew install npm`. Everything was fine.

Then I did a `brew install ocaml`, however it failed in a link error  `File exists - ~/.linuxbrew/share/man/man3`

Unlinking `npm`, creating the directories ```~/.linuxbrew/share/man/man{2..8}```

[2015-01-15 09:46] DiagonalArg commented on #238
@sjackman - thanks for your response.  I have checked each of the files/directories, and I have rw permission for first 5 and execute permission for all but the first.

Also, I tried your shot in the dark, but no luck.  I get the same result when I try "brew update".

[2015-01-15 10:10] mikemcquaid opened #248 "Please disable Linuxbrew's Travis from emailing Homebrew committers"
Thanks!

[2015-01-16 00:24] paulhybryant commented on #212
I run into the same issue.

Shouldn't a symlink libffi.so be created in .linuxbrew/lib for libffi.so.x.x.x?

[2015-01-16 07:14] usharf opened #250 "android-sdk build-tools can't be run"
Most of the build-tools (aapt, aidl, dexdump) give this error message when executed:

[code]

The file(s) are there:
[code]

Ubuntu 14.10. My .bashrc contains:
[code]

[2015-01-16 10:09] usharf commented on #250
Some tools require 32bit support.

[code]

[2015-01-16 10:09] #250 closed

[2015-01-16 21:18] #248 closed

[2015-01-16 23:14] #232 closed

[2015-01-16 23:24] #242 closed

[2015-01-16 23:25] sjackman commented on #243
`error: openssl/ssl.h: No such file or directory`

Try `brew install git --with-brewed-openssl`.

[2015-01-16 23:25] #243 closed

[2015-01-16 23:25] sjackman commented on #244
Fixed by 63b1cd37d84e6d1ce57d8a118edfa77e05d66162.

[2015-01-16 23:25] #244 closed

[2015-01-16 23:31] sjackman commented on #247
I really don't know what went wrong here, but based on your description, I'm going to guess that it's a bug in the `node` formula. I also think it's likely not specific to Linuxbrew, but affects Homebrew as well. I'm going to close this issue as wontfix. I'm glad that you found a workaround.

Note that `npm` is an alias for `node`. See https://github.com/Homebrew/homebrew/blob/master/Library/Formu

[2015-01-16 23:31] #247 closed

[2015-01-16 23:32] sjackman commented on #237
Thanks for the bug report, Fong. I'm going to close this issue as wontfix, because I don't have the time to troubleshoot it. I'm glad that you found a workaround.

[2015-01-16 23:32] #237 closed

[2015-01-16 23:36] #233 closed

[2015-01-16 23:37] #178 closed

[2015-01-16 23:37] sjackman commented on #180
Does this issue still affect you, Saket?

[2015-01-16 23:39] sjackman commented on #204
Fixed by 6a95075

[2015-01-16 23:39] #204 closed

[2015-01-16 23:41] sjackman commented on #250
Thanks for finding and posting the solution.

[2015-01-16 23:44] sjackman commented on #238
Can you try `wc /home/me/.linuxbrew/etc/openssl/cert.pem`.

[code]

[2015-01-16 23:50] #212 closed

[2015-01-17 00:17] #180 closed

[2015-01-17 00:17] saketkc commented on #180
Closing, since no longer reproducible.

[2015-01-17 13:11] DiagonalArg commented on #238
Wow.  Nothing there!  (Empty file.)

How do I fix that?

[2015-01-17 17:27] mikemcquaid commented on #248
Thanks @sjackman!

[2015-01-17 21:12] RonnyPfannschmidt opened #252 "nettle 2.7.1: Gnutls configure script fails after not finding the brew installed nettle"
[code]

[2015-01-17 21:28] RonnyPfannschmidt commented on #252
[code]
fixed it, i suspect lib64 isn't taken into account when brew links pkg-congfig files?
im not fluent enough in the details to fix it

[2015-01-17 22:31] RonnyPfannschmidt commented on #252
another `[us ~/.linuxbrew/lib]$ ln -s ../Cellar/nettle/2.7.1/lib64/*.so* .*a .` was needed as well

[2015-01-18 03:00] hbetts commented on #241
@sjackman,

I re-ran `brew install readline --verbose`, and the logs can be found here:

[https://gist.github.com/hbetts/198c4ab7173f1754e0b4](https://gist.github.com/hbetts/198c4ab7173f1754e0b4)

[2015-01-19 19:13] sjackman commented on #238
Try…
[code]

[2015-01-20 01:34] #252 closed

[2015-01-20 01:35] sjackman commented on #252
Thanks for the helpful bug report.

[2015-01-20 01:40] sjackman commented on #241
I missed this last time: `checking host system type... i686-pc-linux-gnu`
Are you on a 32-bit system?

[2015-01-20 01:41] sjackman commented on #241
Linuxbrew doesn't support 32-bit systems, that is, I don't support 32-bit systems, because I don't have one to test on. If you're able to fix this issue, I will merge well-thought-out pull requests to support 32-bit systems.

[2015-01-20 01:41] #241 closed

[2015-01-20 07:04] tkling commented on #240
For the readline problem - try running `bundle exec rake rails:update:bin` instead of just `rake rails:update:bin`. It ensures all of the gems in your Gemfile are available to the command, sometimes helps in moments like this when it seems like a dependency should have been loaded.

http://bundler.io/v1.7/bundle_exec.html

[2015-01-20 07:51] heejongahn commented on #240
@sjackman 'brew install homebrew/dupes/ncurses' didn't solve the problem.. but thanks!

@tkling Actually I tried some more thing but I couldn't find a solution so now I removed ruby from linuxbrew and just got back to the rvm. However when I come back to this issue or face other problems such as this, I guess your comment will be helpful. Thanks man!

[2015-01-20 18:34] sjackman commented on #240
Using `rvm` is a workaround, I suppose, so I'm closing this issue as *wontfix* for now. I'd be interested in hearing the solution if you find one.

[2015-01-20 18:34] #240 closed

[2015-01-21 04:25] paulhybryant opened #253 "dos2unix: ld cannot find -lintl when installing dos2unix"
Have gettext installed already.

The error is ld cannot find -lintl.

Removing -lintl from the formula and it installs fine.

The formula (without modification) works on mac osx, but not ubuntu

Any dependency I am missing for dos2unix?

Thanks,

[2015-01-21 08:03] usharf opened #254 "Emacs --with-x11 : recipe for target 'temacs' failed"
Getting this error about system type (and src/macfont.m) when building on Ubuntu 14.10.

[code]

when building Emacs like this:
[code]

[2015-01-21 08:19] usharf commented on #254
To be more specific, it does not build with `--with-x11'.

Also, building with `librsvg' support requires `flex' (`brew install flex') and `python' (did not try).

[2015-01-21 08:30] saketkc commented on #254
It could possibly because of a missing dependency as listed on here:
http://www.emacswiki.org/emacs/BuildingEmacs

[2015-01-21 08:56] usharf commented on #254
I've tried after `apt-get build-dep emacs24` but stiil:

[code]

[2015-01-21 08:58] saketkc commented on #254
Can you post the output of `brew gist-logs emacs`?

[2015-01-21 09:05] usharf commented on #254
Here https://gist.github.com/dcb5525a9634696a8558

PS

About the brew-doctor warning about $PATH order, it's wrong. linuxbrew/bin comes after, thought there are couple of paths generated by `rbenv` which are inserted before the system path.

[code]

[2015-01-21 09:50] saketkc commented on #254
Sorry I should have asked forx `brew gist-logs  emacs --with-gnutls --with-imagemagic  --with-x11`

About the warning, it should ideally be:
export PATH="$HOME/.linuxbrew/bin:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools:$PATH"

It is recommended to have linuxbrew/bin appear at the start of your `$PATH`, not the other way round.

[2015-01-21 10:04] usharf commented on #254
Of course! wasn't paying attention :( will fix.

https://gist.github.com/anonymous/53220a11b28489c76354

[2015-01-22 01:23] #253 closed

[2015-01-22 01:33] sjackman commented on #254
It looks as though you're using headers from one version of libpng but libraries from a different version.

https://gist.github.com/anonymous/53220a11b28489c76354#file-02-make-L929-L936
[code]

[2015-01-22 01:35] sjackman commented on #254
You can try `brew unlink libpng` before installing emacs to compile using your host system's libpng.

[2015-01-22 07:37] usharf commented on #254
It works! Looks ugly though... is there a way to pass config options like `--with-x-toolkit=gtk3`?

Thank you.

[2015-01-22 07:37] #254 closed

[2015-01-22 17:44] sjackman commented on #254
Yeah! Glad that you got it working.

Only `brew edit emacs`. FAQ: https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/FAQ.md#how-can-i-specify-different-configure-arguments-for-a-formula

[2015-01-23 10:27] DiagonalArg commented on #238
If I understood anything at all about how this all work, I _know_ I could have figured that out!  (Feeling a bit stupid now.)

Thank, man.

[2015-01-23 10:27] #238 closed

[2015-01-23 17:36] sjackman commented on #238
No worries. Glad we sorted it out.

[2015-01-23 18:41] LeeBergstrand opened #256 "google-perftools 2.4: Checking if nanosleep requires any libraries... configure: error: cannot find the nanosleep function"
Linux Configuration

---

Distributor ID: Ubuntu
Description:    Ubuntu 14.04.1 LTS
Release:    14.04
Codename:   trusty

---

[code]

[2015-01-23 18:42] LeeBergstrand commented on #256
Error when brew installing google-perftools.

[2015-01-23 20:44] saketkc commented on #256
I think it is this: https://bugs.launchpad.net/ubuntu/+source/gcc-4.6/+bug/1269803

[2015-01-23 22:33] paulhybryant opened #257 "python: get undefined symbol: PyUnicodeUCS2_FromUnicode"
Adding `--enable-unicode=ucs4` in configure argument solved this (line 3 in the following)

[code]

[2015-01-25 00:29] slimjim2234 opened #259 "John-jumbo: gmp.h: No such file or directory"
Installation failed on linux/ubuntu.  Can't find gmp.h and gmp is installed.

[code]

with -dv

[code]

[2015-01-25 09:41] Mikaela opened #260 "armv7l (Sailfish) support"
*I think I am on wrong issue tracker, but I am not fully sure and if I am please tell me and I will go to another one (homebrew?).*

I tried to install linuxbrew on Sailfish so I could install tmux more easily, but it gave me error message.

[code]

However Sailfish doesn't differ so much from other Linux distributions and I was able to install tmux by myself with `pkcon install libcurses-devel li

[2015-01-26 22:04] usharf opened #265 "Can't exec mosh-client Permission denied"
Getting this when trying to run `mosh`, which installed successfully.

[code]

See maybe https://github.com/keithw/mosh/issues/281

[2015-01-29 20:26] paulhybryant opened #267 "harfbuzz 0.9.38 failed to compile"
Gist log:
https://gist.github.com/a0eaae4712663dd87ba2

glib is installed but the error says glib.h cannot be found.

[2015-01-30 01:55] paulhybryant commented on #267
Closing this as this is because my linuxbrew installation is messed up.

[2015-01-30 01:55] #267 closed

[2015-01-30 14:35] usharf commented on #254
PS Seems to compile with GTK3 if I export `PKG_CONFIG_PATH= /usr/lib64/pkgconfig:/usr/share/pkgconfig:$PKG_CONFIG_PATH` with '--env=inherit'

[2015-01-30 18:31] sjackman commented on #260
I have no plans to support ARM processors for now. Sorry. Feel free to submit a pull request if you do the porting work yourself.

[2015-01-30 18:39] Mikaela commented on #260
What does it take if e.g. tmux compiles without linuxbrew without issues? Isn't everything compiled from source?

[2015-01-30 20:19] paulhybryant opened #268 "Scrollkeeper looks for only docbook 4.2 and 4.1.2 but docbook install only registered 5.0"
In $HOME/.linuxbrew/etl/xml/catalog,
The following line exists after installing docbook
  <nextCatalog catalog="file:///usr/local/google/home/yuhuang/.linuxbrew/Cellar/docbook/5.0/docbook/xml/5.0/catalog.xml"/>

But scrollkeeper's configure is looking for only 4.2 and 4.1.2

[2015-01-30 20:21] paulhybryant commented on #268
Forget it. This seems to be fixed. Reinstalling docbook and it works fine. Sorry...

[2015-01-30 20:21] #268 closed

[2015-02-02 17:27] sjackman commented on #260
Yes, everything is built fro source. Porting Linuxbrew to ARM is a manageable task. I just don't have the time to do it.

[2015-02-02 17:34] sjackman commented on #268
Thanks for the follow up.

[2015-02-02 17:43] sjackman commented on #254
Thanks for the follow up. I generally prefer using Homebrew libraries over system libraries, but in this case the header/library mix up is causing trouble.

[2015-02-02 17:44] Mikaela commented on #260
I thought that Ruby is platform-indepent or at least I haven't compiled anything or done anything else than git clone.

[2015-02-02 17:44] sjackman commented on #267
Thanks for the follow up.

[2015-02-02 17:46] sjackman commented on #260
Ruby is portable, but Homebrew is not. Homebrew and LInuxbrew currently only support Intel CPU.

[2015-02-02 17:48] sjackman commented on #265
I believe that `mosh` is installed correctly and that this is a configuration issue.

[2015-02-02 18:01] Mikaela commented on #260
Ah, I  see.

[2015-02-02 18:04] sjackman commented on #257
Is the default `ucs2` then? Which Linux distribution are you using? I haven't run into this issue myself, so I won't merge this patch. If you like, you could submit a PR upstream to Homebrew that adds an option to switch between `ucs2` and `ucs4`.

[2015-02-02 18:06] sjackman commented on #256
You can try `brew install gcc`.

[2015-02-02 18:07] sjackman commented on #256
I'm closing this issue. Feel free to reopen it if the above suggestion does not work.

[2015-02-02 18:35] LeeBergstrand commented on #256
syntax@JVHLabVM:~$ brew install gcc
Warning: gcc-4.9.2_1 already installed

I also brew uninstall gcc and still got the same error as above.
My built in gcc is gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1)

[2015-02-02 18:40] LeeBergstrand commented on #256
Re-brew installed gcc. Lets, see if that works.

[2015-02-02 22:27] sjackman commented on #256
Try `brew install google-perftools --cc=gcc-4.9`

[2015-02-03 04:25] LeeBergstrand commented on #256
Same Error:

brew install google-perftools --cc=gcc-4.9
==> Downloading https://googledrive.com/host/0B6NtGsLhIcf7MWxMMF9JdTN3UVk/gperftools-2.4.tar.gz
Already downloaded: /home/syntax/.cache/Homebrew/google-perftools-2.4.tar.gz
==> ./configure --prefix=/home/syntax/.linuxbrew/Cellar/google-perftools/2.4
checking for __builtin_expect()... yes
checking for __environ... yes
checking for __thread...

[2015-02-03 04:28] LeeBergstrand commented on #256
Still same error:

brew install google-perftools --cc=gcc-4.9
==> Downloading https://googledrive.com/host/0B6NtGsLhIcf7MWxMMF9JdTN3UVk/gperftools-2.4.tar.gz
Already downloaded: /home/syntax/.cache/Homebrew/google-perftools-2.4.tar.gz
==> ./configure --prefix=/home/syntax/.linuxbrew/Cellar/google-perftools/2.4
checking for __builtin_expect()... yes
checking for __environ... yes
checking for __thre

[2015-02-03 04:32] LeeBergstrand commented on #256
I did some quick searches for the code producing this message. May be useful.

https://github.com/frankee/Cetty/blob/8ad3d1adb321a68a1505d59656b4f9dde8b46efb/thirdparty/google-perftools-1.7/m4/acx_nanosleep.m4

[2015-02-03 04:35] LeeBergstrand commented on #256
From source code of google-perftools 2.4:

# Check for support for nanosleep.  It's defined in <time.h>, but on
# some systems, such as solaris, you need to link in a library to use it.
# We set acx_nanosleep_ok if nanosleep is supported; in that case,
# NANOSLEEP_LIBS is set to whatever libraries are needed to support
# nanosleep.

AC_DEFUN([ACX_NANOSLEEP],
[AC_MSG_CHECKING(if nanosleep requires

[2015-02-03 04:37] LeeBergstrand commented on #256
From source code of google-perftools 2.4:

[code]

[2015-02-03 05:16] saketkc commented on #256
Isn't it explained by https://bugs.launchpad.net/ubuntu/+source/gcc-4.6/+bug/1269803

[2015-02-03 19:36] sjackman commented on #256
He's compiling with GCC 4.9 though.

[2015-02-03 19:37] sjackman commented on #256
I'm back from vacation and can confirm that I see the same error.

[2015-02-03 19:40] sjackman commented on #256
That is a good lead though, Saket. Oddly `_GLIBCXX_USE_NANOSLEEP` *is* defined for me.

[code]

[2015-02-03 20:34] mikemcquaid commented on #248
Still getting these.

[2015-02-03 20:37] sjackman commented on #248
Sorry, Mike. I'm not receiving the emails any more. The `travis.yml` includes [`notifications: email: false`](https://github.com/Homebrew/linuxbrew/blob/master/.travis.yml#L13-L14). Can you post a snippet of the email that may help track down why you're still getting them?

[2015-02-03 20:44] mikemcquaid commented on #248
Gist of the source: https://gist.github.com/mikemcquaid/01e7e009a3446deda275

[2015-02-03 21:35] sjackman commented on #248
Okay. I sorted it out. I have a `homebrew` branch that tracks `homebrew/master`, and it doesn't have a `.travis.yml` file, hence also no `notifications: email: false` setting. I enabled `Build only if .travis.yml is present` at https://travis-ci.org/Homebrew/linuxbrew/settings.

[2015-02-03 21:36] mikemcquaid commented on #248
Thanks!

[2015-02-04 00:21] paulhybryant commented on #257
I am not sure what the default is. My OS is ubuntu trusty.

[2015-02-04 00:30] sjackman commented on #257
I've used Linuxbrew on Trusty and haven't run into this issue myself.

[2015-02-04 00:30] #257 closed

[2015-02-04 00:31] sjackman commented on #257
Are you using the Ubuntu Python package, or did you compile Python yourself?

[2015-02-04 03:57] compoundpaths opened #271 "nginx: Launchctl"
To have launchd start nginx at login:
[code]

all is well & good with the non-sudo nginx command, however, I am finding the LaunchAgent to be failing when rebooting the machine.  relatively new to linux, so I am not sure whether or not I am missing something obvious... should i even bother with nginx through linuxbrew?

[2015-02-04 05:28] paulhybryant commented on #257
I think it is because of the python I have. Tried in another ubuntu and it installs fine. Thanks!

[2015-02-04 17:38] sjackman commented on #271
That message regarding launchctl is intended only for Mac OS. I've disabled this message for Linuxbrew now. You can definitely install nginx using Linuxbrew, but you'll have to read your distro's documentation to configure it to launch on startup.

[2015-02-04 17:38] #271 closed

[2015-02-06 19:48] alexpenson opened #274 "mercurial failed to brew on linux"
https://gist.github.com/anonymous/5f65a80a667cea6fcf11

[2015-02-06 20:09] sjackman commented on #274
Mercurial requires Python.
`error: Python.h: No such file or directory`
Run
`brew install python`

[2015-02-06 20:09] #274 closed

[2015-02-07 18:35] ylluminate opened #276 "/usr/local Installation with `brew` group permission?"
I run a few servers and would like to provide more *up-to-date* utilities server wide on this pain in the butt CentOS server.  The real solution, in my mind, is to operate similar to RVM wherein we would provide a `brew` user group and just add users to that who can / should be able to interact with brew itself, otherwise, if not in the `brew` group, they'd just install their own home based linuxb

[2015-02-08 01:00] ylluminate commented on #276
I wonder if a temporary workaround would be to to install this as one of my admin accounts (not root) as per the normal process and then symlink it over to /opt/linuxbrew and subsequently add this path to user accounts via `/etc/profile.d/extrapaths.sh` and `/etc/zshenv`.  Going to fiddle a little here and see what works.

[2015-02-08 01:05] saketkc commented on #276
I am not aware of any existing way to do this, but won't just sourcing the `~/.bashrc ` of the user who installed `linuxbrew` work?

[2015-02-08 01:48] ylluminate commented on #276
So far so good:
[code]
Add:
[code]

Then `nano /etc/zshenv` and append:
[code]

[2015-02-08 05:00] ylluminate opened #278 "Log location on Linux should be moved to be related to the linuxbrew folder"
While I understand the `~/Library/Logs` location for OS X, on Linux I believe that the location should be set differently.  To me it would more sense for it to be located within the linuxbrew folder under `log` or `var/log`.

It doesn't appear that there is a documented setting for this `HOMEBREW_LOGS` variable as found in the `global.rb`.  I would have thought that that should be noted in the man

[2015-02-08 05:03] ylluminate opened #279 "ffmpeg fails to configure due to ongoing tmp folder issues"
After a bit of an issue with `pkg-config` where I had to repoint the tmp folder to the linuxbrew tmp folder, I ended up getting a problem with `ffmpeg` configuration:

[code]

After I found that the logging was in the OS X location and fixing it so that the logs are within the linuxbrew folder that makes more sense on Linux, I ended up seeing another issue where I believe that the HOMEBREW_TEMP fo

[2015-02-08 05:19] ylluminate commented on #279
So something is indeed causing this to want to use `/tmp` still instead of the tmp set via HOMEBREW_TEMP.  When I issued a `sudo mount -o remount,exec /tmp` and checked the mount points, it was fine and the compilation of `ffmpeg` proceeded without a hitch.

We need to figure out a way to make sure that we are able to use another tmp folder because using /tmp all the time without `noexec` is just

[2015-02-08 19:36] paulhybryant opened #281 "ossp-uuid conflicts with libuuid"
The package is installed fine but the symlink to the binary "uuid" is not created.
Is this intended?

Thanks,

[2015-02-11 00:34] sureleo commented on #218
Hey, I tried install gdal yesterday but still the same issue. I modified line 275 and 293 it works fine. Can I make a pull request?

[2015-02-11 16:38] ylluminate opened #283 "pkg-config issues"
I just experienced an interesting issue wherein `pkg-conf` did not pick up the system libcurl libraries and was hopeful that someone could enlighten me as to how we might properly address this behavior perhaps better than the way that I resolved the problem:
https://github.com/phusion/passenger/issues/1355#issuecomment-73828653

My main goal is to not have this happen again and so it would be good

[2015-02-14 16:41] bukzor opened #284 "brew search suggests installing a cask"
I was just trying to see if linuxbrew would help install virtualbox. I followed the on-screen suggestions, but they lead in a circle.

[code]

[2015-02-15 15:05] Pfeil commented on #284
Because brew on mac only provides terminal applications, there is an extension called cask to install sandboxed mac applications. I'm not sure whether cask wants to offer binary applications for other systems. Anyway, on my Mac I can view the formula, and it only provides a .dmg for OSX:

    Pfeil ~> brew cask cat virtualbox
    cask :v1 => 'virtualbox' do
      version '4.3.22-98236'
      sha25

[2015-02-15 16:49] bukzor commented on #284
I was using 'brew info'.
On Feb 15, 2015 7:05 AM, "Andreas Pfeil" <notifications@github.com> wrote:

[2015-02-15 17:58] Pfeil commented on #284
Yes. I have no idea why homebrew and linuxbrew show casks without brew-cask being installed (but I can confirm it), but they are OSX-specific. More information to cask: https://github.com/caskroom/homebrew-cask

I think the only issue here is that brew shows casks by default. Especially on linux.

[2015-02-18 02:06] DiagonalArg opened #285 "newt error on brew update"
brew gist-logs newt

https://gist.github.com/anonymous/6829cfb8b49a2bb4afab

---------------

[code]

[2015-02-18 02:09] DiagonalArg commented on #285
Ubuntu 14.04, 64 bit.

[2015-02-18 07:47] usharf opened #286 "tarsnap dependencies"
tar snaps needs this deps to compile on Debian/Ubuntu: libssl-dev, zlib1g-dev, and e2fslibs-dev, or glibc-devel, openssl-devel, zlib-devel,  e2fsprogs-devel RedHat/SUSE...

source https://www.tarsnap.com/download.html

[2015-02-18 17:08] billp commented on #112
Are there any news for support for armv7? Raspberry Pi 2 is available (armv7, 4 cores) and I thing this feature is a must

[2015-02-18 17:12] billp opened #287 "sshfs issue"
I'm trying to install sshfs but I thinκ it tries to install wrong dependency (osxfuse)

[code]

[2015-02-18 17:23] Mikaela commented on #112
Being unaware of this issue, I opened https://github.com/Homebrew/linuxbrew/issues/260 24 days ago which was closed 19 days ago and it seems to be duplicate of this one.

[2015-02-20 08:33] captain-awesome opened #288 "cmake: depends on curl and libedit"
I am a newbie at this and am trying to follow the Lynda.com Ruby on Rails Essential DVD but it only covers how to install Rails on Mac and Windows.

I'm attempting to install Rails on Ubuntu 14.04.

The tutorial uses Homebrew, I've installed Linuxbrew.

https://gist.github.com/anonymous/3c792139aac3f26e3d08

Any help will be appreciated.

Thanks

[2015-02-20 08:52] WestFlame opened #289 "Doxygen missing dependencies"
To brew doxygen I had to install "flex" and "bizon" through system package manager. Otherwise the configure script complained that these are not found (Ubuntu 14.04, 64bit).

[2015-02-20 10:50] awittmann commented on #97
include #include <string.h>, this works for me.

[2015-02-21 07:54] anthonyryan1 opened #290 "xz opt binaries lacking executable bit"
[gist-logs](https://gist.github.com/anonymous/a3597e8737ad99cc21c3)

`xz`, `xzdec`, `lzmainfo` & `lzmadec` from the xz package all appear to be missing the executable bit when installed via linuxbrew.

I have confirmed on the binaries found in
`$HOMEBREW_PREFIX/opt/xz/bin/` and `$HOMEBREW_PREFIX/Cellar/xz/5.2.0/bin/` and verified that OS X is not affected.

[2015-02-21 18:17] paulhybryant commented on #21
Hi,

I ran into exactly the same issue originally reported.
I didn't see anything related to keg-only in the formular.
And the library and binary do not existing in Cellar directory.

The gist log is here https://gist.github.com/anonymous/dff6ff729d44d1a85534

Thanks,

[2015-02-24 11:53] JensErat opened #292 "Documentation: Where to commit, what to change?"
The documentation lacks some basic information for people wanting to contribute.

## Where to commit?

I'm currently having a look at the `task` formula. After seemingly failing to do a proper `brew update`/`git pull`, I made the same changes in parallel, and the resulting pull request broke in Travis.

Now I realized that's because a dependency on `libuuid` is missing for Linux. Adding a line

[2015-02-24 16:41] bukzor opened #293 "pxz: undefined reference to `lzma_code'"
I'd think this means it's either including the wrong header or linking the wrong library, but I can't see any reason that might be.

https://gist.github.com/bukzor/ca7d5a5710c94f3822d8

[2015-02-25 05:43] sjackman commented on #218
@sureleo Yes, I'd merge a pull request to fix gdal.

[2015-02-25 05:45] sjackman commented on #112
I won't be adding ARM support myself, because I have no ARM hardware on which to test it. I will merge a pull request to add support for ARM to Linuxbrew provided that a couple people can vouch that it works.

[2015-02-25 05:53] sjackman commented on #21
https://gist.github.com/anonymous/dff6ff729d44d1a85534#file-05-make-L128-L133
[code]

[2015-02-25 05:57] sjackman commented on #293
The error is in the link command line. The linked libraries `-l` must come *after* the source files. `-llzma pxz.c -o pxz` should be `pxz.c -o pxz -llzma`.
[code]

[2015-02-25 05:57] sjackman commented on #293
Please report this bug to the upstream author of the software.

[2015-02-25 05:57] #293 closed

[2015-02-25 06:00] sjackman commented on #292
Patches specific to Linux should be submitted to Homebrew/linuxbrew.

`depends_on "libuuid" unless OS.mac?` is the preferred idiom.

Ignore the Mac bottles

Homebrew/homebrew is merged into Homebrew/linuxbrew every week, usually on Monday.

[2015-02-25 06:05] bukzor commented on #293
Shouldn't we find just the same bug on osx?
Is this different between clang/gcc?

[2015-02-25 06:28] sjackman commented on #290
I'm not able to reproduce your issue.
[code]

[2015-02-25 06:29] #290 closed

[2015-02-25 06:30] sjackman commented on #289
Linuxbrew assumes that all software provided by Mac OS is already installed on your system. You may install that software using the native package manager or using Linuxbrew from the Homebrew/dupes tap.

[2015-02-25 06:30] #289 closed

[2015-02-25 06:34] sjackman commented on #288
I don't actually see any errors in that gist. What error are you seeing?

[2015-02-25 06:37] sjackman commented on #287
Try replace [line 21](https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/sshfs.rb#L21)
[code]
with
[code]

[2015-02-25 06:39] sjackman commented on #286
Does `brew install openssl zlib` resolve your issue?

[2015-02-25 06:42] sjackman commented on #285
Try this patch:
[code]

[2015-02-25 06:45] sjackman commented on #284
Yes, I agree that `brew search` should not show casks on Linux.

[2015-02-25 06:48] sjackman commented on #283
The solution, I believe, is to set the `PKG_CONFIG_PATH` environment variable to include both the system paths and the Linuxbrew paths. The default, I believe, is to include just the Linuxbrew paths.

[2015-02-25 06:48] #283 closed

[2015-02-25 06:52] sjackman commented on #281
Do you also have `libuuid` installed? Can you report the output of
[code]

[2015-02-25 06:58] sjackman commented on #279
Does setting both `TMPDIR` and `HOMEBREW_TEMP` work?

[2015-02-25 07:00] sjackman commented on #278
Perhaps default `HOMEBREW_LOGS` to `$HOMEBREW_PREFIX/Library/Logs` on Linuxbrew?

[2015-02-25 07:05] sjackman commented on #276
Your solution looks good to me. The alternative would have been to give that one user permissions to write to `/opt/linuxbrew` and install Linuxbrew there.

[2015-02-25 07:05] #276 closed

[2015-02-25 07:08] sjackman commented on #293
On OS X the linker allows the `-l` command line options to precede the source files. On Linux it does not.

[2015-02-25 12:47] JensErat commented on #292
I created a new patch upstream, thank you for the explanation.

Is this already documented anywhere (and I've just been unable to find it)? Otherwise I'd propose some paragraph documenting this workflow, as this is a little bit unexpected to new contributors (or old ones from OS X homebrew).

[2015-02-25 12:51] Mikaela commented on #292
I haven't seen this anywhere, but I would like this to be documented in upstream CONTRIBUTING.md so it would be seen on both sides.

[2015-02-25 13:31] captain-awesome commented on #288
Thanks for your reply sjackman.

I am a newbie at this and am trying to follow the Lynda.com Ruby on Rails Essential DVD but they only cover how to install Rails on Mac and Windows.

I'm attempting to install Rails on Ubuntu 14.04.
The tutorial uses Homebrew, I've install Linuxbrew.

Whenever I execute "brew install mysql" it returns the following:

------------------------------------------------

[2015-02-25 16:33] sjackman commented on #288
`brew install curl mysql` may resolve your issue.

[2015-02-25 16:44] sjackman commented on #292
Yes, I agree that CONTRIBUTING.md is missing some key information. I'll aim to update it this week.

[2015-02-25 17:50] bukzor commented on #284
It's brew info that's behaving strangely, and I imagine it's the same for
all taps. I don't think the issue is about casks per se.

--phone is hard.
On Feb 24, 2015 10:45 PM, "Shaun Jackman" <notifications@github.com> wrote:

[2015-02-25 18:29] Pfeil commented on #284
Do you have problems with non-cask repositories? If not, I think this is normal. There is a technical difference between formula and casks. Formulas derive from "Formula":

    $ brew cat fish
    class Fish < Formula
    ...
    end

Casks do not even seem to be a class (I don't know this construct, I'm no ruby programmer):

    $ brew cask cat virtualbox
    cask :v1 => 'virtualbox' do
    ...

[2015-02-25 18:52] bukzor commented on #284
Ah, you're right! This works exactly the same in osx.

My mistake.

On Wed, Feb 25, 2015 at 10:29 AM, Andreas Pfeil <notifications@github.com>
wrote:

--
Buck Golemon
Cell: (408) 202-3901

[2015-02-25 20:40] captain-awesome commented on #288
sjackman, I ran your command.
Please see my pastebin post here: http://pastebin.com/y5nFvtCr (I didn't want to clutter this thread)

[2015-02-25 21:39] bukzor commented on #284
That's really what I was complaining about in the OP.
You can close this as NOTABUG if you like.

On Wed, Feb 25, 2015 at 10:52 AM, Buck Evan <workitharder@gmail.com> wrote:

--
Buck Golemon
Cell: (408) 202-3901

[2015-02-26 04:39] paulhybryant commented on #281
Yes, I also have libuuid installed.

brew link uuid says

"Could not symlink lib/libuuid.a"

brew link --overwrite ossp-uuid works.

Is there any concern for overwriting the symlink? or they are the same thing?

Thanks,

[2015-02-26 19:11] paulhybryant commented on #182
serf seems to compile fine for me but it failed during "make install"

Then I tried brew install --debug subversion

When it raise from ruby
1. raise
2. ignore
3. backtrace
4. irb
5. shell

I chose 5
execute "make install"
exit shell

then choose 4
do nothing and exit

and the installation continued and succeeded.
Not sure why.

[2015-02-28 10:57] migel opened #295 "openssl fails to install"
I've followed the procedure to make the standalone version (https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) on a CentOS 5.11 macine. I've run into an issue with openssl:

[code]

Here is the log: https://gist.github.com/45c167e860a47349f55a

Thanks.

[2015-02-28 12:20] DiagonalArg commented on #285
Works!  :)

[2015-02-28 20:35] bnied opened #296 "GCC Fails to Build on Chromebook"
Following https://github.com/Homebrew/linuxbrew/wiki/Chromebook-Install-Instructions, I get to the GCC step before building fails:

    /usr/local/linuxbrew/Cellar/binutils/2.25/x86_64-unknown-linux-gnu/bin/ld: cannot find crti.o: No such file or directory
    /usr/local/linuxbrew/Cellar/binutils/2.25/x86_64-unknown-linux-gnu/bin/ld: cannot find /usr/lib64/libc_nonshared.a
    collect2: error: ld

[2015-03-01 04:50] bnied commented on #296
Apologies; I didn't read the instructions clearly enough to see the note about the pull request.

[2015-03-01 04:50] #296 closed

[2015-03-01 22:22] sjackman commented on #288
Try `brew install curl readline cmake mysql`

[2015-03-03 06:28] #285 closed

[2015-03-03 06:33] sjackman commented on #281
I'd suggest
[code]

Cheers,
Shaun

[2015-03-03 06:33] #281 closed

[2015-03-03 06:35] sjackman commented on #284
It's still a bug, just not a high priority one. Linuxbrew should not suggest installing a cask, which is not available for Linux.

[2015-03-03 06:52] sjackman commented on #296
No worries. Did you find a resolution to your issue?

[2015-03-03 07:07] #295 closed

[2015-03-03 07:08] sjackman commented on #295
Thanks for the helpful bug report, Migel.

[2015-03-03 15:39] iggyvolz commented on #292
Should the apt-get information stay?  I'm working on testing all of the formula to see if they install on a clean Ubuntu VM, and from the looks of it many of them need new dependencies for linux-only.

Something worded like: We're in the process of making sure all dependencies are listed on the linux formula (if this is not the case, please open an issue if there is not one), but you may want to i

[2015-03-04 02:59] bnied commented on #296
I did. I merged the changes from the pull request into the latest linuxbrew package manifests and everything installed successfully.

Thank you for the followup!

[2015-03-04 16:42] martinwolf opened #302 "vim depends on ncurses"
Hey,

I've tried to install vim with linux brew but it didn't work. Here is the log:
https://gist.github.com/anonymous/2211356fab25828d7175

[code]

[code]

Hope someone can help.

Cheers!

[2015-03-04 23:44] foobacca opened #303 "notmuch failed to build on Ubuntu 14.04"
I've tried to install notmuch 0.19 on both Ubuntu 14.04 and Debian 7.8 (both 64 bit) and both failed with the same error - below.  It appears to be something to do with the zlib development library being in the wrong format, the error line being:

[code]

I have installed zlib1g-dev as suggested by the install instructions.  On ubuntu I have version 1:1.2.8.dfsg-1ubuntu1 and on debian it is 1:1.2.

[2015-03-05 22:53] captain-awesome commented on #288
Hi sjackman,

I received the following:

lucius@localhost:~$ brew install curl readline cmake mysql
Warning: curl-7.40.0 already installed
Warning: readline-6.3.8 already installed
Warning: cmake-3.1.2 already installed
==> Downloading http://cdn.mysql.com/Downloads/MySQL-5.6/mysql-5.6.22.tar.gz
Already downloaded: /home/lucius/.cache/Homebrew/mysql-5.6.22.tar.gz
==> Downloading https://github.com

[2015-03-06 05:39] sjackman commented on #288
Run `brew gist-logs mysql`

See the [troubleshooting guide](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Troubleshooting.md#read-this-first).

[2015-03-06 05:48] sjackman commented on #303
Try this patch:
[code]

[2015-03-06 05:48] sjackman commented on #303
And run `brew install homebrew/dupes/zlib`

[2015-03-06 05:50] sjackman commented on #302
https://gist.github.com/anonymous/2211356fab25828d7175#file-02-make-L154-L155
[code]

[2015-03-06 05:52] sjackman commented on #302
Run
[code]

See https://github.com/Homebrew/homebrew-dupes/pull/422 and [Standalone installation instructions](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation)

[2015-03-06 06:01] sjackman commented on #292
I'm going to leave the `apt-get` info for now. It'll make for a happier user not to run into frequent missing dependency errors. Please do open PR for missing dependencies as you find them.

[2015-03-06 06:25] #292 closed

[2015-03-06 09:19] martinwolf commented on #302
Hey! Thanks, but not sure what that means:

[code]

[2015-03-06 13:19] captain-awesome commented on #288
https://gist.github.com/6b279259cceaad4940a2

[2015-03-06 15:49] sjackman commented on #302
`brew tap homebrew/dupes`

[2015-03-06 15:49] sjackman commented on #302
Did you see this message?
[code]

[2015-03-06 15:53] sjackman commented on #288
https://gist.github.com/anonymous/6b279259cceaad4940a2#file-01-cmake-L754-L759
[code]

[2015-03-06 15:56] sjackman commented on #288
Oh, my mistake. I thought `libedit` was provided by `readline`. It's not. It's provided by `libedit`.

Try `brew install curl libedit cmake mysql`

[2015-03-06 16:54] captain-awesome commented on #288
after running that command:

lucius@localhost:~$ brew install curl libedit cmake mysql
Error: No available formula for libedit
Searching formulae...
Searching taps...
homebrew/dupes/libedit

[2015-03-06 18:03] foobacca commented on #303
doing those two steps fixed it on both Debian and Ubuntu, thank you :)

let me know if there are any other things you'd like me to report, otherwise feel free to close the issue.

[2015-03-06 18:14] #303 closed

[2015-03-06 18:14] sjackman commented on #303
A pull request is always preferred to an issue, if you're able to find the solution yourself. Check out https://github.com/Homebrew/linuxbrew/commit/6520db41105c03f43aab0ffe3f08029503ebbeaa

[2015-03-06 18:15] sjackman commented on #288
Try `brew install curl homebrew/dupes/libedit cmake mysql`

[2015-03-06 18:16] sjackman commented on #288
Please surround copy-and-pasted text with triple backticks like so:

[code]

[2015-03-06 18:17] sjackman commented on #288
See [Markdown Basics](https://help.github.com/articles/markdown-basics/) on GitHub Help for more info.

[2015-03-06 21:17] captain-awesome commented on #288
I received the following:
[code]

The warning states"
[code]

I received the following:
[code]

[2015-03-06 22:33] AndreTheHunter opened #304 "objective-caml install error"
When trying to install objective-caml, I get the following error

[code]

[Gist here](https://gist.github.com/anonymous/e4b8ebac05fc8d5b6ee7)

[2015-03-07 01:07] sjackman commented on #288
I'm glad you have MySQL installed. You've reached the end of my knowledge here. To configure MySQL you're on your own. Good luck!

[2015-03-07 01:07] #288 closed

[2015-03-07 01:08] sjackman commented on #304
If you're able to troubleshoot and find a fix on your own, a pull request would be most welcome.

[2015-03-07 20:16] paulhybryant opened #306 "expect: error while loading shared libraries: libexpect5.45.so"
One output from `brew link --verbose expect`

`ln -s ../Cellar/expect/5.45/lib/expect5.45 expect5.45`

libexpect5.4.5.so is not linked to lib and thus expect failed complaining the so file is not found.

[2015-03-09 05:51] martinwolf commented on #302
[code]

That helped. Awesome, everything's working now, thanks! :)

[2015-03-09 22:31] sjackman commented on #302
Great. Glad that you got it working.

[2015-03-09 22:34] #302 closed

[2015-03-09 22:50] sjackman commented on #306
The executable `expect` is linked against `libexpect5.45.so`, which is installed in `lib/expect5.45/libexpect5.45.so` and not symlinked into `lib`.

[2015-03-09 22:50] sjackman commented on #306
[code]

[2015-03-09 22:56] sjackman commented on #306
This issue would be fixed by https://github.com/Homebrew/homebrew-dupes/pull/438

[2015-03-11 00:16] esabelhaus opened #307 "passenger: Depends on homebrew/apache/httpd24"
https://gist.github.com/01ce5a4d4e81441219d0

it occurred during the installation of nginx with passenger using the following command
`brew install nginx --with-passenger`

[2015-03-11 01:13] umbrar opened #308 "Warning: You have a non-Homebrew 'pkg-config' in your PATH"
Hi,

I have Linux Mint 17.1, had to install Linuxbrew, everything seemed fine until I ran Brew Doctor.

I have the following error every time:

[code]

I've google searched for answers, everything I find is Mac-specific and when I try to use a version for Linux, the error is still there. I'm new to Linux and maybe I just don't know the correct vocabulary to be using in the searches, but I looked t

[2015-03-11 04:15] #306 closed

[2015-03-11 15:13] ifigueroap commented on #304
I confirm that I'm getting the same issue on Ubuntu 14.04.2

[2015-03-11 16:47] iggyvolz commented on #304
The problem seems to be that objective-caml strictly searches for any "=" and fails if it is in the configure, which IMO is a terrible practice decision.  This means that CFLAGS written directly in the script are impossible.  I tried to even quote the cflags to no avail, it will still fail.

Alternatives?  Exporting CFLAGS (terrible idea and not going to happen), writing them to a file and having

[2015-03-12 11:56] requnix opened #309 "Java Dependency Error"
I've encountered a problem with the Java dependency for a Formula that depends on Java.

The formula is `datomic.rb` and the problem seems to be trying to access `@java_home` at https://github.com/Homebrew/linuxbrew/blob/master/Library/Homebrew/requirements/java_dependency.rb#L11 which seems to be `nil`. Setting `ENV["JAVA_HOME"]` has no effect since it errors on that first line.

This code seems

[2015-03-12 18:53] #309 closed

[2015-03-12 18:53] sjackman commented on #309
Thanks for the helpful bug report.

[2015-03-12 18:57] sjackman commented on #304
If we removed the configure argument `-march=core2` it would at least compile.

[2015-03-12 18:58] sjackman commented on #308
Run `brew install pkg-config`. You may still see this warning, but you can safely ignore it.

[2015-03-12 19:04] #308 closed

[2015-03-12 19:06] sjackman commented on #307
[code]

[2015-03-12 19:08] sjackman commented on #307
Run `brew install homebrew/apache/httpd24`

[2015-03-12 19:12] sjackman commented on #307
[code]

[2015-03-13 16:44] sidaf commented on #259
Modifying the `system "make", "-s"...` line with the following got it to compile for me, but probably not the most elegant solution:

`system "make", "-s", "CC=#{ENV.cc}", "C_INCLUDE_PATH=#{HOMEBREW_PREFIX}/include"`

[2015-03-14 14:18] kiryph opened #311 "Missing gvim"
Installing vim with `$ brew install vim` does not build a gui version of vim (gvim).

Is it possible to add this? The macvim formula does not apply to Linux.

[2015-03-14 14:36] dalguji opened #312 "Reason why the prefix of Linuxbrew is not /usr/local"
I am a fan of Homebrew and use it often on my mac. I am planning to use Linuxbrew also on my Ubuntu server so I can manage some packages that are not managed by apt-get well.

When I first installed Linuxbrew on my server, I was wondering why the default prefix is a user's own $HOME/.linuxbrew instead of /usr/local which makes all users can access the installed packages. I understand the prefix ca

[2015-03-14 18:28] iggyvolz commented on #304
The -march=core2 is within CFLAGS though - so you would have to run the compiler without any CFLAGS at all (which I believe would install outside linuxbrew).

[2015-03-15 01:03] tseemann commented on #312
My guess would be that Brew is designed for Mac OS X, which is nearly always a single user machine where the owner has root/sudo access.

However, LinuxBrew is more likely to be on a shared server or cluster where any given user will not have root/sudo access, and therefore can not write to /usr/local

You can git clone linuxbrew into whichever folder you want.

[2015-03-15 06:49] Mikaela commented on #312
We have four users on OS X and I cannot understand brew, so I am using it like I use other package managers, as root.

[code]

This is my guess too, but I could understand `/usr/local/` too as many distributions have quite outdated packages. Linuxbrew doesn't appear to be as reliable as Homebrew (yet) though.

Oh and I usually put linuxbrew to `$HOME/.local` and I have alias for that too.

[code]

[2015-03-16 04:48] andreabedini commented on #312
my 2c, I totally support using `$HOME/.linuxbrew`. My use case is scientific HPC clusters that often run outdated versions of CentOS. With linuxbrew I am only a `brew install` away from a usable environment.

[2015-03-16 07:06] alfablac opened #313 "gettext: permission denied"
Trying to install using brew on a non-root server and I keep getting Permission denied errors. There's no way to use chown because I don't have root access. Is there any way to fix that?

[code]

[2015-03-16 14:37] iggyvolz commented on #284
This should have been closed by #299.

[2015-03-16 19:18] sjackman commented on #284
Fixed by #299 and https://github.com/Homebrew/linuxbrew/commit/8fe17ee3ae3cd158804193b9e28e42ce29e19b6c

[2015-03-16 19:18] #284 closed

[2015-03-16 19:19] sjackman commented on #304
I'm suggesting that the `objective-caml` formula could remove `-march=core2` from `CFLAGS`. A very hacky workaround, but better than nothing, perhaps.

[2015-03-17 00:18] sjackman commented on #313
Please report the output of `ls -l /home/sjackman/.linuxbrew/opt/xz/bin/xz`.

I don't see the `chown` error in this log. Can you please post a more complete log? You can use `brew gist-logs gettext`

[2015-03-17 00:24] sjackman commented on #312
`~/.linuxbrew` is the default to support users of servers that do not have write access to `/usr/local`. It's easier to support a single default value that works for everyone. If you do have write access to `/usr/local`, there's no reason why `git clone https://github.com/Homebrew/linuxbrew.git /usr/local` shouldn't work—given that you first delete the existing `/usr/local`. I haven't tested insta

[2015-03-17 00:24] #312 closed

[2015-03-17 00:30] sjackman commented on #311
Try `brew install vim --with-client-server`

The option to enable the GUI is named somewhat cryptically. See @dpo https://github.com/Homebrew/homebrew/commit/cf715c0e6611e7692c6e9df9bd0e12af5551b1eb#commitcomment-10226176

[2015-03-17 00:31] #311 closed

[2015-03-17 00:49] sjackman commented on #259
Can you try `system "make", "CC=#{ENV.cc}", "CFLAGS=#{ENV.cflags}"`?

[2015-03-17 01:28] slimjim2234 commented on #259
apparently, it works now.  not too sure what changed within the last 2 months but the installation successfully completed.  Thanks for the followup!

[2015-03-17 01:42] dpo commented on #311
The `client-server` functionality in Vim has nothing to do with the GUI; it enables other programs to communicate with Vim (e.g., a PDF viewer). For some reason, I was never able to compile Vim with the client-server functionality enabled without also depending on GTK+.

[2015-03-17 02:24] tseemann opened #314 "brew test XXXX => Error: cannot load such file -- minitest/unit"
This occurs for whatever I try to test:

[code]

[2015-03-17 04:23] tseemann commented on #312
The main thing is that ```/usr/local``` is "nearly" guaranteed to not be touched by Apple or apps.

However on Linux it's a free for all.

[2015-03-17 07:36] valkjsaaa opened #315 "gtk+: undefined reference to XRender: cannot install gtk+ on Ubuntu 14.04"
install -vd shows the following error:

[code]

It seems that gtk depends on libxrender, but is is not linked?

[2015-03-17 12:02] sidaf commented on #259
Using `system "make", "CC=#{ENV.cc}", "CFLAGS=#{ENV.cflags}"` I get a different compilation error:

https://gist.github.com/sidaf/7c5e0b77272aefe49018

[2015-03-17 18:11] eddieringle opened #316 "rust: cannot find Scrt1.o: Rust HEAD fails to build"
Howdy!

I've been making pretty good progress getting a decent dev environment set up on my new Chromebook Pixel LS. I've used Homebrew on my Macbook since forever and after stumbling across Chromebrew, I remembered, there was a Homebrew port specifically for Linux. Sure enough, the Linuxbrew wiki suggests using Chromebrew as a bootstrap, so I was already on the right track. :)

Anyway, I think yo

[2015-03-17 18:50] sjackman commented on #316
The search path for `crt?.o` is specified with the GCC option `-B`, like `gcc -B /usr/local/opt/glibc/lib`. Try this patch.
[code]

[2015-03-17 18:53] sjackman commented on #259
Please remove `-s` from the make command line.
[code]
https://gist.github.com/sidaf/7c5e0b77272aefe49018#file-gistfile1-txt-L359-L364

[2015-03-17 18:54] sjackman commented on #315
I'm afraid that I don't have the time to troubleshoot individual formula. If you're able to find a workaround or solution, I'd appreciate a pull request. Best of luck.

[2015-03-17 18:59] sjackman commented on #311
The only effect of `--with-client-server` that I can see is to enable the GUI.
[code]

[2015-03-17 19:00] sjackman commented on #311
Does the client-server functionality get automatically built without a special configure option if the gtk+ dependency is satisfied?

[2015-03-17 19:04] sjackman commented on #314
This bug refuses to die. I am not a fan. `brew install ruby` should fix it. Otherwise, please report `which -a ruby` and `ruby --version`.

[2015-03-17 19:04] sjackman commented on #314
@jacknagel Do you recall the cause of `Error: cannot load such file -- minitest/unit`?

[2015-03-17 19:08] sjackman commented on #315
Please report `brew gist-logs gtk+`. If someone else stumbles on this issue, it'll help.

[2015-03-17 21:24] dpo commented on #311
Yes, that's exactly what's going on. Vim tries to enable the client-server functionality by default. Technically, it doesn't have anything to do with the gui, but back when I submitted the patch, I couldn't get it to be enabled in the final compiled executable unless vim also found gtk+.

[2015-03-17 21:39] sjackman commented on #311
Thanks for clearing that up for me.

[2015-03-17 21:49] kiryph commented on #311
Thanks for sharing all the details. The gtk+ version works. One minor glitch is that the scroll bar does visually not fit to the theme of the XFCE desktop I am on.

[2015-03-18 01:26] jacknagel commented on #314
What version of ruby?

[2015-03-18 03:20] sjackman commented on #311
Great! I'm glad you got it working. As for the scroll bar, you'll have to follow up on that issue with one of GTK+, XFCE, or VIM. I'm not sure which.

[2015-03-18 03:58] tseemann commented on #314
Before:
[code]
Let's *try* the brew version:

[code]

Do I need to remove Ruby from my PATH / system first?

[2015-03-18 04:16] eddieringle commented on #316
That didn't seem to work. Failed at the same spot with the same error:

[code]

Just curious, are the Chromebook Install steps in the Wiki accurate for preparing a working Linuxbrew setup capable of building this at all?

[2015-03-18 13:58] eddieringle commented on #316
No idea if it'll make a difference, but I'm currently trying to build again after modifying the rust formula with this:

[code]

[2015-03-18 14:14] sidaf commented on #259
Opps, sorry about that! New gist...

https://gist.github.com/sidaf/f7084dddfb937679aa8a

[2015-03-18 15:13] eddieringle commented on #316
So, another update. The above patch I posted didn't help. Building Rust Alpha 2 also fails with the same error.

Luckily, I revisited just patching the prebuilt nightly release with patchelf and that seems to have worked this time around, so I have a working rust install. Hooray!

That said, I'll be glad to continue helping diagnosing what's causing this problem.

[2015-03-18 18:00] sjackman commented on #314
Please report…
[code]

No, that's fine.

[2015-03-18 18:07] sjackman commented on #259
https://gist.github.com/sidaf/f7084dddfb937679aa8a#file-gistfile1-txt-L365-L370
[code]

[2015-03-18 18:18] sjackman commented on #259
There's a `-c` option missing in this command line. Try this instead:
[code]

[2015-03-18 18:24] sjackman commented on #316
There's two ways to install Linuxbrew: a [standalone installation](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) that uses both host-provided packages and Linuxbrew packages. The above patch I realized was for a standalone installation. If you're using a standard installation of Linuxbrew you'll need something like this (untested):
[code]

[2015-03-18 18:25] sjackman commented on #316
I'm glad that you got it working! I'm going to close this issue. Feel free to continue to post diagnostic info if you want to continue troubleshooting. I'm happy leaving it though.

[2015-03-18 18:25] #316 closed

[2015-03-18 19:34] eddieringle commented on #316
@sjackman That patch didn't work either, unfortunately. If it makes a difference, I don't see any of these flags appearing in the failing build command.

[2015-03-18 21:53] sjackman commented on #316
Most likely because rust ignores the `LDFLAGS` environment variable.

[2015-03-18 23:01] eddieringle commented on #316
Ah, apparently the magic variable is `RUSTFLAGS`, @sjackman. I'm going to give that one a try.

[2015-03-19 16:19] sidaf commented on #259
Failed, but this time back to original error:

`clipperz_srp_fmt_plug.c:66:17: fatal error: gmp.h: No such file or directory`

https://gist.github.com/sidaf/442614f9421e26630268

[2015-03-19 17:40] sjackman commented on #259
https://gist.github.com/sidaf/442614f9421e26630268#file-gistfile1-txt-L465-L471
[code]

[2015-03-19 17:45] sjackman commented on #259
Try
[code]

[2015-03-20 10:56] andyli opened #319 "pcre: depends on bzip2"
[code]

It built after I removed `"--enable-pcregrep-libbz2",` ([line 33 of pcre.rb](https://github.com/Homebrew/linuxbrew/blob/5ed317032f23ebd7556e0c889d60110fe34107ec/Library/Formula/pcre.rb#L33)).

[2015-03-20 12:23] e-sabelhaus commented on #307
Hey, how can I help with this?

I was running my install through Linuxbrew, not sure that they two platforms are apples to apples, but I may be able to find some insight into why it is not compiling properly

[2015-03-20 14:12] iggyvolz commented on #319
It may require a bz library to be installed - everything's directly ported from mac where a lot of these libraries are pre-installed, so adding dependencies is needed for some formulae.

For this one in particular, it looks like it may be lbzip2, but I'll play around with it and see what I can do.

[2015-03-20 20:19] sjackman commented on #319
Try `brew install homebrew/dupes/bzip2`

[2015-03-20 20:27] #319 closed

[2015-03-20 20:27] sjackman commented on #319
Thanks for the bug report, Andy.

[2015-03-20 22:31] sjackman commented on #307
We need to find a package that provides `httpd.h`. The only one that I know of is apache.

[2015-03-23 16:38] jamesscholeyweb opened #321 "Annoying libssl warning"
Hi, I'm running linuxbrew on elementary Freya beta 2 based on Ubuntu. I have installed git 2.3.3 via linuxbrew and get the following warning when running git commands:-

.linuxbrew/lib/libcrypto.so.1.0.0: no version information available (required by git)

The command still completes and I am aware that this is a warning. After a bit of research I find that this is either due to the shared version

[2015-03-23 18:00] sjackman commented on #321
I'm just guessing here, but please try
[code]

[2015-03-23 18:02] sjackman commented on #321
You may also want to try the [Standalone Installation instructions](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) for Linuxbrew, but that's a more heavyweight solution.

[2015-03-23 19:29] jamesscholeyweb commented on #321
@sjackman Shaun, thank you for the quick response. Fix (A) did the trick :) I assume this compiles source using brews curl and openssl instead of system shared version? or am I misunderstanding. Anyway it did the trick. Will I need to do this again after a "brew upgrade git" or will brew remember these build options?

Thanks again Shaun, Good man!

[2015-03-23 19:29] #321 closed

[2015-03-23 21:53] tseemann commented on #314
(i did this 5 days ago but it seems I didn't click on the submit/comment button so here it is now)

[code]

[code]

gist logs: https://gist.github.com/df055256da8f8a909cbb

[2015-03-23 23:14] sjackman commented on #321
Hi, James. Glad to hear it. Yes, you understand correctly. Brew will remember these build options for `brew upgrade`. See `brew info git` where it shows the options used.

[2015-03-23 23:19] sjackman commented on #314
Can you confirm that you have write access to this file/folder?
`/bio/linuxbrew/Cellar/ruby/2.2.1/lib/ruby/gems/2.2.0/gems/minitest-5.4.3/test/minitest/metametameta.rb`

[2015-03-24 17:52] captain-awesome commented on #288
Thank you for your assistance

[2015-03-25 20:11] Mikaela opened #324 "transmission: C compiler cannot create executables"
* gist-logs: https://gist.github.com/anonymous/03476075e77ca700f134
* Ubuntu (server) 14.10

[2015-03-26 04:43] tseemann commented on #314
```/bio/linuxbrew/Cellar/ruby``` does not exist. It seems I don't have brew Ruby installed. I'm guessing that is the problem. Should ruby be a dependency somewhere?

[2015-03-26 17:51] Mikaela opened #325 "python: configure: error: Specifying both --enable-shared and --enable-framework is not supported, use only --enable-framework instead. See Mac/README."
* https://gist.github.com/anonymous/3f5688d5004d14c06074

[2015-03-26 22:06] #325 closed

[2015-03-26 22:06] sjackman commented on #325
Thanks for the bug report, Mikaela!

[2015-03-26 22:08] sjackman commented on #324
[code]
https://gist.github.com/anonymous/03476075e77ca700f134#file-config-log-L122-L127

[2015-03-26 22:16] #324 closed

[2015-03-26 22:28] sjackman commented on #314
If your system version of ruby is recent enough, it'll work. Otherwise `brew install ruby` is best.

[2015-03-26 22:28] #314 closed

[2015-03-27 08:30] Mikaela commented on #325
You're welcome and thanks for the fix :)

[2015-03-29 23:38] DiagonalArg opened #327 "brew install vm?"
Forgive the untutored question, but since there is no homebrew package for vm ("view mail", used under emacs), and since I don't know ruby, how do I go about requesting one (if that's possible):

http://www.nongnu.org/viewmail/

and:
https://launchpad.net/vm
http://download.savannah.gnu.org/releases/viewmail/

[2015-03-30 08:01] Mikaela commented on #327
I am not sure if formula requests are took, but I believe that new formulas and updates should be submitted to https://github.com/homebrew/homebrew where Linuxbrew will be pulled once a week (unless there is security issue which can cause faster pull) from what I have understood.

[2015-03-30 14:19] iggyvolz commented on #327
Yes - you should run brew create <URL of download> then work on it from there.  A good workflow for submitting changes to homebrew from linuxbrew is:
[code]

[2015-03-30 17:03] forbesmyester opened #328 "devil"
The devil package does not work, a straight compile from source (from the devil repo) seems to work. I think it is being diffed to something that only works on a Mac, specifically the malloc.h ... My output is at https://gist.github.com/42fa0fd8432422bbc0c7

[2015-03-30 20:32] #328 closed

[2015-03-30 20:33] sjackman commented on #328
I fixed the error `Fix fatal error: sys/malloc.h: No such file or directory`, but I now see the error:

[code]

[2015-03-30 20:36] #327 closed

[2015-04-02 17:04] aidylewis opened #331 "Error: user .linuxbrew doesn't exist"
Attempting to install neovim on Arch Linux and I get: Error: user .linuxbrew doesn't exist

[2015-04-02 17:53] sjackman commented on #331
Please post the exact command that you're attempting to run and the exact error message. You likely forgot the slash between `~/.linuxbrew`. To avoid typos, copy and paste the instructions. See http://brew.sh/linuxbrew

[2015-04-02 18:58] aidylewis commented on #331
Hi @sjackman

[code]

[2015-04-02 19:13] jonsiera opened #332 "can't install bradp/vv/vv on ubuntu"
Everytime that I run brew install bradp/vv/vv I get this ERROR:

[code]

Can someone help with THIS?

Thank you!!

[2015-04-02 19:25] aidylewis commented on #331
Put ~/.linuxbrew/bin at the beginning of the path and 'brew prune' to fix broken soft links.

[2015-04-02 19:32] sjackman commented on #331
Please report

[2015-04-02 19:33] sjackman commented on #331
Please report
[code]
There's probably a tilde character in there that shouldn't be in there. Try
[code]

[2015-04-02 19:36] sjackman commented on #332
The formula is incorrectly named `Vv.rb` instead of `vv.rb` upstream. Try
[code]

[2015-04-02 19:36] #332 closed

[2015-04-02 19:40] aidylewis commented on #331
Many thanks for your work and help. It looks like I had broken soft links.

[2015-04-02 19:48] bradp commented on #332
Formula has been renamed upstream.

[2015-04-02 20:03] #331 closed

[2015-04-02 21:19] dunn opened #333 "binutils fails to install on xubuntu (14.04.2)"
There are a couple of open issues about binutils but those look like problems with upgrading existing installations; I just can't get it to install in the first place.

**[`gist-logs`](https://gist.github.com/1bcd0fe0d0e076e5f3e4)**

[code]

[2015-04-02 21:27] dunn commented on #333
Spoke too soon: just had to `sudo apt-get install g++`.

Should I close this, or is this something that linuxbrew can/should check for?

[2015-04-03 00:15] sjackman commented on #333
Glad you got it working. See [Linuxbrew Dependencies](http://brew.sh/linuxbrew/#dependencies).

[2015-04-03 00:15] #333 closed

[2015-04-03 01:25] dunn commented on #333
Oh gotcha, thanks!  Would it be worth adding a note about dependencies to the end of the install script?  I can open a PR if you think it's a good idea.

[2015-04-03 17:56] sjackman commented on #333
I've started adding dependencies directly into the formulas to make this less of an issue. You'll definitely still need a C/C++ compiler, but the library dependencies should no longer be necessary. You could output a message saying either `sudo apt-get install build-essential` for Debian/Ubuntu or `sudo yum groupinstall 'Development Tools'` for Fedora/CentOS/Red Hat.

[2015-04-09 04:04] tdsmith opened #339 "gmp won't build on a 32-bit Ubuntu install"
https://gist.github.com/2de248d30263afe441e9

[code]
[code]

[2015-04-10 06:57] yeluolei opened #342 "tar xf failed for every package"
I want to install linux brew package, but it failed with tar decompress failure.
this command should work with tar xzf ...
but failed with tar xf ...

==> Downloading http://ftpmirror.gnu.org/tar/tar-1.28.tar.gz
Already downloaded: /home/users/a/.cache/Homebrew/gnu-tar-1.28.tar.gz
tar: This does not look like a tar archive
tar: Skipping to next header
tar: Archive contains obsolescent base-64 head

[2015-04-10 13:28] yeluolei commented on #342
ps. this is the error log for brew install -vd gnu-tar :

**And I have no rights to write any folder except my home directory.**

/home/users/a/.linuxbrew/Library/brew.rb (Formulary::FormulaLoader): loading /home/users/a/.linuxbrew/Library/Formula/gnu-tar.rb
/home/users/a/.linuxbrew/Library/brew.rb (Formulary::FormulaLoader): loading /home/users/a/.linuxbrew/Library/Formula/glibc.rb
/home/users/a/

[2015-04-10 13:49] yeluolei commented on #342
my brew config result

HOMEBREW_VERSION: 0.9.5
ORIGIN: https://github.com/Homebrew/linuxbrew.git
HEAD: d9e68a81edcc3717826b4ca6a2a4bffc71b01632
Last commit: 3 days ago
HOMEBREW_PREFIX: /home/users/a/.linuxbrew
HOMEBREW_CELLAR: /home/users/a/.linuxbrew/Cellar
CPU: 12-core 64-bit 6
OS X: 0-x86_64
Xcode: N/A
CLT: N/A
Clang: N/A
X11: N/A
System Ruby: 1.9.3-p385 => /home/users/a/.jumbo/bin/ruby
Perl: /

[2015-04-10 14:56] yeluolei commented on #342
finally fix this by myself, I didn't tar in my /usr/bin fold and I disabled the ENV['path'] replace in the utils.rb file.

[2015-04-10 14:56] #342 closed

[2015-04-10 14:58] yeluolei opened #343 "how to set the gcc location?"
I have only gcc 3.5 in my system and can't compile anything. but I have another gcc installed in my home folder ~/opt/gcc48 .how can I change the script to work with this version of gcc ?

[2015-04-10 16:20] yeluolei commented on #107
@mbsullivan same problem with an old gcc version 3.5 and no system access rights, any process to install a new gcc?

[2015-04-11 01:06] netroby opened #344 "Linuxbrew does not install the software into /usr/local, behaviours not equals the document"
Linuxbrew does not install the software into /usr/local, behaviours not equals the document

The real path it will installed software was $HOME/.linuxbrew/bin

And the document said:

[code]

[2015-04-11 08:27] Mikaela commented on #344
You are confusing Homebrew and Linuxbrew. Which document gave you that?

[2015-04-11 12:33] netroby commented on #344
https://github.com/Homebrew/linuxbrew/blob/master/share/doc/homebrew/Installation.md

[2015-04-11 22:48] gitfoxi commented on #143
Do you really think this issue is closed?

[2015-04-11 22:58] gitfoxi commented on #143
This is what I get:

[code]

It maddeningly rebuilds gmp for 15 minutes then loses track of it (and also the gmp that I have installed) and gives this message on running `./configure` for ghc.

[2015-04-11 23:01] gitfoxi commented on #143
ghc depends on newer glibc:

[code]

[2015-04-12 12:46] randomessence opened #345 "Curl system binary non default location /usr/local/bin/curl instead of /usr/bin/curl"
On the particular set-up I install to as a non root user, to my local directory, curl is not installed server wide to the location the linuxbrew ( and homebrew) looks for it.

[code]

So if I do this to see where curl is in my PATH:

[code]

This seems to be the relevant line:

https://github.com/Homebrew/linuxbrew/blob/master/Library/Homebrew/utils.rb#L166

So then if I do this command:

[code]

[2015-04-12 23:43] dunn commented on #344
Looks like that part of the manpage hasn't been updated to be Linuxbrew-specific.  Feel free to open a PR!

[2015-04-13 05:40] Mikaela commented on #344
I am not sure if it can even be updated as it seems to be Homebrew directly and if I understood correctly, Linuxbrew is supposed to be merged to Homebrew sometimes.

[2015-04-13 05:44] dunn commented on #344
I think at this point the merges are mostly one-way, with Shaun pulling in changes from main Homebrew.

[2015-04-13 09:11] yeluolei commented on #343
fix this problem by myself with the information in standalone install document. Thanks!

ln -s $(which gcc) $prefix/bin/gcc-$(gcc -dumpversion |cut -d. -f1,2)
ln -s $(which g++) $prefix/bin/g++-$(g++ -dumpversion |cut -d. -f1,2)
ln -s $(which gfortran) $prefix/bin/gfortran-$(gfortran -dumpversion |cut -d. -f1,2)

[2015-04-13 09:11] #343 closed

[2015-04-13 11:59] sjackman commented on #143
You can use the [Standalone Installation](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) instructions to install recent version of glibc.

[2015-04-13 12:02] sjackman commented on #343
Glad to hear that you sorted it out.

[2015-04-13 12:04] sjackman commented on #342
You can also use `brew install homebrew/dupes/gnu-tar`.

[2015-04-13 12:13] sjackman commented on #339
Linuxbrew does not currently support 32-bit platforms. I'd consider merging a pull request if you find a solution.

[2015-04-13 12:20] sjackman commented on #345
Does changing `curl = Pathname.new '/usr/bin/curl'` to `curl = Pathname.new "curl"` resolve your issue?

[2015-04-13 15:24] gitfoxi commented on #143
I've been working through Standalone Installation. It's really tricky to get it right, fraught with restarts but hopefully getting close ...

[2015-04-13 16:50] randomessence commented on #345
No unfortunatley, I did try that. If I do this below (and start a new SSH session)

[code]

I get this:

[code]

So it is in my PATH for sure

[code]

[2015-04-13 18:11] gitfoxi opened #346 "Standalone is little too standalone"
I got through most of the standalone instructions on Centos5. I can't build Ruby because I'm missing a header file `sys/sdt.h`. I can't build tcl-tk because I'm missing `X11/Xlib.h`.

These headers are in fact installed in my system's base directory tree.

I guess the standalone installation doesn't see my system headers and only looks at the ones that it installed itself during the bootstrap proc

[2015-04-13 19:40] gitfoxi opened #347 "ghc still doesn't build"
Or maybe I haven't done all of the bootstrapping necessary for libc. The build formula downloads a pre-built ghc and uses it to build the new ghc. Prebuilt one:

* Depends on libffi
* Doesn't like my brewed libc -- `error while loading shared libraries: /home/cavtools/.linuxbrew/lib/libc.so.6: ELF file OS ABI invalid`

Probably some other things but I've gotten no further.

[2015-04-13 20:41] gitfoxi opened #348 "xz 5.2.1: builds but doesn't work"
A step I had a hard time with in making the Standalone was that xz builds but only does this:

    xz: Error creating a pipe: Function not implemented

I was able to continue the process by using my system's xz. I couldn't see a way to blacklist the broken formula so I kind of had to manually delete it to keep other builders from using it.

[2015-04-13 20:44] gitfoxi commented on #348
Regarding #290 I also see that the executable permission is not set

[code]

Setting it does not solve my problem though.

[2015-04-13 20:51] gitfoxi commented on #348
Here's some strace

[code]

You can see my system strace can't really trace the Standalone libc very well. Maybe tools like strace could be included in the Standalone too? Probably trying to do something my kernel doesn't support but hard to tell. xz's config tests should be able to figure out the system capabilities but a linuxbrew/centos5 frankenstein may be past the limits of what it expects.

[2015-04-13 21:07] gitfoxi commented on #348
All I can say is that it's a call to pipe2 which was a very new feature when kernel 2.6.18 was released in September 2006 and has seen a lot of patches since.

https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/log/fs/pipe.c?ofs=50

[2015-04-13 21:18] sjackman commented on #344
Yes, that document is inaccurate for Linuxbrew. It could be patched. The Linuxbrew installation instructions are at
http://brew.sh/linuxbrew/

[2015-04-13 21:18] #344 closed

[2015-04-13 21:21] sjackman commented on #345
Yes, definitely. That should probably be patched for Linuxbrew. Perhaps something like `HOMEBREW_PREFIX/bin:/usr/local/bin:/usr/bin:/bin`, or just use the user's PATH untouched.

[2015-04-13 21:24] sjackman commented on #346
Yes, the standalone installation intentionally does not use any system libraries or headers.

For `tcl-tk` you can build without X11 support: `brew install tcl-tk --without-x11`

I have not run into the `sys/sdt.h` issue when building Ruby. Can you post the log?

`brew gist-logs ruby`

[2015-04-13 21:30] sjackman commented on #348
What version of the Linux kernel are you running? You can try `brew edit glibc` and adding a `--enable-kernel=x.y.z` to the `configure` options.
http://www.gnu.org/software/libc/manual/html_node/Configuring-and-compiling.html

[2015-04-13 21:31] sjackman commented on #347
Can you install `libffi`? `brew install libffi`
Do you have `glibc` and `patchelf` installed?

[2015-04-13 21:33] gitfoxi commented on #348
I see. It doesn't actually do the check in `configure`. Needs some more things installed and probably to call one of the autotools I know so little about.

[2015-04-13 21:36] gitfoxi commented on #348
Thanks for `enable-kernel`. I will try it. I'm surprised the `glibc` build isn't smart enough to detect the running kernel.

[2015-04-13 22:08] gitfoxi commented on #347
Yes. I installed `libffi` and that's when I hit the strange `error while loading shared libraries` when running `ldd` on the `ghc` binary. But maybe I should figure out if I can make a better `glibc` before I try to go further.

[2015-04-13 22:16] gitfoxi commented on #346
Tk wouldn't be much good `--without-x11`?

`brew gist-logs` is another thing that isn't working. Maybe it uses Ruby? I'll paste them by hand:

https://gist.github.com/gitfoxi/0d8c7fcf0f4a655f5751

[2015-04-13 23:55] tdsmith commented on #339
Is that documented?

[2015-04-14 00:00] gitfoxi commented on #348
`enable-kernel` seems like a great idea and should go in the wiki. However, in this case it did not help.

[2015-04-14 00:08] gitfoxi commented on #348
Another idea is to install `autoconf`, `automake` and `gettext` so you can run `./autogen.sh`. This also failed to help.

[2015-04-14 00:22] gitfoxi commented on #348
My next idea is to savagely expunge the `pipe2` check from the `configure` file. I don't think this kind of patch can integrate with a build system like homebrew.

It works!

The offending code in `configure` is:

[code]

The bug is upstream. Either in `xz` or `autotools` or both.

[2015-04-14 01:46] yeluolei opened #349 "gcc build failed with mpfr failure"
I use an self installed version of gcc 4.8.3 to build a brew version , but failed when build mpfr, the error log as the gist shows.

brew install gcc

https://gist.github.com/anonymous/1ab044b91871628c0cc5

[2015-04-14 02:44] yeluolei commented on #349
by the way, I can't install glic with standalone installation with the gist below.

https://gist.github.com/23bf728fe2b3a19a935f

[2015-04-14 07:59] sjackman commented on #349
You have multiple versions of MPFR installed, and you're mixing the header files of one version with the libraries of a different version. Be sure that you only have one version of MPFR installed.

https://gist.github.com/anonymous/1ab044b91871628c0cc5#file-03-make-L2229-L2244
[code]

[2015-04-14 07:59] #349 closed

[2015-04-14 08:01] sjackman commented on #348
Cool! That's really good to know. Red Hat / CentOS / Fedora have been known to occasionally introduce non-binary compatible patches into the kernel. That may be a possibility here. You can try replacing the Linuxbrew version of `linux-headers` with your particular version.

[2015-04-14 08:10] #339 closed

[2015-04-14 08:18] sjackman commented on #339
It is now. https://github.com/Homebrew/linuxbrew#32-bit-x86-platforms

[2015-04-14 08:19] sjackman commented on #346
Correct. Do you need Tk?

What's the error message? All of Homebrew/Linuxbrew is written in Ruby.

[2015-04-14 08:23] sjackman commented on #346
Looks like a bug in the Ruby autoconf checks. It says that dtrace USDT is available, but then can't find the header. I believe `sys/sdt.h` is a single portable header. You can download it and install that single header file yourself to work around this issue.

[code]

[2015-04-14 08:23] sjackman commented on #347
Do you have `patchelf` installed?

[2015-04-14 09:40] yeluolei commented on #349
thanks for your answer, I have an version of mpfr in my system and I can't modify it. how can I override the include lib when I install this one?

another question, what about the glibc install issue?

[2015-04-14 11:05] sjackman commented on #349
The [Standalone Installation](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) instructions may solve both of these issues. Be sure to follow the instructions carefully and precisely.

[2015-04-14 16:43] gitfoxi commented on #346
Tk is what you need to do simple GUIs in Python. I use it sometimes. Anyway, you could use something else like qt, gtk or wx -- they all still need x11.

There was no error message from `brew gist-logs` it seems to hang.

[2015-04-14 17:12] gitfoxi commented on #347
Yes. I have patchelf.

[2015-04-14 18:00] gitfoxi commented on #348
Replacing `linux-headers` turns out to not be what you want:

What version of the Linux kernel headers should be used?

The headers from the most recent Linux kernel should be used. The headers used while compiling the GNU C library and the kernel binary used when using the library do not need to match. The GNU C library runs without problems on kernels that are older than the kernel headers used.

[2015-04-14 18:01] tdsmith commented on #339
Awesome, thanks!

[2015-04-14 18:02] gitfoxi commented on #348
Are you sure this is closed? Yes, the bug is upstream, but it needs to be reported (I'm not sure to whom) and meanwhile patched in homebrew.

[2015-04-14 23:52] netroby opened #350 "EMacs 24.5 released"
May be emacs can update to Emacs 24.5?

https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/emacs.rb

https://www.gnu.org/software/emacs/

[2015-04-15 00:52] iggyvolz commented on #350
homebrew/homebrew#38527

Already done.  Will be merged weekly.

[2015-04-15 02:43] OhCoder opened #351 "c=gzgetc(image->blob->file);"
![screen shot 2015-04-15 at 9 10 56 am](https://cloud.githubusercontent.com/assets/890676/7151391/e2f21bb2-e35b-11e4-984b-28d68a26423d.png)
Hey, I got an issue when I install imagemagick-ruby186
My system is ubuntu 14.04 and I use linux-brew tool to install.
I don't know why, can some body help me?

[2015-04-15 04:52] wind930 commented on #142
The same problem I encountered, but later I found that this is actually has no relationship to GCC bag is cited problems
Because in the.Linuxbrew/Library directory to find irb.rb so wrong,
Ln -s./debrew/irb.rb can be repaired.

[2015-04-15 04:53] wind930 commented on #142
@oneillkza The same problem I encountered, but later I found that this is actually has no relationship to GCC bag is cited problems
Because in the.Linuxbrew/Library directory to find irb.rb so wrong,
Ln -s./debrew/irb.rb can be repaired.

[2015-04-15 14:02] sjackman commented on #348
Which version of the Linux kernel are you using? Please report `uname -a`

This issue is closed in that I don't really have the time myself to troubleshoot it, but I'm glad that you found a workaround. If you find a solution, please open a pull request.

[2015-04-15 14:03] sjackman commented on #347
Please report `brew gist-logs ghc`

[2015-04-15 14:05] sjackman commented on #346
`brew gist-logs` is recompiling the package. It may take a while.

[2015-04-15 14:05] #346 closed

[2015-04-15 14:11] sjackman commented on #350
I'm on vacation until April 22. The regular merging schedule will resume once I return.

[2015-04-15 14:11] #350 closed

[2015-04-16 12:54] gitfoxi commented on #348
Linux vm 2.6.18-404.el5 #1 SMP Tue Apr 7 12:42:54 EDT 2015 x86_64 x86_64 x86_64 GNU/Linux

I can patch the formula to fix it if you could suggest how I can ask homebrew to detect a specific kernel version. (I don't know ruby, but was able to muddle through the instructions on how to add a patch.)

[2015-04-16 13:50] gitfoxi commented on #347
https://gist.github.com/anonymous/9f52b66137c9f5db01c3

[2015-04-16 14:04] gitfoxi commented on #347
It looks like the bootstrapping compiler is downloaded from haskell.org

      url "http://downloads.haskell.org/~ghc/7.10.1/ghc-7.10.1-x86_64-unknown-linux-deb7.tar.xz"

Their compilers have not worked with Centos5 in a while. I think they target Centos6. There's another bootstrapping compiler which is older but may work (I'm trying it now).

http://justhub.org/download

It's not obvious how to i

[2015-04-16 16:18] gitfoxi commented on #346
I've been able to build xlib and tcl/tk. I could make a formula for xlib (maybe calling it x11-xlib). But there needs to be some logic that understands that x11-xlib is only necessary for things that depend on x11 under standalone-linuxbrew. Do you think that's doable?

[2015-04-16 19:43] sjackman commented on #346
I'd be happy to accept a PR improving the `:x11` dependency and adding the `xorg-xlib` formula, if you're up for it. Take a look at [x11_dependency.rb](https://github.com/Homebrew/linuxbrew/blob/master/Library/Homebrew/requirements/x11_dependency.rb). If the package `glibc` is installed, you can assume it's a standalone installation, and a standard installation otherwise.

I'm away on vacation for

[2015-04-16 19:45] sjackman commented on #347
With `glibc` and `patchelf` installed it *should* be possible to run the binary executables distributed by haskell.org. You may be able to use an older version of ghc distributed by haskell.org to bootstrap the most recent version.

[2015-04-16 19:51] sjackman commented on #348
2.6.18 should work (though it seems not to). The servers I use at work are running CentOS 5.10

[code]

[2015-04-17 08:14] feng-ye opened #353 "xz failed to run in standard alone installation under CentOS 5"
I am running standalone linuxbrew in CentOS 5. After upgrade xz to 5.2.1, it failed to run with message:

    xz: Error creating a pipe: Function not implemented

And I can not upgrade other formula with tar.xz files. (e.g. git)

The error is from pipe2 call. It is not supported in the kernel of CentOS 5 (2.6.18).

So I made a patch to remove the pipe2 check from configure script for old kernel ve

[2015-04-17 17:11] gitfoxi commented on #348
Maybe it's a very recently introduced bug? I brewed xz 5.2.1.

We are really in the same boat having to live with old Linux until Redhat says it can die. Thanks for taking charge and doing something about it.

[2015-04-17 19:38] gitfoxi commented on #347
This trick might help with some things:

    cd ~/.linuxbrew/lib
    ln -s libncurses.so.5 libtinfo.so.5

I guess on some Linuxes these are two different libraries but under the brewed ncurses they are the same.

[2015-04-17 20:06] gitfoxi commented on #347
It notice that some stuff isn't getting included in the `gist-logs`. Probably another bug there.

After building `gmp`, the script tries to install the pre-built `ghc`. First it tries to patch a bunch of ELFs. One or two of those go wrong.

[code]

If I continue past that, it gets to where it's calling `ginstall`. At this point, there's what looks like a linker malfunction:

[code]

[2015-04-17 20:07] gitfoxi commented on #347
Here's the whole log of the phase that fails:

[code]

[2015-04-18 00:05] tseemann opened #354 "gnuplot: build fails to install LUA dependency (Linux only)"
Works on OS X but not Linux:

https://github.com/Homebrew/homebrew/issues/38772

It seems to not be triggering the LUA dependency on Linux:

[code]

[2015-04-18 07:01] netroby opened #355 "JDK need upgrade to 1.8.0 b45"
https://github.com/homebrew/linuxbrew/blob/master/Library/Formula/jdk.rb

http://www.oracle.com/technetwork/java/javase/downloads/index.html

[2015-04-19 11:44] deevus opened #356 "Can't install hello (gcc 4.2.1)"
I've installed linuxbrew on a Synology DS1812+ that has gcc 4.2.1 available

[code]

If I create a symbolic link from `/opt/bin/gcc` to `/usr/bin/gcc` this is the result

[code]

https://gist.github.com/anonymous/a6e093608ea99b8d543f

[2015-04-20 02:40] aiyuchen opened #357 "imap-uw: BuildError: Failed executing: make oxp"
Error: imap-uw 2007f did not build

https://gist.github.com/anonymous/9dc2940e25f47a8fd4ff

[2015-04-20 10:04] aiyuchen commented on #356
you can try to install gcc 4.9.2
[code]

[2015-04-20 10:43] deevus commented on #356
[code]

https://gist.github.com/f8e2b3cce76fa7f6d38c

[2015-04-20 12:36] xu-cheng opened #358 "error: option --no-user-cfg not recognized"
_From @Rochvellon on April 20, 2015 12:19_

Hi,

I wanna install cmake but I get "error: option --no-user-cfg not recognized"

Gist:
https://gist.github.com/anonymous/873f3977037298f4d0fb

Any ideas?

_Copied from original issue: Homebrew/homebrew#38852_

[2015-04-20 12:36] xu-cheng commented on #358
_From @DomT4 on April 20, 2015 12:33_

Needs to be filed at [Homebrew/linuxbrew](https://github.com/Homebrew/linuxbrew) :).

[2015-04-20 14:13] davydden opened #359 "Lua is missing a readline dependency"
see https://github.com/Homebrew/homebrew/pull/37681

Could you please add
[code]
I did not create a PR as I do not have `linuxbrew` forked and don't really modify it that much.

[2015-04-20 16:20] aiyuchen opened #360 "php56: configure: error: DBA: Could not find necessary header file(s)."
[code]

gits-logs: https://gist.github.com/anonymous/ac9726a67198e4c0a946

I have install `db4-devel.x86_64`

[code]

and I have install `gdbm` by linuxbrew

and search Issue like this
- https://github.com/Homebrew/homebrew-php/issues/1416
- https://github.com/Homebrew/homebrew-php/issues/1396#issuecomment-59987249
- https://github.com/Homebrew/homebrew-php/issues/309

but `xcode-select` is not Ce

[2015-04-20 16:40] aiyuchen commented on #360
@sjackman

[2015-04-20 16:41] aiyuchen commented on #357
@sjackman

[2015-04-20 17:07] aiyuchen opened #361 "The was bug for brew install qdbm"
brew install qdbm was wrong
[code]

`brew edit qdbm`, I find this
[code]

I change this, it's ok
[code]

[2015-04-20 19:39] paulhybryant opened #362 "Vte installs fine on mac but not ubuntu"
gist logs are here
https://gist.github.com/22ebd67a1320dcc53af1

From the error it seems it requires glib 2.26.0 and above,
but brew info glib shows the newest one is 2.24.0.

However I am able to install vte successfully on mac os.

[2015-04-21 02:24] aiyuchen commented on #362
you can
[code]

[2015-04-21 02:44] aiyuchen commented on #360
@mistydemeo @adamv @jacknagel @xu-cheng @mikemcquaid @asparagui @tdsmith @mxcl

[2015-04-21 02:50] jacknagel commented on #360
Please do not do that. It will not get you help faster.

[2015-04-21 07:52] davydden opened #364 "libxslt: Depends on python"
i was following the standalone instructions and i had a linking error while building `libxslt`
[code]

it seems one either needs to keep `LD_LIBRARY_PATH` or install homebrew's `python` before actually trying to install `libxslt`. Installing `python` solved the issue for me.

p.s. I am on SuSE Linux Enterprise Desktop

[2015-04-21 12:44] davydden opened #365 "openmpi: Depends on Java: No such file or directory - vtsetup.jar"
on my standalone linuxbrew, java is not picked up.
As a result there is no `vtsetup.jar` and build fails
[code]
at the last lines of formula.
[code]

I wonder whether one should add some dependency to install java, or keep this part in the `if` block?

[2015-04-21 14:00] Rochvellon commented on #358
Error found.

export PATH=/package/host/localhost/python-2.7/bin:$PATH will help

[2015-04-21 15:09] davydden opened #366 "hypre: libgcc_s.so.1: cannot open shared object file: No such file or directory"
In a stand-alone version with OpenSuse I have some issues running tests `hypre` via `brew install hypre --with-mpi --with-openblas`.
In particular, `libgcc_s.so.1` can't be found:
[code]

However, it is there in the `lib` folder:
[code]

There are no issues on Ubuntu non-standalone linuxbrew, so I suppose it is related to stand-alone version...
Any ideas, advices?

[2015-04-21 15:18] saketkc commented on #365
See: https://github.com/Homebrew/homebrew/pull/33177/

It installs to `libexec`:
[code]

[2015-04-21 15:22] saketkc commented on #366
Wild guess, but you might want to check if setting `LD_LIBRARY_PATH` helps(I don't think this is recommended though)
https://github.com/Homebrew/linuxbrew/issues/150

[2015-04-21 15:25] davydden commented on #366
i see, thanks for the link!
i guess this could be fixed in `hypre`, but i have no idea how :(

[2015-04-21 15:40] davydden commented on #366
funny enough, `brew install sundials --with-mpi` which also run tests
[code]
is perfectly fine without `LD_LIBRARY_PATH`...

[2015-04-21 15:45] saketkc commented on #362
@paulhybryant `brew update`
Latest one on Homebrew/Linuxbrew is `2.44`

[2015-04-21 15:51] saketkc commented on #366
This is because they build `mpi` differently:

https://github.com/Homebrew/homebrew-science/blob/master/sundials.rb#L58

https://github.com/Homebrew/homebrew-science/blob/master/hypre.rb#L81

I am guessing, https://github.com/Homebrew/homebrew-science/blob/master/hypre.rb#L83 does not pickup your `ENV.CXX` to the linuxbrew specific `gcc`(Again, wild guess)

[2015-04-21 17:45] paulhybryant commented on #362
Thanks for the reply. After further looking into the gist-log, the problem seems to be the follows:

checking for VTE... configure: error: Package requirements (glib-2.0 >= 2.26.0 gobject-2.0 pango >= 1.22.0 gtk+-2.0 >= 2.20.0 gobject-2.0 gio-2.0 gio-unix-2.0 x11 cairo-xlib) were not met:

No package 'x11' found

There is no such package x11. I didn't see the dependency on x11 in vte.rb though.

[2015-04-21 17:46] paulhybryant commented on #362
I am trying to install terminator, and it depends on vte, not vte3.

On Mon, Apr 20, 2015 at 7:24 PM, 李惟 <notifications@github.com> wrote:

--
With Regards,

Yu Huang

Software Engineer,
Google Inc.

[2015-04-21 18:11] Rochvellon opened #368 "Sphinx build failed"
Hi,

every time I wanna install sphinx I get the following error:

[code]

Any ideas?

[2015-04-21 19:09] nhumrich commented on #321
I am getting this same warning but for ssh (not git), which is weird because I never installed ssh through brew.
linuxbrew/lib/libcrypto.so.1.0.0: no version information available (required by ssh)

$ brew list
autoconf  bison  cmake  curl  git  go  gradle  jq  makedepend  openssl  pkg-config  xz

[2015-04-21 19:14] jamesscholeyweb commented on #321
Neither did I. I think OpenSSL (libssl) is a dependency of git or homebrew.
Either way it gets installed as a dependency. I assume the same fix should
work for you too.

On Tuesday, April 21, 2015, nhumrich <notifications@github.com> wrote:

[2015-04-21 19:15] nhumrich commented on #321
I already tried the fix with no success.

[2015-04-21 19:34] saketkc commented on #368
It's `cmake` build that is failing.
`brew install cmake -v` or `brew gist-logs cmake`

[2015-04-21 19:56] Rochvellon commented on #368
https://gist.github.com/484418d9f30f5e218295

[2015-04-21 21:58] jawshooah opened #369 "git: Depends on expat and tcl-tk"
`brew install git` fails with the following error:

[code]

Full debug logs here: https://gist.github.com/db4e9f0a26be39aa0080

[2015-04-22 04:57] yeluolei opened #370 "glibc install failed and brew install hello failed"
I have installed my glibc and failed with the following log, this should be an bug fixed before as #126

[code]

https://gist.github.com/e592e5867d63880039fa

and I tried to brew install hello, it failed with

[code]

https://gist.github.com/1cf36ee9738da1394eec

[2015-04-22 08:45] davydden opened #371 "OS.mac and Formula.lib_prefix are not working?"
it seems both of these  got broken recently (they formula i tried worked some weeks ago):
[code]

and

[code]

[2015-04-22 08:49] davydden commented on #365
i think it's a different issue, in stand-alone I have
[code]
so I guess this file is simply not there, thus the error during installation.

[2015-04-22 09:46] davydden opened #372 "superlu_dist: builds fine only with --debug --verbose"
The formula below works fine on OS-X and also on non-standalone Ubuntu 14.04 LTS (at least couple of weeks ago).
However, on the stand-alone `linuxbrew` with OpenSuse I had some issue during linking of test/example programs:

[code]
and couple of others `undefined reference`.

Those undefined references, AFAIK, are related to the library itself, namely to `superlu_dist`.
So it can't find those sym

[2015-04-22 13:34] davydden commented on #371
sorry, my fault, never mind the issue!

[2015-04-22 13:34] #371 closed

[2015-04-22 19:19] davydden commented on #359
thanks!

[2015-04-22 19:19] #359 closed

[2015-04-22 19:41] iggyvolz commented on #355
You can submit a pull request - just click "Edit" on the file in question and edit the version and hash.  If you need assistance please ask and I (or someone who is on the Home/Linuxbrew team) will be happy to help!

[2015-04-22 23:15] sjackman commented on #348
Yes! You're right! Sorry that I didn't catch this issue earlier. It looks like an upstream xz bug then?

[code]

[2015-04-22 23:17] sjackman commented on #348
Here's the workaround to install xz 5.2.0:
[code]

[2015-04-22 23:18] sjackman commented on #348
@gitfoxi Would you be able to open an issue with the upstream xz authors?

[2015-04-22 23:20] sjackman commented on #321
@nhumrich Do you have the `LD_LIBRARY_PATH` environment variable set? If so, try unsetting it using

[code]

[2015-04-22 23:23] nhumrich commented on #321
ssh --version returns "unknown option", but unsetting LD_LIBRARY_PATH seams to work. What is the purpose of that envvar?

[2015-04-22 23:24] sjackman commented on #357
Try `brew edit imap-uw` and apply the following patch.

[code]

[2015-04-22 23:25] sjackman commented on #360
Try `brew install berkeley-db4`

[2015-04-22 23:33] sjackman commented on #347
Perhaps this error is an upstream GHC issue? Could you try contacting the upstream GHC authors?

[2015-04-22 23:34] sjackman commented on #321
It tells the dynamic linker where to search for shared libraries. Linuxbrew does not require it, and it can cause problems. You may want to find where it's being set in your startup scripts and remove it.

[2015-04-22 23:58] #355 closed

[2015-04-23 00:00] nhumrich commented on #321
Thanks. Already did that, it was just in my bashrc.
On Apr 22, 2015 4:34 PM, "Shaun Jackman" <notifications@github.com> wrote:

[2015-04-23 09:58] davydden commented on #372
could someone with the standalone linuxbrew confirm the same behaviour?

[2015-04-23 12:40] davydden opened #375 "setting CFLAGS FFLAGS etc to have -O3 optimisation"
What is the current consensus on tweaking compiler flags used to build formulae within linuxbrew?
I did not see this issue discussed.

Is there something like `HOMEBREW_CC` to set/override the default flags? How are those default flags set anyway?

[2015-04-24 19:37] sjackman commented on #353
At run time, xz needs to check whether the `pipe2` system call is available. This is an upstream bug.

[2015-04-24 19:37] sjackman commented on #353
This is a decent work around, though. Thanks.

[2015-04-24 20:05] #353 closed

[2015-04-24 20:05] #361 closed

[2015-04-24 20:28] sjackman commented on #354
Hi, Torsten. I can't reproduced this issue. Can you confirm that it's still a problem for you?

[code]

[2015-04-24 20:36] sjackman commented on #354
Do you have lua installed somewhere in your PATH?
`which -a lua`

[2015-04-24 20:38] sjackman commented on #351
Does `brew install homebrew/dupes/zlib` resolve this issue?

[2015-04-24 20:38] #351 closed

[2015-04-24 20:59] sjackman commented on #356
[code]
https://gist.github.com/anonymous/a6e093608ea99b8d543f#file-config-log-L96-L101

[2015-04-24 21:08] sjackman commented on #356
I'm not exactly sure what's wrong, but a hacky workaround is to edit `Library/Homebrew/extend/ENV/std.rb` and `Library/Homebrew/os/linux/hardware.rb` and change `-march=core2` to something else supported by your compiler or remove it.

[2015-04-24 21:08] #356 closed

[2015-04-24 21:11] sjackman commented on #364
Thanks for the info. I don't want to add a dependency on Python, because I don't want to force the user to install Python if they already have it installed. This is an issue though, and similar issues have come up related to Python dependencies.

[2015-04-24 21:11] #364 closed

[2015-04-24 21:15] sjackman commented on #358
Your version of Python is too old. Try `brew install python cmake`.
See https://trac.macports.org/ticket/18196 and https://github.com/Homebrew/homebrew/issues/36295

[2015-04-24 21:15] #358 closed

[2015-04-24 21:19] sjackman commented on #366
As a workaround disable the tests, and check that it works after building.
`brew install hypre --with-mpi --with-openblas --without-check`

I'm afraid that I don't have the time to help troubleshoot the root cause. You can try getting support upstream. If you're able to find a solution or workaround, please report back here.

[2015-04-24 21:19] #366 closed

[2015-04-24 21:21] sjackman commented on #362
You'll need to install X11 using your native package manager (yum or apt-get).

[2015-04-24 21:21] #362 closed

[2015-04-24 21:24] sjackman commented on #368
[code]
https://gist.github.com/anonymous/484418d9f30f5e218295#file-07-make-L572-L577

[2015-04-24 21:24] sjackman commented on #368
It looks like it's failing while building the documentation. I can't say why. You can try looking for support upstream.

[2015-04-24 21:24] #368 closed

[2015-04-24 21:26] sjackman commented on #369
Try `brew install git --with-brewed-openssl --with-brewed-curl`

[2015-04-24 21:30] sjackman commented on #370
Have you installed glibc using the [Standalone Installation](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) instructions?

[2015-04-24 21:30] sjackman commented on #370
Do you have the `LD_RUN_PATH` environment variable set? `echo $LD_RUN_PATH`

[2015-04-24 21:33] sjackman commented on #365
Does `brew install jdk` fix this issue?

[2015-04-24 21:39] sjackman commented on #372
My gfortran is unfortunately broken due to #135, so I can't test this. Perhaps it's a parallel make issue that would be fixed by `ENV.deparallelize`?

[2015-04-24 21:44] sjackman commented on #375
The default flags are set in `Library/Homebrew/extend/ENV/std.rb` and `Library/Homebrew/os/linux/hardware.rb`. Linuxbrew uses the same defaults as Homebrew. There's no way to tweak compiler flags that I know of. You may want to try asking at Homebrew/homebrew.

[2015-04-24 21:44] #375 closed

[2015-04-25 00:01] deevus commented on #356
@sjackman I'll give that a try next time I have a chance.

[2015-04-25 04:04] deevus commented on #356
https://gist.github.com/anonymous/99a089481633f9be4abb

[code]

Is this a permissions issue?

[2015-04-25 14:01] davydden commented on #364
i just though that perhaps this could be mentioned in the instructions so that users are aware of that dependency.

[2015-04-25 18:26] sjackman commented on #356
Possibly. You may want to check that you have write permission for the folder `/volume1000/homes/deevus/.linuxbrew/Cellar/hello/2.10`

[2015-04-25 18:28] sjackman commented on #364
These issues and Google are the documentation, so far. The Wiki is publicly editable. You could, if you like, start a page title "Dependencies"

[2015-04-26 00:20] tseemann commented on #354
The problem is that there is a system LUA installed. When I install the Brew LUA it goes in PATH first and gnuplot compiles. If I remove the Brew LUA, and just leave the system LUA, it fails.

[code]

But if i pre-install Brew LUA all is fine:

[code]

This is a common theme I'm encountering during my new Brew career; lots of assumptions about system libraries, which is generally ok on OSX but not

[2015-04-26 04:18] mirguest opened #377 "boost-python build failed due to the wrong toolchains"
I try to build boost and boost python in my linux box. The brew works fine for the boost. Howerver, the boost-python module failed. The problem is due to the wrong toolchains used in the boost-python.rb.
In boost-python.rb:
[code]
while in boost.rb
[code]

[2015-04-27 02:01] yeluolei commented on #370
I didn't set the `LD_RUN_PATH` and I am follow the Standalone Installation instructions and have tried three times.

[2015-04-27 02:17] sjackman commented on #370
Which distribution of Linux are you using?

[2015-04-27 04:59] yeluolei commented on #370
centos 4.3， sorry for such an old distribution, but I have to work with it. :(

[2015-04-27 10:53] hemedani opened #378 "I can't install mongodb"
I want to install mongodb with brew in ubuntu 15.04 but despite several attempts to install i can't do that, even if I completely remove homebrew and reinstall it. when i type in terminal :
`   brew install mongodb`

says :
`==> Installing dependencies for mongodb: go, scons`

and completely fine for installing dependencies :
[code]

but when it was to install mongo says:
[code]

how can i fixed.

[2015-04-27 11:44] gitfoxi commented on #348
I e-mailed the author and he says it will be fixed in subsequent xz.

Lasse Collin
Apr 20 (7 days ago)

to me
On 2015-04-16 Michael Fox wrote:

Thanks for the bug report. I feel a bit stupid that I didn't think
about this possible problem (libc has the function but kernel doesn't).
Since pipe2() isn't important to xz, I reverted the commit that added
it so the next release won't try to use it.

[2015-04-27 12:10] Rochvellon commented on #368
brew install python and using this version solved the problem.

[2015-04-27 14:53] jawshooah commented on #369
Tried that, got this:

[code]

[2015-04-27 23:47] sjackman commented on #369
Which Linux distribution are you using? Does `brew install expat` fix your issue?

[2015-04-27 23:48] sjackman commented on #368
Thanks! Good to know.

[2015-04-27 23:49] sjackman commented on #348
Great! Thanks.

[2015-04-27 23:49] #348 closed

[2015-04-27 23:50] sjackman commented on #370
Ah, I see. Due to the super old kernel, I haven't had much luck with CentOS 4.3. It does work with CentOS 5.10. I'm afraid that I don't have the time to troubleshoot this issue on CentOS 4. If you find a work around or fix, please report back. Sorry I couldn't be more helpful.

[2015-04-27 23:50] #370 closed

[2015-04-27 23:52] sjackman commented on #378
I'm afraid I don't the time to troubleshoot individual formula. Please report back here if you're able to find a workaround or fix. Sorry I couldn't be of more help.

[2015-04-27 23:52] #378 closed

[2015-04-28 00:56] jawshooah commented on #369
Linux distro is in the issue title. I'll give your suggestion a go when I
get a chance.

On Mon, Apr 27, 2015, 7:47 PM Shaun Jackman <notifications@github.com>
wrote:

[2015-04-28 14:42] iggyvolz commented on #378
I would open an issue at https://github.com/mongodb/mongo-tools specifically.

Running a brew gist-logs and pointing them to it should work fine.  A good title for the issue would be "fpclassify.hpp: 'J' does not name a type in Ubuntu 15.04".  If you need any help feel free to @iggyvolz in the discussion and I can try to help if I get free time.

[2015-04-28 18:33] jawshooah commented on #369
Installing expat seems to have fixed that particular issue, but caused yet another one:

[code]

Full logs [here](https://gist.github.com/8c737d956653a68bab7f).

[2015-04-28 18:43] sjackman opened #380 "Portable bottles for Linuxbrew"
Started from [this discussion](http://lh3.github.io/2015/04/25/a-few-hours-with-docker/#comment-1992304522).

[2015-04-28 18:51] sjackman commented on #380
I would really like [Homebrew-Science](http://brew.sh/homebrew-science/) to be that central repository of bioinformatics software. It is ported to both Mac and Linux. It already has formula to build tons of bioinformatics software from source, 173 at last count. There are binary packages (called bottles, in Brew-ease) of 141 of these for Mac OS! The missing component is bottles for Linux. Building

[2015-04-28 19:03] sjackman commented on #378
Thanks for all your help with support, Iggy. I appreciate it.

[2015-04-28 19:04] sjackman commented on #369
`brew install tcl-tk`

[2015-04-28 19:05] sjackman commented on #369
git: CURLE_HTTP_NOT_FOUND undeclared [CentOS release 6.6 (Final)]

[2015-04-28 23:14] jawshooah commented on #369
Seems CentOS 6.6 doesn't come with a `/usr/bin/patch`:

[code]

So I tried again after installing `gpatch`, and this is the result:

[code]

[2015-04-29 01:17] iggyvolz commented on #380
Not sure if you would want to give me push access to the repository, but I have a virtual private server with Jenkins running on Ubuntu 14.10 (working on getting it up to 15.04) that I'd be willing to offer to share.

[2015-04-29 17:31] sjackman commented on #380
Hi, Iggy. I would very much like the help of another contributor/committer to Linuxbrew. You've contributed two commits (7344ef24ebacdac841c2dc7fb74904bdd72a034a and 93471b0b873e290f73b2f1b085fbdd029e736765) and lots of support to Linuxbrew. I'd like to see a history of a few more commits before giving push access. Could you go through the open issues and find say three that you can fix and submit

[2015-04-29 17:32] sjackman commented on #380
Oh, and thanks for the Jenkins offer! I was planning on using the hosted TravisCI or CircleCI, but BrewTestBot uses Jenkins, so it might be easier to get that up and running. I don't have a strong preference which, as long as it works.

[2015-04-29 17:35] sjackman commented on #369
I've reported this bug here: https://github.com/Homebrew/homebrew-dupes/issues/457 @mistydemeo

Run `brew edit tcl-tk` and delete this line:
[code]

[2015-04-29 17:44] sjackman opened #381 "cmake depends on curl"
See https://github.com/tseemann/homebrew-bioinformatics-linux/issues/1

[2015-04-29 17:44] sjackman commented on #381
@iggyvolz

[2015-04-29 19:12] jawshooah commented on #369
Removed the patch line, but now I'm getting a build error:

[code]

Full logs [here](https://gist.github.com/6bbc2536bd3ac3de524d). We're getting closer!

[2015-04-29 19:17] sjackman commented on #369
`error: X11/Xlib.h: No such file or directory`
https://gist.github.com/anonymous/6bbc2536bd3ac3de524d#file-06-make-L13

[2015-04-29 19:17] sjackman commented on #369
Try `brew install tcl-tk --without-tk`

[2015-04-29 19:23] jawshooah commented on #369
That worked! And `brew install git` went off without a hitch once `tcl-tk` was installed.

[2015-04-29 19:48] hemedani commented on #378
Tanks iggy...
after all i installed mongo with apt-get
just for everyone who read this issue for installing mongo with apt-get don't adding the vivide repo adding the trusty repo

[2015-04-29 20:33] wreed4 opened #382 "llvm: Cannot get llvm --with-clang"
I've tried --HEAD, I've tried other versions of llvm (many of them have incorrect SHA values), I've grabbed the latest gcc (4.9).  But when I try to run "brew install llvm --with-clang", I always get to right after "make install" and then it appears to be trying to run clang, but can't find some headers.

Any help here would be appreciated.  Thanks :)

[2015-04-29 20:53] sjackman commented on #380
I've bottled `homebrew-science/bwa` for Linuxbrew and uploaded the bottle to Bintray as a proof of concept. See https://github.com/Homebrew/homebrew-science/commit/e4861ac28a601729f8c7e17650a6a14a1b0715f6

[2015-04-29 21:48] sjackman commented on #382
Please run `brew gist-logs llvm --with-clang` and post the gist URL

[2015-04-29 21:49] sjackman commented on #369
Great. Glad to hear that you got it working.

[2015-04-29 22:56] iggyvolz commented on #381
Yep, I'm on it!

[2015-04-29 23:26] iggyvolz commented on #354
Could this be the same cause as #345?

[2015-04-29 23:28] iggyvolz commented on #345
@sjackman Which would you prefer - the string one or the user's PATH?  I personally don't see any problem with passing the PATH in verbatim - there's really no standard place to leave executables which is why PATH exists in the first place.

[2015-04-30 17:04] wreed4 commented on #382
@sjackman https://gist.github.com/46e19b4bcf464cf6db4e

[2015-04-30 17:06] wreed4 commented on #382
Saw that that last run asked me to do `brew update` so I did.  Here's another run:

https://gist.github.com/804b8e2499ac23d9d652

[2015-05-01 22:08] randomessence commented on #345
OK, so I tried this `$HOMEBREW_PREFIX/bin:$HOME/bin:/usr/local/bin:/usr/bin:/bin` and it did not make any difference. So i was wondering why it is basically ignoring all things PATH.

Then I noticed something when I was messing with stuff and I created a few errors, when I change [L166](https://github.com/Homebrew/linuxbrew/blob/master/Library/Homebrew/utils.rb#L166) to:

`curl = Pathname.new '/us

[2015-05-04 00:32] mscook opened #388 "How about adding pip to the requirements (apt/yum)"
Cmake fails if python setuptools are not present.

Suggestion:

sudo apt-get install build-essential curl git m4 ruby texinfo libbz2-dev libcurl4-openssl-dev libexpat-dev libncurses-dev zlib1g-dev

becomes -

sudo apt-get install build-essential curl git m4 ruby texinfo libbz2-dev libcurl4-openssl-dev libexpat-dev libncurses-dev zlib1g-dev **python-pip**

and similarly for yum.

[2015-05-04 00:39] iggyvolz commented on #388
Couldn't you just depends_on "python" unless OS.mac?

I'm not sure if that will handle the setuptools part and I'm not sure how linuxbrew can install setuptools for it.

[2015-05-04 00:50] iggyvolz commented on #388
Err... adding python to dependencies for cmake is going to be interesting:
https://github.com/Homebrew/linuxbrew/blob/89a05340fe3b86dce3a1e8eb23f4dc730534d0eb/Library/Formula/cmake.rb#L17
[code]
Merged from:
[code]

So I wonder if:
[code]
would solve that?

[2015-05-04 01:07] mscook opened #389 "'unzip' command is not installed by default (Ubuntu 14.04). It's required to unzip!"
I'm using images build by vagrant.

Solution - consider adding **unzip** to the apt-get/yum chain.

[code]

[2015-05-04 01:56] mscook commented on #388
I'm a formula novice so I'm not sure.

[2015-05-04 04:31] tdsmith commented on #388
To the limited extent that my opinion is useful:
* I don't know how linux distros package it, but pip is not setuptools. Homebrew/homebrew doesn't ever use pip but it assumes all pythons have setuptools installed
* It's possible to vendor setuptools if you want to modify PYTHONPATH at build time
* not building cmake's docs by default is a cromulent option

[2015-05-04 20:29] sjackman commented on #345
@randomessence Using `which` should work:
[code]

[2015-05-04 20:31] sjackman commented on #345
@iggyvolz My preference for now is to use the string version. One design goal of Homebrew is not to depend on the state of the user's environment variables, and to build a consistent package between different machines. It's harder on Linux, because the systems are so heterogeneous, but I'd like to keep to that design goal.

[2015-05-04 20:32] sjackman commented on #354
Yes, related. I suspect that the `LuaRequirement` is finding Lua in the path, but then the path is modified later during the build process so that it's no longer found, and the build fails.

[2015-05-04 20:32] sjackman commented on #381
Great. Thanks, Iggy.

[2015-05-04 20:37] sjackman commented on #382
This error makes it look like libc++ is being built for Mac. Is it possible to build libc++ for Linux?

https://gist.github.com/anonymous/804b8e2499ac23d9d652#file-04-make-L147-L150
[code]

[2015-05-05 07:48] randomessence commented on #345
@sjackman your suggestion worked. Will you apply this fix to the main repo?

[2015-05-05 13:16] xu-cheng opened #390 "coreutils: date doesn't respect TZ"
[code]

[2015-05-05 13:20] xu-cheng opened #391 "`cmake -E tar` is not working."
[code]

I don't know but could it relate to #390?

[2015-05-06 00:24] #345 closed

[2015-05-06 00:25] sjackman commented on #345
Fixed. I went with this:
[code]

[2015-05-06 00:26] sjackman commented on #391
I definitely have this problem as well. Could be related? I'm not sure.

[2015-05-06 00:33] sjackman commented on #390
The TZ environment variable has a funny format. See http://www.gnu.org/software/libc/manual/html_node/TZ-Variable.html
It's looking for the file
[code]
which doesn't exist. Try instead `export TZ=:/etc/localtime`

[code]

[2015-05-06 00:35] sjackman commented on #391
I was hopeful, but unfortunately `TZ` is not the issue.

[code]

[2015-05-06 00:39] sjackman commented on #390
The `glibc` postinstall should probably create a `$(brew --prefix glibc)/etc/localtime` file.

[2015-05-06 17:27] sjackman commented on #390
Even easier workaround:
[code]

[2015-05-06 17:38] sjackman commented on #390
Fixed by c569aa8d12cb6566b70968fb5f82b1c272edecf6

[2015-05-06 17:38] #390 closed

[2015-05-06 17:39] sjackman commented on #390
Thanks for the bug report, Xu.

[2015-05-06 20:17] RobertThz opened #392 "git: Build error 2.4.0 after e3147f2"
I suspect that the fix in commit e3147f2 broke the build for those of us that don't have perl installed via linuxbrew.

The build fails on line 139 in Library/Formula/git.rb:
[code]
with the error
[code]

Please see https://gist.github.com/RobertThz/54cb2c78e879c02b9dd5 for the full error message.

If I install the brew version of perl first, git builds just fine.

[2015-05-06 21:44] wreed4 commented on #382
to my knowledge, it is....but I'm not sure.  I know it is possible to build llvm for linux.  Very difficult in my personal experience (hence wanting to use brew) but possible

[2015-05-06 21:50] sjackman commented on #382
I'll guess that the default target is Darwin, and you have to pass some sort of configure option to target Linux.

[2015-05-06 22:53] #392 closed

[2015-05-06 22:53] sjackman commented on #392
Woops. Thanks for the bug report, Robert.

[2015-05-06 22:58] #369 closed

[2015-05-06 22:58] #381 closed

[2015-05-07 04:55] wreed4 commented on #382
To the formula? Or do you mean the formula has to be edited?

[2015-05-07 06:50] hammer opened #393 "git installation fails"
Gist of logs at https://gist.github.com/anonymous/0a0d736f23b9eff1bc3a.

What I see in my shell:
[code]

[2015-05-07 17:30] #393 closed

[2015-05-07 17:31] sjackman commented on #382
I mean the formula has to be edit to change how `libc++` is configured.

[2015-05-07 17:31] sjackman commented on #393
Thanks for the bug report, Jeff.

[2015-05-08 08:58] sachanacar opened #395 "An outdated version of Git was detected in your PATH. /TK Library Error"
After installing Linuxbrew on my machine, I ran into several issues. Below was my flow (logs at the bottom):

1. Run brew doctor -> gave me the "outdated Git version" error message
2. Run brew upgrade git as suggested -> get that git is not in the Cellar
3. Try to install git with brew install git -> Get TK library error

My goal is to install node, which is also failing.

Thanks for the help!
Sac

[2015-05-08 10:29] parisk opened #396 "Define custom install directory in environment variable"
Is there any way to define a custom install directory for linuxbrew packages in an environment variable (e.g. `LINUXBREW_HOME`)?

This could be really helpful in cases such as a multitenant system, in which Linuxbrew will be installed globally and users using it would get each package installed in their home directory.

This is a feature that is already supported by most package managers:

- pip u

[2015-05-08 16:52] sjackman commented on #396
Yes, this feature is supported. I'm curious though. What's the advantage of centralizing the Homebrew source code, and why wouldn't each user install their own in their home directory?

Here's how a user would set up their own cellar of software:

[code]

[2015-05-08 16:52] #396 closed

[2015-05-08 16:53] sjackman commented on #396
See the Homebrew source code here: https://github.com/Homebrew/homebrew/blob/master/Library/Homebrew/config.rb#L44-L48

[2015-05-08 16:58] sjackman commented on #395
Please run and report the output of
`brew gist-logs tcl-tk`
and
`brew gist-logs tcl-tk --without-tk`

[2015-05-09 20:48] dlukes commented on #164
Concerning the pango issue -- I found [this](https://bugs.freedesktop.org/show_bug.cgi?id=75652):

The solution being (it worked for me):

Whew, after spending half a day tracking Emacs dependencies for a custom install on a server where I don't have root privileges, I might take a look at linuxbrew myself :)

[2015-05-10 17:04] parisk commented on #396
In general sounds okay, but wouldn't it be better if we could handle this easily with an environment variable like `LINUXBREW_CELAR`? Would you be open to review a pull request for this?

[2015-05-11 10:49] eugenk opened #398 "Error: No available formula for <tapped formula>"
Hi,

after tapping, a formula can't be found:

[code]
interestingly, `brew search` finds the formula, but `brew info` and `brew install` don't.

System information (Ubuntu 14.04):
[code]

The same happens on an up-to-date archlinux box. It seems like linuxbrew has only a problem with the formula of udrawgraph, but I have no idea why.

[2015-05-11 10:58] iggyvolz commented on #398
Try ```brew install uDrawGraph```.  Most formula are all lowercase due to capitalization quirks

[2015-05-11 11:01] eugenk commented on #398
Oh yes, I forgot to give the output if `brew install`:
[code]

[2015-05-11 11:48] aidylewis opened #399 "install linuxbrew unattended"
Should we be allowed to pass an option to skip the wait_for_user call? I'd like to install linuxbrew unattended.

[2015-05-11 13:44] eugenk commented on #398
I just found out: If I rename the formula from `uDrawGraph.rb` to `udrawgraph.rb`, linuxbrew finds it. Note that homebrew on OSX has no problems finding it without the renaming.

[2015-05-11 13:46] eugenk commented on #398
Maybe the filesystem plays a role in this. As far as I know, HFS+ is case insensitive by default, while btrfs (on my arch machine) and ext4 (on ubuntu) are case sensitive, but I'm not 100% sure if this is correct.

[2015-05-11 16:43] iggyvolz commented on #398
@eugenk You might want to send a PR to the offending tap... capitals in formula names are really discouraged.

[2015-05-11 16:52] eugenk commented on #398
Alright, will do. Just out of curiosity: Does linuxbrew/homebrew plan to support capitals some day? I can definitely understand if not, but it's always nice to know.

[2015-05-11 17:21] sjackman commented on #164
Thanks for the info, David. That's helpful.

[2015-05-11 17:22] sjackman commented on #396
You could try sending a pull request for that feature upstream to https://github.com/Homebrew/homebrew

[2015-05-11 17:23] sjackman commented on #396
I try not to make significant changes to Linuxbrew that aren't also found in Homebrew.

[2015-05-11 17:28] sjackman commented on #399
Use `git clone` to install Linuxbrew unattended:
[code]

[2015-05-11 17:28] #399 closed

[2015-05-11 17:30] sjackman commented on #398
No, Homebrew/Linuxbrew has no plans to support capital letters in formula names.

[2015-05-11 17:30] #398 closed

[2015-05-12 05:28] xu-cheng opened #400 "gdb is not working"
This gdb is installed by `brew install homebrew/dupes/gdb --with-brewed-python`. It built fine. But when I run it, it shows:

[code]

The gdb is indeed linked to readline:

[code]

Sorry I cannot solve this on my own as little experience on Linux.

[2015-05-12 05:39] xu-cheng commented on #400
Actually I just found the test of readline fails for me.
[code]

[2015-05-12 14:17] iggyvolz commented on #400
It seems to possibly be the same error as http://www.justskins.com/forums/readline-problem-libreadline-so-98137.html, which suggests running ```gcc rl.c -lreadline -ltermcap```.

[2015-05-12 20:45] sjackman commented on #400
Iggy's suggestion fixes the linker error:

[code]

I get the following odd runtime error after:
[code]

but I suspect that's a red herring of some odd Mac/Linux difference, and readline is in fact working.

[2015-05-12 20:46] sjackman commented on #400
I see the same gdb issue on CentOS 5.10 Linux 2.6.18:

[code]

[2015-05-12 20:47] sjackman commented on #400
It's possible that GDB is calling `pipe2` and failing because the kernel doesn't implement that syscall. This issue also affected `xz`. See #348 and #353.

[2015-05-12 20:48] sjackman commented on #400
I suspect that this is an upstream bug.

[2015-05-12 21:06] sjackman commented on #400
Yep, that's exactly what's happening. See
https://github.com/bminor/binutils-gdb/blob/eb704cb6566cc4594099f49f8a215bab4fa7bbb6/gdb/common/filestuff.c#L385-L386

The same workaround as for `xz` should work for `gdb`, but this issue should be resolved upstream.

[2015-05-12 21:07] sjackman commented on #400
@xu-cheng Can you open an issue upstream with gdb? The issue is that glibc implements the `pipe2` syscall, but the Linux kernel does not.

[2015-05-12 21:07] sjackman commented on #400
gdb should fall back to `pipe` if `pipe2` is not available at runtime.

[2015-05-12 21:08] iggyvolz commented on #400
@sjackman did you commit the test fix yet?  If not I can send in a PR.

[2015-05-12 21:10] sjackman commented on #400
No, I have not tested the workaround. Please do. Thanks, Iggy.

[2015-05-12 21:51] iggyvolz commented on #400
@sjackman Oddly enough, your workaround does not work for me:

[code]

[2015-05-12 22:06] sjackman commented on #400
Try `brew install ncurses` and symlink `libtermcap.so` to `libncurses.so`.

[2015-05-12 22:07] sjackman commented on #400
See https://github.com/Homebrew/homebrew-dupes/pull/422

[2015-05-12 22:18] chdiza opened #401 "Fix troubleshooting links so that Homebrew doesn't get spammed"
The links mentioned [here](https://github.com/Homebrew/linuxbrew/blob/master/share/doc/homebrew/Troubleshooting.md#check-to-see-if-the-issue-has-been-reported) and [here](https://github.com/Homebrew/linuxbrew/blob/master/share/doc/homebrew/Troubleshooting.md#create-an-issue) point to the Homebrew issue tracker.  They should be changed to point to the Linuxbrew tracker.

This might explain, in part

[2015-05-12 22:19] iggyvolz commented on #400
It still seems to be failing... did I do this right?
```iggyvolz@personal2:~/workspace/linuxbrew/lib (master) $ ln -s libncurses.so libtermcap.so```

(On a side note - did we split into a seperate problem, and if so should this go on another issue?)

[2015-05-12 22:45] sjackman commented on #400
Yes, you can open a separate issue for this `brew test readline` issue.

[2015-05-12 22:50] iggyvolz opened #403 "brew test readline fails with undefined symbol: UP"
(branched off #400)

[code]

Possible proposed solution is adding `-ltermcap`, however that seems to help inconsistantly.

[2015-05-13 01:47] yesimon opened #404 "Undefined method gcc-4.9_build_version for OS::Mac::Module"
It works when I checkout b8dc83d, so I'm suspecting a bad merge.

[code]

[2015-05-13 07:32] dpc opened #406 "linuxbrew created `~/Library`. Can I delete it?"
Hi,

I've installed linuxbrew in `~/.linuxbrew` as a git clone, and I'd like it to sit there, not pollute my home directory.

[code]

Is there a configuration option to fix this?

[2015-05-13 17:55] sjackman commented on #406
Yes, you can delete it. Set
`export HOMEBREW_LOGS=~/.local/log`

[2015-05-13 17:55] #406 closed

[2015-05-13 18:06] sjackman commented on #404
Yep, looks like it. What was the exact command that you were attempting to run? Also report the output of `brew config`

[2015-05-13 20:08] yesimon commented on #404
It was for any `brew install *` command. Also not running linux standalone but have gcc-4.9.2 installed through linuxbrew.

brew config:
[code]

[2015-05-13 21:36] sjackman commented on #404
I'm not able to replicate this issue, which makes it difficult to troubleshoot. Can you please report the output of `brew install hello --cc=gcc-4.9`?

[2015-05-13 21:44] yesimon commented on #404
Strange, that works fine, but without `--cc=gcc-4.9` it fails, even though I have `HOMEBREW_CC=gcc-4.9`.

[2015-05-13 23:04] sjackman commented on #404
That is particularly weird.

[2015-05-14 02:53] ocehugo opened #407 "sqlite formula not working"
I'm getting

`sqlite3.o: file not recognized: File truncated`

when building sqlite.

[code]

[2015-05-14 10:06] gawbul commented on #46
I'm having the same issue. Needed to install `pkg-config`for another package (I forget which now) and been getting the same error:

`
Package bash-completion was not found in the pkg-config search path.
Perhaps you should add the directory containing `bash-completion.pc'
to the PKG_CONFIG_PATH environment variable
No package 'bash-completion' found
bash: /yum: No such file or directory
`

[2015-05-14 10:17] gawbul commented on #46
Don't know if this helps at all? http://stackoverflow.com/questions/20506610/where-do-i-install-custom-completions-for-a-python-command-line-script-on-osx

Will see if setting PKG_CONFIG_PATH with that helps?

[2015-05-14 15:51] sjackman commented on #407
Please report `brew gist-logs sqlite` and read https://github.com/Homebrew/linuxbrew/wiki/Troubleshooting

[2015-05-14 15:52] acityinohio commented on #404
I'm also getting this bug when I try to brew upgrade. Here's the error:
[code]

Followed by my brew config:

[code]

[2015-05-14 15:53] acityinohio commented on #404
And likewise, installing `brew hello` fails unless I use the `--cc=gcc4.9` flag, even though I have `HOMEBREW_CC=gcc-4.9`. Really weird!

[2015-05-14 15:55] sjackman commented on #46
@gawbul Do you have `bash-completion` installed? `brew list --versions bash-completion`

[2015-05-14 16:06] sjackman commented on #404
Does `brew upgrade --cc=gcc4.9` work?
It looks as though the handling of `HOMEBREW_CC` has changed in some odd way.

[2015-05-14 17:24] acityinohio commented on #404
Yup! That did the trick.

[2015-05-14 17:32] iggyvolz commented on #404
Appropriate lines of code:
https://github.com/Homebrew/homebrew/blob/6dd602f073a97094839d05d2126d944434b5c752/Library/ENV/4.3/cc#L43 (unchanged in linuxbrew)

[code]

I'm not a ruby expert, but it looks like homebrew hijacks the gcc-* and changes it to g++-*, likely for Mac compatibility purposes.  I wonder if taking this section completely out and just changing it to ENV['HOMEBREW_CC'] would solv

[2015-05-14 17:41] sjackman commented on #404
That code is specific to `--env=super`, which Linuxbrew does not use nor support. See https://github.com/Homebrew/linuxbrew/pull/266 which adds superenv support to Linuxbrew. The default on Linuxbrew is `--env=std`.

[2015-05-14 19:37] naseer commented on #407
I have the same problem - gist - https://gist.github.com/anonymous/67f9bb34c4d9cd1502d7

[2015-05-15 04:06] andreabedini commented on #380
good stuff guys, I'm loving this. Question, is `x86_64_linux` going to be enough? shouldn't we include something more specific (like glibc version?) to make it work on all platforms? otherwise we could use a distribution/release scheme like "CentOS_6_6", it would include a lot of bottles to build but it would also be rock solid.

[2015-05-15 14:10] gawbul commented on #46
@sjackman tried it both with and without `bash-completion` installed.

[2015-05-15 14:13] gawbul commented on #46
Doing a `find ~/ -name "bash-completion.pc"` doesn't find the `bash-completion.pc` file?

[2015-05-15 17:05] sjackman commented on #407
https://gist.github.com/anonymous/dcec5ec575a0dc9348c8#file-02-make-L9-L14
[code]

[2015-05-15 17:09] sjackman commented on #407
So weird. I am able to reproduce this issue. Oddly it built just fine for me on 2015-05-11, but doesn't build now, and nothing has changed for this formula since 2015-05-10.

[2015-05-15 17:09] sjackman commented on #407
This time I got a different error. Perhaps it's due to a race condition that can be resolved with `ENV.deparallelize`.

[code]

[2015-05-15 17:19] sjackman commented on #380
I'd rather not make a separate bottle for each distribution. There are simply too many. The [Standalone Installation](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) of Linuxbrew is my solution to this problem. The [glibc formula](https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/glibc.rb) provides an up-to-date glibc regardless of your distribution.

[2015-05-15 17:40] sjackman commented on #46
`bash-completion` doesn't appear to install `bash-completion.pc`.

[code]

[2015-05-15 17:40] saketkc commented on #407
Yes.
[code]
/home/saket/.linuxbrew/Cellar/sqlite/3.8.10.1: 9 files, 2.7M, built in 31 seconds

[2015-05-15 17:47] sjackman commented on #407
Oddly, this problem does not seem to affect Mac OS. At least it built successfully for me five times in a row.

[2015-05-15 17:50] sjackman commented on #46
I bet that your `.bashrc` or `.bash_profile` uses `pkg-config` to set up `bash-completion` and that fails if the `PKG_CONFIG_PATH` is changed to not include that search directory. Linuxbrew does change the `PKG_CONFIG_PATH` when it's building software. I would recommend hard-coding the path to `bash-completion.pc` in your BASH startup file.

[2015-05-15 17:55] #407 closed

[2015-05-15 17:55] sjackman commented on #407
Thanks for the bug reports. Fixed.

[2015-05-15 18:52] naseer opened #408 "subversion: error: Serf was explicitly enabled but an appropriate version was not found"
https://gist.github.com/anonymous/489861971479f5bf9966

[code]

[2015-05-15 18:59] naseer commented on #408
After explicitly installing `apr` and `apr-util` - moved forward, but new issue with serf

https://gist.github.com/8560a050f22e31c80952

[code]

[2015-05-15 19:04] naseer commented on #408
`brew install subversion --without-serf` worked, so maybe that should be the default for linuxbrew, plus apr and apr-util dependencies need to be added.

[2015-05-15 20:01] naseer commented on #408
Further debugging revealed my scons binary was somehow bad. I reinstalled scons and it moved ahead, Now I'm stuck at https://gist.github.com/anonymous/c0cedb0cb3a890086bda

[2015-05-15 21:08] naseer commented on #408
Resolved with

[code]

[2015-05-15 23:35] #347 closed

[2015-05-15 23:39] sjackman commented on #408
https://gist.github.com/anonymous/c0cedb0cb3a890086bda#file-05-make-L129-L133
[code]

[2015-05-15 23:46] sjackman commented on #408
I also see the following error. Note that `GSSAPI` is wrong.
[code]

[2015-05-16 22:52] gawbul commented on #46
Hard coded into `.bashrc` and that worked, thanks :+1:

[2015-05-17 09:22] bobobo1618 commented on #215
I've been having issues here too. `setup.py` has a ton of `/usr/include/xxxx` hard coded into it and it wreaks havok all over the Python build. `ncurses` also seems to be a requirement for readline for some reason.

[2015-05-17 10:33] andreabedini commented on #380
it makes sense @sjackman, I tried building my own bottles with
[code]
pretty cool stuff!

[2015-05-17 17:55] bobobo1618 commented on #215
Just to add to my previous comment, I built with debug and after the failure, replaced all the `/usr/xxx` in `setup.py` with their Homebrew equivalents and I now have an (apparently) working python installation.

The reason it seemed to break was that due to those hard coded paths, it used the system GCC standard headers (`stdio.h` etc.) rather than the Homebrew GCC headers.

I also added the `--o

[2015-05-17 20:22] yesimon commented on #404
Spent some time on this: looks like this isn't just a linuxbrew problem:

On Mac:
[code]

The cause is Homebrew/homebrew@9c74f42962090c016143744b057e13aa75d9b13e. There have always been different code paths for `--cc=gcc-1.9` and `env HOMEBREW_CC=gcc-4.9`, and only the env var calls into `find_compiler` which has changed logic. @jacknagel any thoughts on that commit?

[2015-05-17 20:23] yesimon commented on #404
Also `brew config` on mac.

[code]

[2015-05-17 23:22] jacknagel commented on #404
Fixed upstream in Homebrew/homebrew@43c634ffc2ee0514260cdf6f050a6e8be4035240

[2015-05-18 19:56] fraserphysics commented on #408
I've been trying to use "git svn" to clone a repository on a fairly
restricted machine, call it x.  I don't have sudo or root access on x
and I can't ssh to x from machines that I do administer.  I first
tried building perl, subversion, git, etc from source and found it
difficult, then I discovered linuxbrew.  The error I get now is "Can't
locate SVN/Core.pm" which I guess is due to the failure to

[2015-05-19 09:04] xu-cheng opened #410 "valgrind test fails"
[code]