[2015-10-12 14:42] DoomHammer commented on #380
I tried more hackish approach.
1. I exported `~linuxbrew/linuxbrew` from sjackman/docker-standalone.
2. On a Vagrant guest I ran `LD_LIBRARY_PATH=/vagrant/.linuxbrew/lib /vagrant/.linuxbrew/opt/glibc/lib/ld-2.19.so /vagrant/.linuxbrew/opt/patchelf/bin/patchelf --set-interpreter /vagrant/.linuxbrew/opt/glibc/lib/ld-2.19.so --set-rpath /vagrant/.linuxbrew/lib /vagrant/.linuxbrew/opt/patchelf/bin/pat

[2015-10-12 18:08] DoomHammer commented on #382
@aportelli @wreed4 Did the mentioned PR help?

[2015-10-12 18:23] sjackman commented on #530
Hi, Andrew. The [README.md](https://github.com/Homebrew/linuxbrew/blob/master/README.md#dependencies) has instructions for both Debian and Fedora. The [Standalone Installation](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation) has no requirements on the host system. I'll be traveling for two months. If you're able to sort out the root cause of your problem, please open an issue o

[2015-10-12 18:24] sjackman commented on #191
Glad to hear it!

[2015-10-12 19:53] sjackman opened #600 "Linuxbrew team"
My new son, Jake, is two months old, and I'm on parental leave from work. I will be traveling with my family until Christmas. I'd love for some help with maintaining Linuxbrew in my absence.

Dana @danabrand, a system administrator at UBC, has kindly completed the last two merges of Homebrew into Linuxbrew. She's newish to Linuxbrew and doesn't have commit rights  to Homebrew/linuxbrew. When she's

[2015-10-12 20:01] sjackman commented on #380
When you install a bottle, as long as you have `patchelf` and `glibc` installed, it handles setting the interpreter and changing the `RPATH` for you. Any formula marked as `cellar :any` should work. Note that `ruby` is not `cellar :any`, so it is not expected to work. :grimacing:

[2015-10-12 20:02] sjackman commented on #382
Fixed by #423.

[2015-10-12 20:02] #382 closed

[2015-10-12 20:40] ahundt commented on #530
I moved my script to the bottom so those that have the ubuntu use case can use it, which I think is better than simply reverting.

To answer your question here is an enumeration of at least some broken pieces of the original script you reverted back to:

- Instructing people to simply paste it into terminal is also not accurate, that won't run!
    - At minimum it should say you need to install th

[2015-10-12 21:01] dpo commented on #600
I'll gladly help as time allows.

[2015-10-13 00:44] tseemann commented on #600
Happy to help where I can.  We look forward to your return in 21 years time ;-)

[2015-10-13 03:40] saketkc commented on #528
Here is a hacked version of `.travis.yml' building: https://travis-ci.org/saketkc/linuxbrew/builds/85045113

It currently complains of `git` missing, which should probably go to @sjackman's Dockerfile?

I am a novice docker user and I am not even sure, if it is going to do properly what it is supposed to.

[2015-10-13 04:21] DoomHammer commented on #528
Same here at https://travis-ci.org/DoomHammer/linuxbrew . Not sure about this `git` as it is installed. I guess it might have some library loading problem or maybe something's wrong with repository? Would give it further look later.

Strange thing is, it builds locally under similar Docker pipeline.

[2015-10-13 04:35] DomT4 commented on #600
Homebrew already chews up a more than reasonable amount of time that I have left after various chunks of life heh, but I might be able to stick my head in Linuxbrew and help with various simple issues. Dana is also welcome to ping my @ if there's something that needs merging quickly. Enjoy the time away Shaun :)

[2015-10-13 04:41] DoomHammer commented on #530
This is the thing that confuses me, @sjackman . You say that linuxbrew-standalone should not have any dependencies on host system, but clearly you need GCC, Ruby and several other at the least.

Could you specify a bit more clearly what is its purpose? From my understanding stadalone is meant to be used without *further* need for host toolchain, but it still needs it in order to bootstrap, right?

[2015-10-13 05:25] DoomHammer commented on #380
I am still not quite comfortable with all the new terminology. I understand this means that `ruby` can't be installed from a bottle?

[2015-10-13 05:33] DoomHammer commented on #528
OK, some success. Now it fails locally, too :)

[2015-10-13 06:14] DoomHammer commented on #528
OK. [This one](https://travis-ci.org/DoomHammer/linuxbrew/jobs/85057681) works albeit with a tiny hack. I had to manually `apt-get install git` since _somewhere_ during `test-bot` run my linuxbrew repo is cleared and I have no software brewed whatsoever.

Anybody have any idea how to properly fix this instead of working around?

[2015-10-13 06:42] DoomHammer commented on #528
Opened #601 to discuss my approach there.

[2015-10-13 07:21] sjackman commented on #530
@ahundt Thanks for your feedback, Andrew. It's quite helpful.

On Debian `sudo apt-get install build-essential curl` and on Fedora `sudo yum groupinstall 'Development Tools' && sudo yum install curl` should be sufficient. Can you confirm?

I'm not happy with this hack, because it requires `sudo`, and I'd like these instructions to work for a user installing Linuxbrew in her home directory. Perhaps

[2015-10-13 07:22] sjackman commented on #530
Yes, true. I've improved the `Dependencies` section.

Yes, it needs host tools to bootstrap, and should be completely independent after that. On a typical system, it should be possible to install Standalone Linuxbrew in a home directory without needing root access.

[2015-10-13 07:25] xu-cheng commented on #600
I will help now and then whenever I'm available. But I cannot keep too many promise as Homebrew has already occupied most of my spare time, similar as DomT4.

BTW, congratulations.

[2015-10-13 07:26] sjackman commented on #600
@DomT4 @xu-cheng Any effort that you can pitch in is appreciated.
Would you please add @dpo and @tseemann to the Homebrew/linux team?

[2015-10-13 07:29] xu-cheng commented on #600
Done. Also I think you have the access to change Linux team whatever you want.

[2015-10-13 07:31] sjackman commented on #600
I tried, but I don't believe I do have the rights to change the `linux` team.

[2015-10-13 07:34] sjackman commented on #600
@danabrand Would you be able to merge Homebrew into Linuxbrew again this week?
@dpo @tseemann @DomT4 @xu-cheng Could one of you take a look at Dana's merge and push the branch `danabrand/master` to `linuxbrew/master` and `danabrand/homebrew` to `linuxbrew/homebrew`?
After a few weeks of that arrangement, could you please add @danabrand to the Homebrew/linux team so that she can push herself?

[2015-10-13 07:34] sjackman commented on #600
@xu-cheng Can you make the Homebrew/linux team public, and if you think it's a good idea, make all the Homebrew/* teams public?

[2015-10-13 07:37] sjackman commented on #380
It can be installed by a bottle, but only to the HOMEBREW_PREFIX of `/home/linuxbrew/.linuxbrew`.

[2015-10-13 07:53] DoomHammer commented on #380
I should then try to substitute the brewed `ruby` with [Travelling Ruby](https://github.com/phusion/traveling-ruby). Maybe this will allow me to port the whole deal to "pristine" box.

[2015-10-13 08:15] mikemcquaid opened #602 "Move Linuxbrew to separate organisation"
This is partly because it's confusing, partly because Linuxbrew is still alpha/beta compared to the stable state of other repos and because Travis CI handles builds per-organisation. It'd also allow you to have more control over managing teams.

Any objections? CC @Homebrew/linux @sjackman

[2015-10-13 08:53] mikemcquaid commented on #600
@sjackman You now have rights to add/remove people from the @Homebrew/linux team.

[2015-10-13 09:24] DoomHammer commented on #530
@ahundt I tried your script. One problem I see is that after running `brew doctor` I got:

[code]

[2015-10-13 09:26] Mikaela commented on #530
From what I have understood, `yum` has been replaced with `dnf` in Fedora, but has the same subcommands.

* https://fedoraproject.org/wiki/Features/DNF

[2015-10-13 15:06] DoomHammer commented on #530
One more thing, @sjackman: Do you intend Standalone Linuxbrew to have the same base packages as Mac OS X Homebrew (that is those provided by Apple) or merely just enough to start?

[2015-10-13 17:56] iml commented on #600
I should have some more free time starting next month, would be glad to help out then.

[2015-10-13 18:27] sjackman commented on #530
@Mikaela The Fedora instructions need to work for distributions going back to CentOS 5. When was `dnf` added?

[2015-10-13 18:29] sjackman commented on #380
Cool. Yes. Travelling Ruby looks like it would be very useful to bootstrapping Linuxbrew.

[2015-10-13 18:31] sjackman commented on #600
Thanks, Mike.

[2015-10-13 18:31] sjackman commented on #600
Great. I've added you to the team, Ian.

[2015-10-13 18:40] sjackman commented on #602
My initial reaction is that I'd prefer to keep Linxubrew within the Homebrew organization. Linuxbrew may not be as stable as Mac Homebrew, but it gets better every day and has over 1,700 :star: now. We now have five people volunteering to help out with Linuxbrew, which is a drastic improvement from just me. I'm afraid that I don't understand the benefits with respect to Travis; perhaps you can ela

[2015-10-13 18:51] danabrand commented on #600
Hi all, great to e-meet. And Shaun, yes, I can merge again into Linuxbrew this week.

[2015-10-13 19:00] Scapadiver commented on #137
joergbg's solution worked for me also - centos

[2015-10-13 19:15] sjackman commented on #137
And it doesn't work without `--cc=gcc`? That's odd. Thanks for the feedback.

[2015-10-14 04:55] DomT4 commented on #602
My gut feeling is that at the moment removing Linuxbrew from the Homebrew organisation doesn't solve an immediately glaring problem and to some degree would *appear* to peel back Linuxbrew's legitimacy; In many ways if we wanted Linuxbrew to be a separate organisation the time for that would have been at creation or very shortly after that point.

The situation obviously isn't perfect, we need fir

[2015-10-14 06:11] Mikaela commented on #530
Fedora 22, I think and I think it's also available in CentOS 7. But from what I understood there is still `/usr/bin/yum` pointing to dnf so it shouldn't matter so much.

[2015-10-14 07:07] mikemcquaid commented on #602
Note we can redirect the organisation and all repo clones and API calls will be automatically updated to the new location.

[2015-10-14 08:31] xu-cheng commented on #602
Personally, I kinda opposite to move Linuxbrew into a new organization. I agree with DomT4 that moving wouldn't solve any immediate problem. The Travis part isn't a problem for Linuxbrew for now as it doesn't use any. And we can use Travis on fork when it's required(for example, creating a bot account for Linuxbrew).

Beside, it may cause unnecessary confusion to the existed Linuxbrew users. If he

[2015-10-14 08:46] mikemcquaid commented on #602
I don't know how it'll cause any confusion at all if there's an automatic redirect. I think it's more confusing currently.

Linuxbrew and Homebrew have completely different maintainers and focuses. I think having Linuxbrew in the Homebrew organisation encourages the `OS.linux?` stuff which is a bad code smell.

[2015-10-14 19:52] sjackman commented on #530
I'm going to stick with `yum` in that case, to support both old and new distributions of CentOS.

[2015-10-15 13:33] DoomHammer opened #606 "Keg.change_rpath and non-native binaries"
I am trying to bottle some formula that I would like to redistribute. Most of the time bottling works OK, but I am having trouble particularly with `libvirt` and `qemu`. They both contain non-native binaries as they are cross-platform by nature. This means that `patchelf` fails miserably and `brew` cannot bottle.

@sjackman: do you think there should be a check in Linuxbrew whether binary is nativ

[2015-10-15 15:39] sjackman commented on #606
Yes, it should check that the executable is native before running `patchelf`.

[2015-10-15 15:47] DoomHammer commented on #606
OK, I should try to find a solution, since the current mechanism uses names like `mach_o_binary` which do not belong to Linux(brew) world ;)

[2015-10-15 19:35] sjackman commented on #475
Duplicate of https://github.com/Homebrew/homebrew-science/issues/2705

[2015-10-15 19:35] #475 closed

[2015-10-15 20:28] sjackman commented on #606
True. I don't want to refactor or rename inside Linuxbrew though. The patch should be kept as small as possible to ease the merging maintenance.

[2015-10-15 23:27] midzer opened #607 "fontforge failed to build on debian jessie"
https://gist.github.com/anonymous/2f77619924c2e7ee90db

[2015-10-15 23:41] sjackman commented on #600
Dana has merged homebrew/master into linuxbrew/master. That commit is at danabrand/master. Could someone in the @homebrew/linux team please take a look at that commit and push it to linuxbrew/master? I've tested it, and it looks good, but I won't be doing any testing while I'm in Thailand. =)

[2015-10-16 14:27] prologic commented on #188
So this is an issue for me as well. I only very recently installed brewlinux and Python and have run into the exact same problem. @sjackman You are right about there being no ``--with-brewed-openssl`` option so I'm a little confused as to *what the actual solution is*.

[2015-10-16 14:30] prologic commented on #188
FWIW:

[code]

[2015-10-16 14:53] prologic commented on #420
Running into the same issue as well. CentOS 6.7

[2015-10-16 16:07] ahundt commented on #530
@sjackman I could be mistaken about those paths since they are sanitized in the script, may want to mention the option of sanitizing them in .bashrc as well, since when the user goes to interact with homebrew that will affect how standalone their interaction truly is. I'm also personally not sure if LIBRARY_PATH is important or not.

[2015-10-16 16:33] prologic commented on #137
@sjackman When I try ``--cc=gcc`` to bootstrap gcc I get an error at the end I don't understand (*and my search results don't specifically mention/relate to this*):

[code]

[2015-10-16 16:39] prologic commented on #137
Disregard last comment (*deleted*) -- If you have modified changes in the git tree you'll cause problems with bew :)

[2015-10-16 17:26] sjackman commented on #188
@Homebrew/linux Anyone have a solution for the Python `_ssl_failed.so` issue?

[2015-10-16 17:27] sjackman commented on #188
Let's move this discussion to #420.

[2015-10-16 17:33] prologic commented on #137
Actually I'm having a lot of trouble getting Homebrewed linux gcc bootstrapped.

1. ``sudo yum groupinstall 'Development Tools'``
2. brew install gcc --cc=gcc

[code]

Okay so let's install ``xz`` first:

[code]

I've also tried and have in place @dakl's [snippet](https://github.com/Homebrew/linuxbrew/issues/137#issuecomment-136639584) which doesn't seem to help because tapping ``homebrew/versions

[2015-10-16 18:19] prologic opened #608 "Error: No such file or directory - (unreachable)/"
This is weird and I can't seem to find an answer to this. I also haven't worked out why this is happening with the `--debug` flag either.

Basically almost anything I _try_ to install ends with:

[code]

Example:

[code]

If it would just tell me what file/directory it's complaining about I might be able to fix this :) The `(unreachable)/` part is a bit weird!

[2015-10-16 18:20] prologic commented on #608
Running ``brew doctor`` also reports the same issue:

[code]

[2015-10-16 18:21] prologic commented on #608
If it helps my ``$HOME`` is mounted over NFS.

[2015-10-16 23:09] sjackman commented on #137
That's a strange error message `Error: No such file or directory - (unreachable)/`. I've not seen that before. Does `brew install hello` work?

[2015-10-16 23:11] sjackman commented on #608
That is a very strange error message. I suspect that the NFS file system is relevant. I also run Linuxbrew on a NFS file system though, and haven't run into this error message. Does `brew install hello` work?

[2015-10-16 23:43] prologic commented on #608
No it doesn't; it fails with the same error at the end.

[2015-10-16 23:43] prologic commented on #137
Nope :/

[2015-10-17 00:03] sjackman commented on #608
You definitely have bigger problems, though I'm not sure what exactly. Sorry. :grimacing: I leave for a two-month trip tonight, so I won't be able to help you troubleshoot.

[2015-10-17 00:03] sjackman commented on #137
Moved this discussion to #608.

[2015-10-17 00:04] prologic commented on #608
Yeah that's okay; I'm not sure what to do at this point :) I'm sort-of trying to do this whilst doing other more important thing :) -- Enjoy your trip! I'll see what I can work out in the mean time...

[2015-10-17 01:09] sjackman commented on #608
Try it in a non-NFS partition to eliminate that possible source of trouble.

[2015-10-17 04:07] yoaquim commented on #554
Having the same issue; I'm on elementary OS 0.3.1, Freya.

No update on this? Seems like short-circuiting the install location works, but is this an actual solution?

Any reason `ncurses` **needs** to install to `/usr/lib`? Where does `brew` typically install this stuff, under `~/.linuxbrew`, correct?

[2015-10-17 06:42] gregory-nisbet opened #609 "gcc circular dependency Fedora 22"
I am using Fedora 22, `brew doctor` gave the following message, but it seems rather harmless

[code]

When I try to install `gcc`, I get a weird circular dependency (initially I was trying to install `opam`). Also, I already have gcc 5.1.1 installed via `dnf`.

[code]

This Dockerfile reproduces the problem.

[code]

[2015-10-17 12:16] mulle-nat opened #610 "gcc-x not found (maybe gcc-x is not installed)"
I always get these warnings, though they look false to me:

[code]

But these binaries do exist and `brew` can install `hello`:

[code]

but has problems building `ghc`

[code]

This is on **Ubuntu 15.04**, where `brew doctor` is otherwise as happy as a pig in  mud

[code]

[2015-10-18 07:11] DoomHammer commented on #609
Try `brew install opam --cc=gcc`

[2015-10-19 09:18] DoomHammer commented on #610
You may try `brew install ghc --cc=gcc`. As a long-term solution if you don't want to `brew install gcc` you can make symlinks from eg. `gcc-4.9` to `$(brew --prefix)/bin/gcc-4.9`.

[2015-10-19 18:11] sahilseth commented on #609
Facing the same issue:

[code]

[code]

[2015-10-20 18:54] gregory-nisbet commented on #609
@DoomHammer `brew install opam --cc=gcc` worked for me right out of the box.

I am a bit surprised `aspcud` isn't listed as an explicit dependency of `opam`, since that's the preferred dependency solver for the project. Oh I see, the logic in `opam.rb` doesn't take Linux into account.

    # aspcud has a fairly large buildtime dep tree, and uses gringo,
    # which requires C++11 and is inconvenie

[2015-10-21 14:53] thriqon opened #612 "LinuxBrew with PIE: Permissions get wrongly 'cleaned'"
**tl;dr**: `alpine$ brew install hello && brew test hello` fails with insufficient permissions due to PIE.

Alpine Linux (and possibly others) produce [Position Independent Executables](https://en.wikipedia.org/wiki/Position-independent_code), which take the form of shared libraries.
However, from an ELF and therefore from a `path.mach_o_executable?` point of view those are not really `executable`

[2015-10-21 20:31] DomT4 commented on #600
Nobody else has responded here so I took the nervous plunge and merged Dana's master branch into Linuxbrew/master, which brings Linuxbrew up to ~8 days ago in up-to-date-ness.

This does not want to work for me locally, but at least the master is done.

[2015-10-21 20:36] danabrand commented on #600
Thank you! I was just wondering what's happening with that. Ok, I will get onto merging the latest and let you know when it's ready to be pushed again.

[2015-10-21 20:50] DomT4 commented on #600
Thanks Dana. Feel free to ping if you want to. I was trying to give it a bit to see if anyone who uses Linux on a more frequent basis wanted to handle this, but `¯\_(ツ)_/¯`.

I don't really have time to keep on top of Linuxbrew and I don't want to routinely become the person who gets pinged when something breaks, because most of the time my reaction is going to be a slightly confused look when it

[2015-10-23 12:09] jrderuiter opened #614 "R CMD permissions are wrong"
When using a freshly installed R from linuxbrew, I ran into the following error when trying to install rpy2:

[code]

After some digging if found that it seems that the files in ${R_HOME}/bin are not being created with the correct permissions, as these are not executable by default. Giving these files executable permissions solves the above issue and allows me to correctly install rpy2.

I did not

[2015-10-23 16:41] aidylewis opened #615 "Error: Git is unavailable"
[code]

[2015-10-23 16:43] aidylewis commented on #615
You need a version of git to 'brew install git'

[2015-10-23 16:43] #615 closed

[2015-10-23 18:08] arunnair411 opened #616 "CMake failing to install with standalone linuxbrew on Ubuntu 14.04"
I'm trying to install CMake through linuxbrew for a project. I've set up standalone linuxbrew using [this setup script] (https://raw.githubusercontent.com/ahundt/homebrew-robotics/master/linuxbrew-standalone.sh), after which everything seems fine, until I ran:

[code]

which fails, displaying:

[code]

The created cmake_bootstrap.log file is empty. But g++ is installed fine, as when I ```run g++ -

[2015-10-23 18:12] saketkc commented on #616
You might want to symlink  `/home/arun/.linuxbrew/bin/g++-5` to `/home/arun/.linuxbrew/bin/g++` and see if `CMake` then picks it up.

[2015-10-23 18:33] arunnair411 commented on #616
I just tried doing that, but I received the message below saying that it already exists.

[code]

[2015-10-23 19:02] ahundt commented on #530
@DoomHammer I think I've been able to reproduce your problem, trying to figure it out

[2015-10-23 19:09] ahundt commented on #530
it seems `brew unlink gcc && brew link gcc` fixed it. A little odd but seems to make it happy instead of the part that removes the .so files.

[2015-10-23 19:40] ahundt commented on #530
@DoomHammer I've [updated the script](https://gist.github.com/ahundt/1478c6771d1247b546c4) with a fix I believe should work now.

[2015-10-23 19:40] arunnair411 commented on #616
So I got what was wrong. A shared C++ library wasn't being linked correctly, so I ran:

[code]

and voila! CMake installed fine.

[2015-10-23 19:40] #616 closed

[2015-10-25 12:26] midzer commented on #607
Retrying build from scratch now.
Python headers have to be installed via `apt-get install python-dev`

[2015-10-26 07:18] thriqon commented on #614
This could be related to a similar bug I ran into a few days ago: #612

Could you do a `file` on the executable in question and comment with the result here?

[2015-10-26 13:00] xastor commented on #224
That would be :

[code]

[2015-10-26 15:33] davydden commented on #504
in case someone will come across this discussion, here is a small repo for experimenting with `blas` and `cmake` requirements https://github.com/davydden/homebrew-dealiisuite .

[2015-10-26 15:33] #504 closed

[2015-10-27 10:15] jrderuiter commented on #614
File output is below. I also included an ls to show the permissions of the files.

[code]

[code]

[2015-10-27 10:19] thriqon commented on #614
OK, this seems to be a similar, albeit not identical problem to mine ;-) It has the same origins though: Homebrew trying to be smarter than it is. Am I right to assume that the `config` file does not have a shebang? (`#!/bin/bash`)?

[2015-10-27 10:28] jrderuiter commented on #614
Jep.

[code]

[2015-10-27 19:10] alexclear opened #618 "casperjs formula depends on MacOS version of PhantomJS even on Linux"
[code]

[2015-10-29 10:46] bjorncs opened #621 "Vim installation fails during configure on ncurses"
I have bootstrapped the installation using the "Standalone Installation" guide (including installation of dupes/ncurses) on a RHEL 6 environment.

I get the following output when I try to install vim:

[code]

```brew test ncurses``` completes successfully and ```brew doctor``` is completes without warnings.

[2015-10-29 20:25] DoomHammer commented on #621
Run `brew install --debug vim` and enter shell. Source `config.log` from there and look for the last error. It might actually not be in any way connected with ncurses after all. Strange are `autotools`' ways.

[2015-10-30 20:28] shoaibik commented on #597
same here

[2015-10-31 03:22] dunn commented on #597
Can you post the full `brew gist-logs node`, please? Thanks!

[2015-10-31 03:40] DomT4 commented on #597
It might be worth trying `brew install node --cc=gcc-5`. There's known failure against some old GCCs but we haven't yet discovered the limits of that failure. Please do generate a `gist-logs` first though, per Alex's request.

[2015-11-01 04:26] pshdong opened #623 "installing mongoose error: pkg-config not present or broken"
I'm trying to install mongoose by linuxbrew:

 % brew install mongoose                      [11:53 AM]
==> Installing dependencies for mongoose: makedepend, zlib, openssl
==> Installing mongoose dependency: makedepend
Error: /home/dps/.linuxbrew/opt/pkg-config not present or broken
Please reinstall pkg-config. Sorry :(

%  uname -a                                  [12:01 AM]
Linux dps-LENOVO-SHOU

[2015-11-01 05:03] dunn commented on #623
Could you post `brew gist-logs mongoose`? Thanks!

[2015-11-01 21:00] Wumingla opened #624 "parent directory is world writable but not sticky"
Error: parent directory is world writable but not sticky
Please report this bug:
    https://github.com/Homebrew/linuxbrew/blob/master/share/doc/homebrew/Troubleshooting.md#troubleshooting
/usr/local/rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/tmpdir.rb:92:in `mktmpdir'
/home/ubuntu/.linuxbrew/Library/Homebrew/utils/fork.rb:6:in `safe_fork'
/home/ubuntu/.linuxbrew/Library/Homebrew/formula_installer.rb:55

[2015-11-01 22:13] DomT4 commented on #624
`brew doctor` tells you how to fix this.

[2015-11-02 16:12] bjorncs commented on #621
After a reboot Linuxbrew was suddenly able to install vim. I tried to reproduce the issue without success.

[2015-11-02 16:12] #621 closed

[2015-11-02 17:14] ahundt opened #625 "Plugin Dependency Hell with Linuxbrew"
Note I've also [asked this question on stackoverflow](http://stackoverflow.com/q/33423908/99379). I've created a shared library built with a standalone build tree using linuxbrew, which fails to load in the parent application due to dependency conflict, since said parent application was compiled using the OS supplied dependencies (as opposed to linuxbrew supplied). I'm using a separate application

[2015-11-03 16:40] ahundt commented on #625
I've found out I can use patchelf to change what dependencies are loaded by modifying RPATH. I'll post a full solution on stackoverflow.

[2015-11-03 16:40] #625 closed

[2015-11-03 18:21] ahundt commented on #602
I think it would make more sense to keep it in the same organization. In fact the compatibility is the whole reason I started using linuxbrew! What's wrong with formulas supporting both operating systems?

[2015-11-03 18:22] ahundt commented on #602
Actually, I've always been confused why they aren't even just the same project. That would be even more ideal from my perspective.

[2015-11-03 20:02] jamesfjx opened #629 "Change "Mac"s from terminal output to either "Machine" or"

[2015-11-03 20:04] jamesfjx opened #630 "Change "Mac"s from terminal output to either "Machine" or "PC" or whatever"
if I type
$brew install pip

the terminal will say
Error: No available formula for pip
Homebrew provides pip via: `brew install python`. However you will then
have two Pythons installed on your Mac, so alternatively you can:
    sudo easy_install pip

Since it's not homebrew anymore, we can safely switch the "Mac" with proper words. And I believe there should be tons of them hiding here and there

[2015-11-04 01:50] mikemcquaid commented on #602
They aren't the same project because it adds a huge overhead on Homebrew maintainers to verify things work on Linux and the use-case on Linux is a lot more niche (as it already provides good, system package managers).

[2015-11-04 01:55] #624 closed

[2015-11-04 07:20] DoomHammer commented on #630
The idea is that Linuxbrew should be as close as possible to Homebrew and only add OS-specific things when needed and not alter the ones that do no harm.

It is true that such messages may exist, but simply replacing them is not a good option.

[2015-11-05 18:35] moh117 opened #631 "[ARCH] To install this formula you need to :"
Im trying to install rbenv on arch linux i have linuxbrew installed , but when i do:

       brew install rbenv

i get :

      Error: xz cannot be built with any available compilers.
      To install this formula, you may need to:
       brew install gcc

and when i do

      brew install gcc

i get this :

     Error: zlib cannot be built with any available compilers.
     To install this formul

[2015-11-06 04:09] arunnair411 opened #632 "gtk+ failed to build on linuxbrew standalone Ubuntu 14.04"
As part of getting opencv3 up and running, I was trying to install gtk+ through linuxbrew. It includes cairo as a dependency, which it installs displaying

[code]

Looking at cairo.rb [at](https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/cairo.rb), I see that enable-xlib is set to no as the x11 dependency is not satisfied. However, later in the installation process,

[code]

which

[2015-11-06 05:18] DomT4 commented on #600
How are things going @danabrand? No pressure intended - Know life gets busy and it's apparently just me and you doing Linuxbrew for a while.

[2015-11-06 11:47] sjackman commented on #600
Shaun here checking in from Thailand. Thanks so much for feeding and watering Linuxbrew in my absence, Dana and Dominyk. I appreciate your help!

[2015-11-06 17:50] danabrand commented on #600
Hi Dom, this has been on my mind for the last weeks, but the UBC job was indeed very busy. I want to do a commit this weekend, I will let you know as soon as I have it done, I suspect there are a bunch of conflicts to deal with.

From: Dominyk Tiller [mailto:notifications@github.com]
Sent: Thursday, November 05, 2015 9:19 PM
To: Homebrew/linuxbrew
Cc: Brand, Dana
Subject: Re: [linuxbrew] Linuxbrew

[2015-11-06 20:18] pdurusau opened #633 "PDF2htmlex build fails on Ubuntu 14.04"
Built finds gcc but then reports "checking whether the C compiler works... no" Gist URL below.

https://gist.github.com/anonymous/058e0fb1d853e7566487

[2015-11-06 23:09] DomT4 commented on #600
@sjackman Hope the time away so far has been pleasant! :smiley:. Know getting away from FOSS for a bit can be a weight off one's shoulders.

@danabrand No worries Dana. Whenever you have time. Things that pay the bills trump things which very much don't.

[2015-11-07 13:07] moh117 commented on #631
No response for two days , AUR is the solution :) !

[2015-11-07 13:07] #631 closed

[2015-11-07 19:14] DimitriDokuchaev opened #634 "issues with Crti.o when installing gcc"
Hello

I am fallowing [this tutorial](https://github.com/Homebrew/linuxbrew/wiki/Chromebook-Install-Instructions) to install linuxbrew on my chromebook.

But i am having an issue where i can't install gcc.

I did `brew install gcc --with-glibc -v` (as written in the tutorial)

it dies here:

`/usr/local/linuxbrew/Cellar/binutils/2.25.1/x86_64-unknown-linux-gnu/bin/ld: cannot find crti.o: No` such

[2015-11-08 23:11] arunnair411 commented on #632
Any thoughts as to what I can do to get it working?

[2015-11-09 19:05] ahundt commented on #602
@mikemcquaid that does seem to fit well with the minimalist selection of features you guys prefer, though I'd still appreciate if the separate project can at least remain under the same organization since there are obvious ties between the two.

[2015-11-09 19:16] ahundt commented on #632
I don't think the linuxbrew x11 is what should be used here either, perhaps it should be the one provided by the system, even in the standalone case? Can x11 even be compiled and run properly in a truly standalone way? I feel like at some level dependencies must exist to the underlying system.

[2015-11-09 19:21] ahundt commented on #634
I encountered some issues like this, perhaps they can help you solve your problems:
https://github.com/Homebrew/linuxbrew/issues/530
https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation

[2015-11-09 19:23] ahundt commented on #590
Can you post the full `brew gist-logs node`, please? Thanks!

[2015-11-09 19:24] ahundt commented on #591
sphinx is needed to generate the docs. also run `brew gist-logs cmake` and post the exact error you're getting.

[2015-11-09 23:01] DimitriDokuchaev commented on #634
Hey ahundt

Following your issue i see you do have a problem with gawk, i have it installed and it is working correctly

further you posted a script that can't really be applied to my system, since this is a chromebook, so no apt-get install build-essential all that stuff.

I am actually going through your script and the original chromebook tutorial, trying to realize what separates them and if th

[2015-11-10 10:18] tseemann commented on #602
Have you considered how splitting off Linuxbrew would affect the other taps?

Homebrew-science for example is heavily Linux based, and most of my time is spent (possibly wasted) on getting formulae to build on OS X, as most of the development is Linux based. The

But perhaps once again this is desirable, as those taps are not core system packages.

[2015-11-10 12:42] mikemcquaid commented on #602
To repeat: I don't believe splitting Linuxbrew will affect users or development in any way other than it being less affiliated with Homebrew.

[2015-11-10 17:31] DomT4 commented on #602
*Extensively*.

[2015-11-10 18:11] JokerHYC opened #637 "install git failed"
==> Installing dependencies for git: homebrew/dupes/tcl-tk
==> Installing git dependency: homebrew/dupes/tcl-tk
==> Downloading https://downloads.sourceforge.net/project/tcl/Tcl/8.6.4/tcl8.6.4
Already downloaded: /home/joker/.cache/Homebrew/tcl-tk-8.6.4.tar.gz
==> Patching
patching file pkgs/sqlite3.8.8.3/generic/sqlite3.c
==> ./configure --prefix=/home/joker/.linuxbrew/Cellar/tcl-tk/8.6.4 --mandi

[2015-11-10 21:32] tseemann commented on #602
@DomT4 Is that extensive consideration publicly viewable? I don't mind if it isn't, I was just interested in what was topics were covered.

[2015-11-10 23:00] vzhong opened #638 "Can't install glibc: locale-archive permission denied"
Hi,

I'm attempting to install `glibc` on a machine on our cluster (eg. I don't have root access). The installation is failing at `postinstall`:

[code]

When I run the command locally, I get

[code]
Any ideas on how to fix this?

[2015-11-10 23:46] vzhong commented on #638
Actually it seems like I can avoid this problem by using the `tl;dr` instructions.

[2015-11-10 23:46] #638 closed

[2015-11-11 05:16] DomT4 commented on #602
I'm not even sure it's privately viewable any more to be honest; was in the team chat and it only logs so many messages and I never shut up to the point that I'm often only talking to myself.

There was a thorough discussion about taps. It is perhaps worth noting that I don't think there would be much code upheaval; what works now should continue working. My concerns as stated further up in this t

[2015-11-11 18:47] prologic opened #639 "ccze build fails on CentOS 6.7"
Build output:

[code]

[2015-11-11 19:13] dunn commented on #639
Can you post the full `brew gist-logs ccze`? Thanks!

[2015-11-12 23:46] ahundt opened #640 "Key dependencies should have "linuxbrew" and "system" config option"
Key dependencies like gcc, libstdc++, X11 currently behave in an inadvertently disorderly manner leading to crashes and other undesired behavior. A mechanism should be created where you choose how you want specific key dependencies to actually work, or if possible a transparent solution should be devised like however it works on OS X.
## How to accidentally break a normal install

For example, if

[2015-11-13 01:02] ahundt commented on #634
Yeah I realize it won't apply perfectly but hopefully there will be a hint or solution that you can translate to your platform. I have several links specifically about fixing crti.o problems further down in the discussion.

https://github.com/Homebrew/linuxbrew/issues/530#issuecomment-144211035
https://stackoverflow.com/questions/32855096/building-linuxbrew-homebrew-standalone-version-on-ubuntu-14

[2015-11-13 05:53] aftnix opened #641 ""Permission denied" errors coming up but i thought brew doesn't need root access."
I thought brew doesn't need sudo access ...
[code]
Besides, why it tries to install the pkg-config files in `/usr/` tree, whereas it can store it in `~/.linuxbrew`tree and add that to `PKG_CONFIG_PATH`

[2015-11-13 05:58] ahundt opened #642 "configure "--env=inherit" to be enabled by default?"
Is there a way to configure linuxbrew so that `brew install blah` will run as if I specified `brew install blah --env=inherit`?

I guess I could alias brew to `brew --env=inherit` in my .bashrc, but that doesn't seem likely to be the best option.

[2015-11-13 06:00] aftnix commented on #641
I've forgot to mention, before trying install vim formula, I've edited it...

[code]

[2015-11-13 12:11] geo1004 opened #644 "Mupdf is obsolete"
The link use to install Mupdf tools is obsolete since the update to  the version 1.8 of Mupdf.

[2015-11-13 18:38] ylluminate commented on #609
Having the same issue here.  I hadn't updated `linuxbrew` for quite some time on this server, and then upon update && upgrade, I found that I was hitting walls with a supposed missing `gcc`.

[code]

Running CentOS / CloudLinux 6.7 here.

[2015-11-13 19:33] benjaminfjones opened #646 "profanity formula depends on 'libcurl'"
Installing 'profanity' fails because of a missing dependency on 'libcurl'.

[code]

From a completely bare linuxbrew, running `brew install profanity` fails at the configuring profanity stage: https://gist.github.com/benjaminfjones/4c731692e0a01e6059d8#file-configure-log-L57

(actually, `brew install profanity` fails before this because of the libgcrypt issue #470 , but I worked around that)

[2015-11-13 19:45] ylluminate commented on #609
So, it appears that `brew install gcc --cc=gcc` resolved the issue, althought I had to step backwards first through some dependencies that were being complained about... and so ultimately providing `--cc=gcc` each time I hit a wall on a dep got me past that.

[2015-11-13 19:46] benjaminfjones commented on #646
*Update* - if I install curl manually, the profanity configure scripts gets further, but fails saying `configure: error: libuuid is required for profanity`. Now it seems that a dependency 'ossp-uuid' has already been installed and is incompatible with 'libuuid' which looks like it provides the right symbol.

[2015-11-13 21:35] mikemcquaid commented on #602
This comment is an(other) example of why I'd like to see more distance between the projects: https://github.com/Homebrew/homebrew/commit/278337dcaa346911306d5e63b72522ad0d4570d8#commitcomment-14391539

[2015-11-14 21:28] dunn commented on #641
I think this is the same issue we're seeing in https://github.com/Homebrew/linuxbrew/issues/554

[2015-11-16 06:57] sjackman commented on #224
Would you like to submit a pull request? I'm on vacation until the new year, so no rush.

[2015-11-16 07:24] sjackman commented on #625
I'm glad to hear that you found a solution, Andrew.

[2015-11-16 07:27] sjackman commented on #631
I'm on vacation in Thailand until the new year. Sorry that I wasn't able to help. This bug is on my radar.

[2015-11-16 07:29] sjackman commented on #638
I'm glad to hear that you found a solution.

[2015-11-16 07:31] sjackman commented on #615
Did you find a workaround to this issue?

[2015-11-16 07:33] sjackman commented on #616
Odd. Do you know which library wasn't linked correctly?

[2015-11-16 11:52] aidylewis commented on #615
Yes, it states in your document that you need a version of git to install git.

[2015-11-16 16:13] sjackman commented on #527
Yes, I do think there is a benefit to building X11 with Homebrew. I haven't had the time to tackle it. Feel free to submit a pull request if you have the inclination.

[2015-11-16 16:16] sjackman commented on #541
Which Linux distribution are you using?

[2015-11-16 16:21] sjackman commented on #583
I'm on vacation in Thailand until the new year. Please bump this thread after then. Sorry for the delay.

[2015-11-16 16:24] sjackman commented on #554
I'm on vacation in Thailand until the new year. Please bump this thread after then. Sorry for the delay.

[2015-11-16 16:27] sjackman commented on #614
I ran into this bug as well.
I'm on vacation in Thailand until the new year. Please bump this thread after then. Sorry for the delay.

[2015-11-16 16:29] #629 closed

[2015-11-16 16:29] #630 closed

[2015-11-16 16:33] sjackman commented on #637
Install tcl-tk without support for X11. See `brew options tcl-tk`

[2015-11-16 16:33] #637 closed

[2015-11-16 16:37] sjackman commented on #640
Good questions, Andrew.
I'm on vacation in Thailand until the new year. Please bump this thread after then. Sorry for the delay.

[2015-11-16 16:38] sjackman commented on #642
The alias is your best bet. What environment variable in particular do you need to pass through?

[2015-11-16 16:41] sjackman commented on #609
I'm on vacation in Thailand until the new year. Please bump this thread after then. Sorry for the delay.

[2015-11-16 16:43] #641 closed

[2015-11-16 21:07] moh117 commented on #631
NP Bro , it's not that urgent take your time .
But i find out that AUR is always updated so i think there is no need for me to use LinuxBrew.

[2015-11-16 22:18] dodekaeder opened #648 "uninitialized constant OS_VERSION (NameError)"
Hey,
just updated brew. Now I get:

``.linuxbrew/Library/Homebrew/global.rb:30:in `<top (required)>': uninitialized constant OS_VERSION (NameError)``

	from /usr/lib/ruby/2.1.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /usr/lib/ruby/2.1.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /home/base/.linuxbrew/Library/brew.rb:15:in `<main>'

[2015-11-16 23:05] automaticgiant opened #649 "uninitialized constant OS_VERSION"
[code]
This happened after a brew update. I have tried removing ~/.linuxbrew and ~/.gem and reinstalling and any brew command I run after gives this result.

[2015-11-16 23:08] naseer commented on #649
Same here

[2015-11-16 23:08] naseer commented on #649
Dup of #648

[2015-11-16 23:16] OmeGak opened #650 "uninitialized constant OS_VERSION (NameError)"
I'm trying to install Linuxbrew standalone following [this guide](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation#ubuntu-1404-specific-tldr-setup-script) from the wiki on a clean Elementary OS Freya (Ubuntu 14.04) and I'm facing a problem early on in the process. This is the output I get every time I run `brew`.

[code]

I don't know if it's relevant, but the Ruby version I have

[2015-11-16 23:21] naseer commented on #650
Duplicate of #648

[2015-11-16 23:22] naseer commented on #648
The recent merge commit  https://github.com/Homebrew/linuxbrew/commit/85d75ac8d331564b3b9a13c6caf87ee4eca27ea5 seems to have broken this

[2015-11-16 23:23] naseer commented on #648
CC @danabrand

[2015-11-16 23:56] aviantask opened #651 "brew failure after update"
Hi,

I ran 'brew update' and immediately after the update, all brew commands are failing with following error ---

/Library/Homebrew/global.rb:30:in `<top (required)>': uninitialized constant OS_VERSION (NameError)
from home/software/brew/linuxbrew/Cellar/ruby/2.2.2/lib/ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require'
from /home/software/brew/linuxbrew/Cellar/ruby/2.2.2/lib/ruby/2.2.

[2015-11-17 00:30] danabrand commented on #600
Looks like I broke it – see issue 648. I am in transit right now, will get to this only in a few hrs, if anyone can fix it, please go ahead. Thank you!

From: Dominyk Tiller [mailto:notifications@github.com]
Sent: Monday, November 16, 2015 12:55 PM
To: Homebrew/linuxbrew
Cc: Brand, Dana
Subject: Re: [linuxbrew] Linuxbrew team (#600)

@danabrand<https://github.com/danabrand> Thanks Dana, you're a s

[2015-11-17 00:31] danabrand commented on #648
Thanks, noted, I am in transit right now, will look at this in a few hrs, if someone else wants to fix quicker, please go ahead. Thanks!

From: Naseer Ahmed [mailto:notifications@github.com]
Sent: Monday, November 16, 2015 3:23 PM
To: Homebrew/linuxbrew
Cc: Brand, Dana
Subject: Re: [linuxbrew] since update there is an issue with ruby (#648)

CC @danabrand<https://github.com/danabrand>

—
Reply to

[2015-11-17 00:39] naseer commented on #651
dup #648

[2015-11-17 00:40] #649 closed

[2015-11-17 00:46] saketkc commented on #648
A quick fix:
https://github.com/Homebrew/linuxbrew/commit/e9b2f2b7bc80ac0ad745dc9b44ec6a077d3758a2#diff-12e3ebbe912ff67cc6ccc040b6fa3382L29

[code]

[2015-11-17 00:52] danabrand commented on #648
Hey thanks, i just pushed a fix in my branch (danabrand) on os.rb as I believe that's the source, but if you know this works and if anyone has access to the repo, please go ahead and push through. I actually don't have access to the main repo, just my branch and helping out during main maintainer being away (a.k.a Shaun)

[2015-11-17 00:53] danabrand commented on #600
Hello, can someone either apply fix suggested in issue 648 or possibly repush my branch, whatever you think it's better. i don't have access to the main repo. thanks!

[2015-11-17 00:58] saketkc commented on #648
It doesn't really fix it.

[code]

[2015-11-17 01:02] naseer commented on #648
yeah - not fixed with https://github.com/danabrand/linuxbrew/commit/3bd7bda1b4b45d51f0e2c7487e9206666e57afa2 either

[2015-11-17 02:53] kholmatov opened #652 "brew help Command - error in Ubuntu 14.04"
brew help
/root/.linuxbrew/Library/Homebrew/global.rb:30:in `<top (required)>': uninitialized constant OS_VERSION (NameError)
	from /usr/lib/ruby/1.9.1/rubygems/custom_require.rb:36:in `require'
	from /usr/lib/ruby/1.9.1/rubygems/custom_require.rb:36:in `require'
	from /root/.linuxbrew/Library/brew.rb:15:in `<main>'
Please help, how fix this problem?

[2015-11-17 03:03] erictleung commented on #652
Appears to be a duplicate of #648

[2015-11-17 03:20] mkinz commented on #648
I am having the same problem as well.

[2015-11-17 03:38] guoxiao commented on #541
CentOS release 6.4

[2015-11-17 03:41] guoxiao commented on #541
I just updated my linuxbrew and now brew cannot be run with the following error:

[code]

[2015-11-17 03:47] DomT4 commented on #600
Will merge your fork in again now. Apologies for the few hours delay.

[2015-11-17 03:49] sjackman commented on #631
Apparently a workaround for your issue is `brew install --cc=gcc rbenv`

[2015-11-17 03:56] sjackman commented on #648
@domt4 Could you please lend a hand resolving this issue, Dominyk?

[2015-11-17 03:56] DomT4 commented on #648
Welp. This is punishment from somewhere for me not having a Linux box set up at the moment I'm sure. Let me just spin up a VM to check the proposed fix.

[2015-11-17 04:02] DomT4 commented on #652
Working on it.

[2015-11-17 04:03] DomT4 commented on #651
Working on it. Please track https://github.com/Homebrew/linuxbrew/issues/648, Thanks.

[2015-11-17 04:03] #651 closed

[2015-11-17 04:03] #652 closed

[2015-11-17 04:03] DomT4 commented on #650
Working on it. Please track https://github.com/Homebrew/linuxbrew/issues/648, Thanks.

[2015-11-17 04:03] #650 closed

[2015-11-17 04:33] DomT4 commented on #648
No dice with purely the proposed fix either. It lets `brew` be executed but:

[code]

[2015-11-17 04:37] saketkc commented on #648
Also this: (`supernv` should not be invoked for `linuxbrew`, right?)
[code]

[2015-11-17 04:43] saketkc commented on #648
I suspect, the issue is here:
https://github.com/Homebrew/homebrew/commit/beed39e46fa021dd1c133c2c8eaaa81b524e68c7#diff-23335809c452169ea76c54df1816fb54R11

Does it not require an equivalent `require "os/linux"`?

[2015-11-17 04:44] DomT4 commented on #648
Will check. If that doesn't work may have to look at reverting the last two merges to buy us some time to actually work on this rather than running around screaming. Maybe it's just me running around screaming :wink:.

[2015-11-17 04:48] DomT4 commented on #648
No dice. You can't actually `require "os/linux"` because it's a directory. Would have to `require "os/linux/hardware"`, which doesn't fix the issue apparently.

[2015-11-17 05:03] danabrand commented on #648
@DomT4 Can you please revert as suggested to previous version before this morning's commit? I am back online now.

[2015-11-17 05:04] DomT4 commented on #648
Just checking a hunch first. If the hunch is right, great. If not, will go on a reverting merge commits spree.

[2015-11-17 05:08] DomT4 commented on #648
Revert done. The error is being thrown from the `doctor` command as noted by @saketkc. Wondering if the error resides in there and chunks of things need to be wrapped in `if OS.mac?` logic in Linuxbrew :confused:.

[2015-11-17 05:10] DomT4 commented on #648
If `brew update` doesn't work you'll need to run:

[code]
Inside your Linuxbrew install to get `brew` functional again. Hopefully not many people updated over the last few hours. Sorry about this folks.

[2015-11-17 05:11] DomT4 commented on #652
If `brew update` doesn't work you'll need to run:

[code]
Inside your Linuxbrew install to get `brew` functional again. Hopefully not many people updated over the last few hours. Sorry about this folks.

[2015-11-17 05:11] DomT4 commented on #651
If `brew update` doesn't work you'll need to run:

[code]
Inside your Linuxbrew install to get `brew` functional again. Hopefully not many people updated over the last few hours. Sorry about this folks.

[2015-11-17 05:11] DomT4 commented on #650
If `brew update` doesn't work you'll need to run:

[code]
Inside your Linuxbrew install to get `brew` functional again. Hopefully not many people updated over the last few hours. Sorry about this folks.

[2015-11-17 05:11] DomT4 commented on #649
If `brew update` doesn't work you'll need to run:

[code]
Inside your Linuxbrew install to get `brew` functional again. Hopefully not many people updated over the last few hours. Sorry about this folks.

[2015-11-17 05:12] ryanjafari commented on #648
Works thanks guys!

[2015-11-17 05:19] danabrand commented on #648
Thank you so much Dominyk. Mistake was mine for not testing more thoroughly.

[2015-11-17 05:23] DomT4 commented on #648
No worries. These things happen Dana. Most of the Homebrew maintainers have broken Homebrew dramatically at least once, so you're not alone heh.

[2015-11-17 05:25] rwhogg commented on #648
I'm personally really impressed that it was only broken for a few hours. Great teamwork getting it back up and running again so soon :smile:

[2015-11-17 05:34] danabrand commented on #648
Heh, you guys are fun - I feel part of the team now :-) On a serious note, I will garden through the `doctor` code and propose a patch that maybe you can test as well before attempting a commit. Or just wait for Shaun to get back, I was only worried about Linuxbrew starting to lag quite a bit behind Homebrew. Thanks again.

[2015-11-17 05:53] sjackman commented on #648
Thanks for rallying, friends. Nothing like calamity to bring a team together. =)
There's no need to wait for my return. Please do steam ahead in my absence. Having two people test and sign off on the merge is a good idea.

[2015-11-17 05:55] sjackman commented on #649
@mikemcquaid Sorry, Mike. Slip of the finger.

[2015-11-17 06:03] sjackman commented on #541
Sorry for that. That issue has been resolved. See #648

[2015-11-17 06:06] sjackman commented on #541
Does PR #612 fix your original issue?

[2015-11-17 06:43] guoxiao commented on #541
No. I test reinstalling `openssh` just now, and the issue still exists.

[2015-11-17 07:11] aftnix commented on #554
Its OK :+1: In the mean time I will stick to the  `vim` from its git repo, though the `HEAD` of that is randomly crashing in my system. That's why i opted for `brew vim`.

[2015-11-17 17:31] sjackman commented on #541
I'm on vacation in Thailand until the new year. Please bump this thread after then. Sorry for the delay.

[2015-11-18 00:12] aviantask opened #654 "alpaths-lg install failing"
I have been getting the following error while installing Allpaths-lg :

    In file included from ./math/Functions.h:13:0,
                 from ./feudal/MasterVec.h:28,
                 from ./VecString.h:14,
                 from ./CoreTools.h:22,
                 from paths/long/SupportedHyperBasevector4.cc:12:
     ./math/Arith.h:138:10: note: candidate: std::ostream& operator<<(std::ostream&,

[2015-11-18 05:03] sjackman commented on #654
This issue was moved to Homebrew/homebrew-science#3034

[2015-11-18 05:03] #654 closed

[2015-11-19 09:26] ahundt commented on #602
Sorry to belabor the point but from another perspective that's a perfect example of why they should be merged!

[2015-11-19 09:30] mikemcquaid commented on #602
@ahundt To ask them to be merged is to ask the people who spend significant amounts of time working on Homebrew to spend more time testing all their changes on Linux for a project with (at most) 1/10th of the users for an OS they don't use which already provides a system package manager.

[2015-11-19 09:31] ahundt commented on #642
I believe this was me installing with a dependent linuxbrew rather than an independent one, so I was trying to make sure the library configure paths were consistent.

[2015-11-19 09:33] ahundt commented on #602
@mikemcquaid I understand, I say this from a hopeful perspective rather than a demanding one. Thanks for taking such good care of homebrew. :+1:

[2015-11-19 09:39] ahundt commented on #602
I have an idea I'll throw against the wall to see if it sticks:

What about minimal, separate core homebrew/linuxbrew repositories, then split the formula folder in both into its own separate default tap? Then it would be less troublesome for linuxbrew and homebrew to remain forked, and formula updates that aren't major breaking changes will simply be automatic for both.

There may be something I

[2015-11-19 09:45] mikemcquaid commented on #602
That's been a plan for years but it'll take a long time to get there and still won't address the issue that Linuxbrew has large numbers of formulae that are broken on Linux.

[2015-11-19 10:55] mu22le opened #655 "Cannot build fontconfig on linux [nsgmls:(invalid location)]"
So, fontconfig fails at build, the relevant error seems to be:
Working on: /tmp/fontconfig20151118-14198-2crw76/fontconfig-2.11.1/doc/local-fontconfig-devel.sgml
nsgmls:(invalid location):E: invalid filename ""

Possible things that I have done wrong:
- brew doctor complains about a few headers in /usr/local/include, but I don't have write permission there, so there is nothing to do about them.

H

[2015-11-19 22:38] jfreimer opened #656 "Ruby md5.so rb_Digest_MD5_Init error"
I just tried to install homebrew and got the following error:

Error: /N/soft/rhel6/ruby/1.9.3-p484/lib/ruby/1.9.1/x86_64-linux/digest/md5.so: undefined symbol: rb_Digest_MD5_Init - /N/soft/rhel6/ruby/1.9.3-p484/lib/ruby/1.9.1/x86_64-linux/digest/md5.so
Please report this bug:
    https://github.com/Homebrew/linuxbrew/blob/master/share/doc/homebrew/Troubleshooting.md#troubleshooting
/N/soft/rhel6/

[2015-11-20 01:36] ahundt opened #657 "Ubuntu 10.04 openssl installation fails"
Setting up linuxbrew as follows leads to the installation of openssl failing:

[code]

[2015-11-20 01:40] ahundt commented on #657
I'm asking someone with relevant ubuntu version to generate the gist-logs for me, they should have it soon.

[2015-11-20 12:14] OmeGak commented on #530
@sjackman, just reporting on your workaround to avoid `sudo ln -s /usr/lib/x86_64-linux-gnu /usr/lib64`. Using `export LIBRARY_PATH=/usr/lib/x86_64-linux-gnu` didn't work for me. Tested on a fresh Elementary OS Freya (Ubuntu 14.04).

Here's the traceback I got if it helps:
[code]

[2015-11-20 16:14] andrewspielvogel commented on #657
Here are the logs

https://gist.github.com/a4ff740aadfc0387c903

[2015-11-20 17:03] tibaes opened #658 "libpng needs to update"
The current formula for libpng inside linux-brew differs from the main homebrew.
The linux brew have libpng-1.6.18 and the homebrew libpng-1.6.19.
Unfortunately, the .18 version is no longer available, so the linux-brew cannot install it.
I replaced the formula of the libpng in my machine and it worked.

[2015-11-21 01:00] wengs commented on #658
I encountered this while installing libpng on my Linux server too. I tried the following instead

 ```brew install  https://dl.bintray.com/homebrew/mirror/libpng-1.6.19.tar.xz```.

But I got another error:

[code]

[2015-11-21 01:55] dunn commented on #658
Linuxbrew usually merges the formula updates from Homebrew once a week, but the primary maintainer is on vacation and so the update cycle is a little slower than usual.  Apologies for the inconvenience!

[2015-11-21 03:25] tibaes commented on #658
@wengs I replaced the libpng formula from the linuxbrew with the home-brew version and it worked just fine.

@dunn good to know! Do you prefer that I close the issue?

[2015-11-21 05:01] DomT4 commented on #658
We merged an update the other day containing this, but had to revert because it basically broke Linuxbrew for everyone. I believe Dana is investigating, but yeah, updates are slower than usual at the moment due to Shaun's absence.

[2015-11-21 07:43] tseemann commented on #658
@DomT4 we need a new issue category called `Shaun_Vacation` :-) @sjackman

[2015-11-21 18:28] jrgreene opened #659 "./jsoncpp_test: error while loading shared libraries: libjsoncpp.so.0: cannot open shared object file: No such file or directory"
Hi I was trying to install jsoncpp and the build process always fails and I have no idea why.

Here is a gist:
https://gist.github.com/anonymous/2d1dba55d994a006f3f8

Update:
I was able to fix the problem above by running the cmake and make install commands myself after downloading the source. I thought I was out of the fire, but then the next next thing I tried to install ran into another error.

[2015-11-21 19:20] DomT4 commented on #658
Linuxbrew essentially needs another (even temporary) maintainer who both uses Linux regularly and is rich enough to spend hours debugging issues on a regular basis for no financial reward. The joys of FOSS :smile_cat:.

Considering we have 9 core maintainers to keep on top of everything, and Linuxbrew has Shaun, it's easy to see why things get stretched.

[2015-11-22 00:30] tseemann commented on #658
Yes, Shaun has a large burden. I spend more time than I should on Homebrew, and it's mainly formulae for science. I am not a ruby native and I don't really understand the internals of Brew, and I struggle with the conflicts with the OS X maintainers who don't really want Linuxbrew co-existing. It's tempting to jump ship to something like https://bioconda.github.io/ but I just don't feel it is as m

[2015-11-22 19:42] iggyvolz opened #660 "Issue with bottle :unneeded"
The offending line in wpcli-completion is bottle :unneeded.  This seems to work fine with Homebrew but not Linuxbrew.  If it isn't supported then I'll report this issue on homebrew-completions but it seems to be a bug with Linuxbrew.

[code]

[2015-11-23 03:01] Slugger70 opened #661 "imagemagick formula needs updating."
In a similar fashion to libpng, the version of imagemagick that the formula attempts to download is no longer available. version 6.9.2-4 is referenced in the current formula but the version available for download is 6.9.2-6.

[2015-11-23 13:17] OmeGak opened #662 "standalone: conflicting types for 'strerror_r'"
I just installed Linuxbrew standalone on a clean Elementary OS Freya (Ubuntu 14.04). I'm again facing problems when installing Postgres but the issue seems to be related more to the standalone installation.

This is the output I get from brew:

[code]

And this is the exact reason I found in `config.log`:

[code]

What I can gather is that `libxml2` is redefining `strerror_r` to return `int` while

[2015-11-23 13:42] OmeGak commented on #662
A bit more info. `include/string.h` is pointing to `Cellar/glibc/2.19/include/string.h`.

I think I've found the source of discrepancy: http://man7.org/linux/man-pages/man3/strerror.3.html

[code]

For some reason, the glibc version installed through homebrew comes with the GNU-specific specification of `strerror_r`, while `libxml2` expects the XSI-compliant.

[2015-11-23 17:30] OmeGak commented on #662
Dirty hack saved the day. I managed to workaround the problem by editing `string.h` and returning `int` as expected by `libxml2`. I'd still like to find the reason why this happened and, if possible, help finding a clean solution.

I also found another caveat with `ncurses` along the way to install Posgres. This time, `libxml2` was trying to use `libncursesw.so.5`, but brew installs `libncursesw.s

[2015-11-24 00:31] netroby commented on #19
I have face the same issue , can it be auto resolve by brew? or at least print the help message help us out.

[2015-11-24 05:09] sjackman commented on #19
The workaround is `brew insall git --with-brewed-curl`. Perhaps this should be the default.

[2015-11-24 05:18] sjackman commented on #658
@danabrand Do you have the time for a merge with some help from the above commenters, whom I have just unilaterally volunteered? :smirk:

[2015-11-24 05:23] #642 closed

[2015-11-24 16:47] danabrand commented on #658
I don't have time, but I will make it... Give me a couple of days. Sorry guys, it got very busy at work and that's why my previous merge was rushed and not fully tested either. Promise to get back in max 48 hrs with a merge.

[2015-11-25 01:35] sjackman commented on #658
@DomT4 @tseemann Can you please give Dana a hand by answering her questions and testing the merge before pushing?

[2015-11-25 02:18] tseemann commented on #661
There seems to be a problem with `harfbuzz` dependency when I try to update this....

[2015-11-25 02:22] tseemann commented on #658
There was another pull request for the update to libpng. I merged it and tested it and it seems fine. But i'm worried i was a bit premature and didn't notice this thread until now. How do I know if i've broken everything? @DomT4

[2015-11-25 05:42] netroby opened #664 "git 2.6.3 wanted"
git 2.6.3 released. but the linuxbrew repository only have 2.6.1 , may you please match it to 2.6.3?

[2015-11-25 05:52] xu-cheng commented on #648
The root of the problem is Homebrew's OS abstraction is not good enough, and Linuxbrew uses too many hacks instead of proper abstraction.

Until I figure out better OS abstraction on Homebrew end and move all linux specific codes to `os/linux.rb`, you can temporary workaround the problem by `require "os/mac"` unconditionally.

[2015-11-25 06:07] Mikaela commented on #664
What is the git version at homebrew? Linuxbrew updates from there weekly or at least used to, I am not sure if it has changed.

[2015-11-25 09:21] netroby opened #665 "subversion: Error when brew install git"
[code]

[2015-11-25 16:00] lima01 opened #666 "Install hhvm failed"
I was able to install HHVM using homebrew on Mac. But got the following error when tried on CentOS6 with LinuxBrew:

 [lma@centos6 elfutils-0.161]$ brew install hhvm
 ==> Installing hhvm from hhvm/homebrew-hhvm
 ==> Installing dependencies for hhvm/hhvm/hhvm: dwarfutils, gawk, libtool, md5sha1sum, ocaml,  bzip2, boost, libpng, freetype
 ==> Installing hhvm/hhvm/hhvm dependency: dwarfutils
 ==> Dow

[2015-11-25 17:20] danabrand commented on #648
@xu-cheng Thank you - will do that, test out and push in my branch. After work hours today though, which means about 6 hrs from now.

[2015-11-25 18:06] DomT4 commented on #664
We're working on getting the repos synced up again. Shaun, who is Linuxbrew's maintainer, has been away so things have slowed a bit. We have a brilliant volunteer called Dana working on getting a merge done. Just bear with us a little bit longer and we'll have it synced.

[2015-11-25 18:06] #664 closed

[2015-11-25 18:11] DomT4 commented on #658
Thanks @danabrand, once again. Sorry so much of this has fallen on you exclusively, really do appreciate the amount of pressure that is. I have a Linuxbrew Debian VM set up, so if anyone needs access let me know.

@tseemann You won't have broken things for users, but if Dana may have to resolve a merge conflict on that since it's now a permanent part of the git history. Users will probably appreci

[2015-11-25 20:03] mistydemeo opened #667 "Multiple errors when trying to install pkg-config"
_From @CoolOmar2020 on November 25, 2015 19:56_

hi , I am trying to install OpenGL libraries & i don't have root account but I always fail due to

dependency pkg-config failing to install

here's the log:

Already downloaded: /mnt/user/.cache/Homebrew/pkg-config-0.28.tar.gz
==> ./configure --prefix=/mnt/user/.linuxbrew/Cellar/pkg-config/0.28 --disable-host-tool --with-internal-glib --with-pc-path

[2015-11-25 20:56] aklatzke commented on #655
This appears to be related to docbook-utils and not LinuxBrew.

On a CentOS environment I ran:

`yum remove docbook-utils`

And was able to successfully install something with fontconfig as a dependency.

[2015-11-25 22:48] danabrand commented on #658
just an update I am working on the merge, but I am looking at 108 conflicts at the moment, not sure what we reverted to or you guys been really active:-) so trolling through them... hope to push something by end of day, PST.

[2015-11-25 23:31] tseemann commented on #658
@DomT4 Thanks for clarifying. I understand now that @danabrand is merging upstream brew. I don't envy that job - my recent `brew update -v` has scrolled pages up my terminal. Lots of stuff going on.

[2015-11-26 05:22] danabrand commented on #600
Hello all, worked on a massive merge today. I did what I could, but I need your help.

I went through all conflicts (100+) reported by the merge and for better or worse, resolved them. I pushed all these in my branch.

However, when testing, I noticed that all formulas using "unneeded" for a bottle, failed. At a closer look, the auto-merged formula.rb doesn't contain a   "def bottle_unneeded?" lin

[2015-11-26 05:28] danabrand commented on #600
Hmm, just noticed issue 660 reports this as well, so the error is not necessarily related to this merge.

[2015-11-26 12:19] mu22le commented on #655
Thanks a lot for the help. Unfortunately the reason I'm using homebrew is that I do not have root access on this machine, I cannot remove docbook-utils. Would it even be possible to install a homebrewed version of nsgmls and have fontconfig use that?

[2015-11-26 17:31] DomT4 commented on #600
It sounds like the auto-merge dropped that line for some reason, maybe there's a conflict there or something. Can you `diff` between the merged `formula.rb` and the homebrew/homebrew `formula.rb` from the merge point?

[2015-11-26 20:32] danabrand commented on #661
@tseemann Just tried the formula that I pushed yesterday in my danabrand repo and it seems to go through fine. This is on Centos 6.x. When installing `freetype` as a dependency, it used `configure  --without-harfbuzz` though.

[2015-11-26 23:01] tseemann commented on #661
@danabrand I was compiling with `with-librsvg` as I need SVG support to convert SVG to PNG. But if it works in the regular case, I would push it urgently, as, like with `libpng`, they have removed the `.xz` file of the version currently in Brew (so annoying!).

[2015-11-26 23:34] danabrand commented on #661
@tseemann I can't push myself to the master - if anyone can take it from my repo and push, that will do.

[2015-11-26 23:48] danabrand commented on #600
@DomT4 It's a bit more complex than that, the unneeded reference appears in a few more files in Homebrew, while not present in Linuxbrew.
Alternatively, we could push all new formulas other than the few involving unneeded. It at least brings a bunch of them up to date, while we figure out (or Shaun does when he's back) the underlining mechanism that breaks. What do you guys think?

[2015-11-26 23:54] DomT4 commented on #600
@danabrand Depending how comfortable you are with it another potential rough hack is to use something like `awk` or `sed` to run through the formulae directory and remove any `bottle :unneeded` or `bottle :disable` lines temporarily.

[2015-11-27 00:14] danabrand commented on #600
@DomT4 hmm, that's not a bad idea. I see 21 formulas using that, not that many. let me try a few. of course it's a hack and not pretty, but it does the job done for the moment.

[2015-11-27 00:16] DomT4 commented on #600
@danabrand What's the breakage process out of curiosity? Does the entirety of Linuxbrew break if there are `bottle :xyz` lines detected or only when those specific formulae are invoked in some manner?

[2015-11-27 00:22] danabrand commented on #600
@DomT4 It seems that only brew installing/updating or otherwise parsing those formulas is affected.  I discovered the behavior in my testing when testing at random brew install on some of the modified formulas in this latest merge. But then I noticed report from issue 660 as well, so I believe this happened a few merges ago. When did you guys introduced `bottle unneeded/disable`?

[2015-11-27 00:31] DomT4 commented on #600
@danabrand Alright, that's manageable at least - I had in mind that `homebrew/versions` can be tapped by Linuxbrew users and there's a bunch of `bottle :xyz` in there these days, but as long as it's only going to die on certain formulae it's not too horrible a UX.

The new `bottle :xyz` DSL was added on October 19th in https://github.com/Homebrew/homebrew/pull/43935.

[2015-11-27 00:32] DomT4 commented on #600
CC @xu-cheng in case he has ideas on why it wouldn't function for Linuxbrew specifically.

[2015-11-27 01:31] sjackman commented on #660
This bug lies in Linuxbrew. @danabrand and @DomT4 are looking into it.

[2015-11-27 01:33] sjackman commented on #600
Thank you very much for tackling this merge even though you're busy, Dana, and thanks Dominyk for supporting her. If bottle :unneeded was broken before this merge, I suggest leaving it broken in this merge and fixing it with a separate commit after the merge. If this merge otherwise works, push! Thank you everyone.

[2015-11-27 01:39] sjackman commented on #655
I'm afraid that I don't have the time available to help troubleshoot individual formula. If you're able to find a work around or solution, please post it here. Sorry that I couldn't be of more help.

[2015-11-27 02:05] danabrand commented on #600
@DomT4 Ok. good news. Worked on an older branch of Linuxbrew pre Oct 19 and merged with Homebrew just to test the formula.rb and related formulae merging; this time the automerging worked just fine and voila, we have good Homebrew formulae. Tested installs for reported formula in issue 660, as well as a few other that have the `bottle:unneeded line`, they worked fine. Checked in these formulae int

[2015-11-27 02:34] DomT4 commented on #600
Yeah, I'll merge you into my VM later today and play with it a bit. May not be till mid-afternoon as have quite a busy day but will get around to it by the evening. Thank you Dana.

Don't worry about not testing everything; It isn't humanly possible to test everything Homebrew tweaks on a weekly basis, let alone longer, without mainlining caffeine and not moving from your computer for a few days :

[2015-11-27 11:12] mu22le commented on #655
@aklatzke, thanks anyway!
@sjackman could you tell me what recipe homebrew installed to provide nsgmls whaen you removed docbook-utils?

[2015-11-27 16:49] sjackman commented on #656
It looks to me like an error with your ruby interpreter. I'm afraid that I don't have time available to help troubleshoot this. Sorry I couldn't be of more help.

[2015-11-27 16:49] #656 closed

[2015-11-27 16:55] sjackman commented on #659
I'm traveling until the new year. If you haven't yet found a workaround or solution for this issue, please bump this thread after then. Sorry for the delay.

[2015-11-27 16:58] sjackman commented on #662
I'm traveling until the new year. If you haven't yet found a workaround or solution for this issue, please bump this thread after then. Sorry for the delay.

[2015-11-27 16:59] sjackman commented on #665
I'm traveling until the new year. If you haven't yet found a workaround or solution for this issue, please bump this thread after then. Sorry for the delay.

[2015-11-27 17:01] sjackman commented on #666
Please report this issue upstream to the hhvm authors and ask them whether they would like to support Linuxbrew.

[2015-11-27 17:01] #666 closed

[2015-11-27 17:03] sjackman commented on #667
I'm traveling until the new year. If you haven't yet found a workaround or solution for this issue, please bump this thread after then. Sorry for the delay.

[2015-11-27 17:17] iggyvolz commented on #667
Could you run brew gist-logs pkg-config and post the link here?  There's lots of under-the-hood information that isn't reported by the front-end that is very useful.

[2015-11-27 21:20] jpmurray commented on #506
@sjackman any news on your fix? I'm trying here to install composer via homebrew and getting thoses errors from PHP56 install.

[2015-11-28 14:44] colt05 opened #668 "Warning: /home/(username)/.linuxbrew/bin is not in your PATH."
Hi. When I installed linuxbrew I saw the warning "Warning: /home/(username)/.linuxbrew/bin is not in your PATH." Can you make it so linuxbrew is automatically instaled to PATH? Thanks.

[2015-11-28 16:45] sjackman commented on #506
No, sorry. I'm traveling until the new year, and I'll have a backlog of work when I return. This issue needs someone to adopt it.

[2015-11-28 16:47] sjackman commented on #668
No, sorry. The user is responsible for configuring his/her shell environment.

[2015-11-28 16:47] #668 closed

[2015-11-28 19:20] DomT4 commented on #600
Seems to be okay. Merges cleanly, can run a `brew update` and `brew upgrade` on an outdated formula. Can run `brew cleanup` and `brew prune` to remove old versions without issue. Can execute commands on `bottle :unneeded` formulae. Can run `brew audit` and `brew audit --strict --online` fine. Can execute the `brew` command itself with no arguments with no errors. `brew doctor` runs without error.

[2015-11-29 03:59] armish commented on #420
had the same issue on a server running CentOS release 6.6. Removing the `no-ssl2`line from the openssl formulae and reinstalling both openssl and python did the trick for me.

[2015-11-29 09:39] sryze opened #669 "pkg-config cannot find system libraries"
It seems that linuxbrew's `pkg-config` cannot find system libraries like gtk+-3.0 or libfreetype installed via apt-get on Ubuntu 15.10.

I was trying to build [tilda](https://github.com/lanoxx/tilda) the other day and its configure script kept complaining about missing gtk+-3.0 package, I couldn't figure out why because it was certainly present on the system. Then I noticed that it was using the l

[2015-11-29 16:47] suhlig commented on #609
I had the same issue on RHEL 6.7, and [symlinking the existing gcc helped](https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation#create-symlinks-for-gcc).

[2015-11-30 18:05] CoolOmar2020 commented on #667
https://gist.github.com/anonymous/33b14151949115ff58ae

[2015-11-30 18:14] danabrand commented on #600
@DomT4 Thank you Dominic. Please go ahead with the conflict resolve and if you feel we can bite the bullet, push the new commit. Fingers crossed.

[2015-11-30 18:36] #265 closed

[2015-11-30 18:36] #313 closed

[2015-11-30 18:37] DomT4 commented on #660
It should be resolved now with the latest merge from testing. Let us know otherwise, Thanks.

[2015-11-30 18:37] #660 closed

[2015-11-30 18:37] DomT4 commented on #658
Has been updated with @tseemann's commit.

[2015-11-30 18:37] #658 closed

[2015-11-30 18:38] DomT4 commented on #648
Should be resolved.

[2015-11-30 18:38] #648 closed

[2015-11-30 18:42] DomT4 commented on #600
Merged. Did a bit more testing locally, everything seems to work as expected, which probably means there's some edge case breakage we'll suddenly get flooded with :smile_cat:, but fingers crossed all is alright. Thanks again Dana. We owe you a :beer: some day for all the help here.

[2015-11-30 18:43] #646 closed

[2015-11-30 18:44] DomT4 commented on #646
Resolved the `libcurl` issue. Can you open a new issue for the `libuuid` problem with some logs on that if still reproducing? Thanks.

[2015-11-30 18:48] DomT4 commented on #599
Should be resolved now, providing your brew is up-to-date.

[2015-11-30 18:48] #599 closed

[2015-11-30 18:48] DomT4 commented on #597
The formula should now complain if you try to build with an incompatible compiler.

[2015-11-30 18:48] #597 closed

[2015-11-30 18:49] DomT4 commented on #591
Please let us know if this is still an issue against an up-to-date brew, Thanks!

[2015-11-30 18:49] #591 closed

[2015-11-30 18:49] DomT4 commented on #590
The formula should now complain if you try to build with an incompatible compiler, which was very likely the problem here.

[2015-11-30 18:49] #590 closed

[2015-11-30 18:49] #573 closed

[2015-11-30 18:49] DomT4 commented on #572
The formula should now complain if you try to build with an incompatible compiler.

[2015-11-30 18:49] #572 closed

[2015-11-30 18:50] DomT4 commented on #561
Let us know if you need further help here, thanks!

[2015-11-30 18:50] #561 closed

[2015-11-30 19:33] danabrand commented on #600
@DomT4  BTW, managed to injure myself this weekend on a first ski trip this winter, so one hand typing now and less computer glued, but will try to watch the issues.  @sjackman  Shaun, come back!!!!!!! :)

[2015-11-30 22:25] peteygao opened #670 "MySQL build failure due to pidof build failure on CentOS 7"
MySQL depends on `pidof` and `pidof` build fails with:
[code]

[code]

**EDIT**: Based on [this line](https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/mysql.rb#L15), it would seem like `pidof` should not show up as a dependency on Linux machines, but clearly it's showing up, so is it that `!OS.mac?` is not returning the correct value?

Here's what `brew info mysql` displays:
[code

[2015-11-30 23:44] #670 closed

[2015-12-01 02:37] iggyvolz commented on #667
From looking at some bug reports similar, it looks like you ran out of memory on your system.  Some possible workarounds involve modifying CFLAGS manually, which will get really messy with Linuxbrew.  Are you working on a low-memory system, and if so, is there any way you could install more memory?

[2015-12-01 04:29] DomT4 commented on #600
@danabrand We just get pouring rain in the UK :wink:. Hope the injury isn't too painful and you recover soon!

[2015-12-01 18:54] Rudloff opened #673 "brew gist-logs does not work"
It gives me this error:
```Error: HTTP 404 Not Found (expected 201)```

[2015-12-01 20:28] vishgala commented on #598
Facing the same issue. Any updates ?

[2015-12-02 04:30] dunn commented on #598
I don't think `"+x"` is a valid argument for Ruby's version of `chmod`.  Try changing line 35 to something like
[code]

[2015-12-02 12:17] chvcdeepak commented on #70
In my case for the above error below command worked

**git config --global http.sslVerify false**

[2015-12-02 20:04] benjaminfjones opened #674 "profanity formula depends on libuuid"
Trying to `brew install profanity` in a fresh linuxbrew environment, first I get a failure on 'libgcrypt'. After working around the issue (see #470) the profanity build system fails because it cannot find 'libuuid'. There is a formula for libuuid, but it conflicts with 'ossp-uuid' which is installed by one of the dependencies.

Full build log:

https://gist.github.com/b47a37d7325eef2e8ed1

[2015-12-02 20:05] benjaminfjones commented on #646
Opened #674 for the `libuuid` problem.

[2015-12-05 22:13] tseemann commented on #667
@iggyvolz Maybe not a physical RAM issue but running on a cluster with RAM quota or similar?

[2015-12-06 00:48] guidstah commented on #49
Doesn't really work for me!

ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/uninstall)"
-e:89:in ``': No such file or directory - command -v brew (Errno::ENOENT)
	from -e:89:in `<main>'

How do I run the uninstall script without any errors??

[2015-12-07 21:41] s3r1alpari4h opened #676 "Cowardly refusing to continue at this prefix: /usr"
I just installed linuxbrew on Ubuntu 15.10 sand get the message
Cowardly refusing to continue at this prefix: /usr

Maybe it has something to do with me symlinking brew to /usr/bin?
It says command not found without the symlink

[2015-12-07 21:48] s3r1alpari4h commented on #676
Removed symlink and added /home/me/.linuxbrew/bin to $PATH in zshrc fixed it

[2015-12-07 21:48] #676 closed

[2015-12-08 14:43] hacpai opened #677 ".linuxbrew/opt/glibc/lib/ld-linux-x86-64.so.2: bad ELF interpreter: No such file or directory"
I meet some problem when brew remove glibc.

When I enter `brew` in CentOS 7, It prompt:

[code]

[2015-12-10 02:19] gbarnesus opened #678 "Cant Install Node"
When installing node it gets stuck on Make Install.

brew doctor show no problems

brew audit says :
...
timelimit:
 * Incorrect file permissions (664): chmod 644 /home/user/.linuxbrew/Library/Formula/timelimit.rb

ldapvi:
 * Incorrect file permissions (664): chmod 644 /home/user/.linuxbrew/Library/Formula/ldapvi.rb

Error: 3420 problems in 3306 formulae

[2015-12-10 13:48] #678 closed

[2015-12-10 21:57] aviantask commented on #661
The problem has reoccurred now with new version being 6.9.2-8

[2015-12-11 03:49] rwhogg opened #679 "HEAD conflict marker in .travis.yml"
There's currently a <<< HEAD conflict marker in the .travis.yml file. See https://github.com/Homebrew/linuxbrew/blob/master/.travis.yml#L1

[2015-12-11 04:38] #679 closed

[2015-12-11 04:39] dunn commented on #679
Thanks!

[2015-12-11 04:39] rwhogg commented on #679
np, thanks for fixing it so quickly

[2015-12-11 14:44] albertz opened #680 "brew install git fails because missing curl.h"
https://gist.github.com/anonymous/9d9667f6d3f9c50c1283

Basically:

[code]

So, I guess Curl is a missing dep.

[2015-12-11 14:47] albertz opened #681 "brew doctor fails to see bin path because of symlink"
https://gist.github.com/anonymous/9d9667f6d3f9c50c1283#file-doctor-out

I have `/u/zeyer/.linuxbrew/bin` in my `PATH` which is the same as `/work/asr2/zeyer/linuxbrew/bin` (because `/u/zeyer/.linuxbrew` is a symlink).

[2015-12-11 14:54] albertz opened #682 "git: directory not empty"
https://gist.github.com/anonymous/fdad385fd98a7c662433

[code]

Not sure what this means.

[2015-12-11 14:55] albertz commented on #680
After I did `brew install curl`, I now get another error: #682

[2015-12-11 14:59] albertz commented on #682
With `brew install -vd git`:

[code]

[2015-12-12 04:40] sjackman commented on #600
I hope that your ski injury has recovered, Dana. Thanks again both of you for your efforts! Liz and I have left Thailand and are now in Bali, Indonesia.

[2015-12-12 05:10] sjackman commented on #420
Thanks for the tip, Arman.

[2015-12-12 05:23] sjackman commented on #682
I'm on vacation until the new year. If this issue is still a problem for you after then, please bump this thread. Sorry for the delay.

[2015-12-12 05:23] sjackman commented on #680
I'm on vacation until the new year. If this issue is still a problem for you after then, please bump this thread. Sorry for the delay.

[2015-12-12 05:24] sjackman commented on #681
I'm on vacation until the new year. If this issue is still a problem for you after then, please bump this thread. Sorry for the delay.

[2015-12-12 05:26] sjackman commented on #677
You'll likely have to remove and reinstall Linuxbrew. Sorry for the hassle.

[2015-12-12 05:26] #677 closed

[2015-12-12 05:28] sjackman commented on #598
Or upgrade your version of Ruby if possible.

[2015-12-12 05:29] sjackman commented on #674
I'm on vacation until the new year. If this issue is still a problem for you after then, please bump this thread. Sorry for the delay.

[2015-12-12 05:29] sjackman commented on #673
I'm on vacation until the new year. If this issue is still a problem for you after then, please bump this thread. Sorry for the delay.

[2015-12-12 05:32] sjackman commented on #669
Linuxbrew aims to use its own libraries as much possible. Try `brew install gtk`. I'm on vacation until the new year. If this issue is still a problem for you after then, please bump this thread. Sorry for the delay.

[2015-12-13 17:43] retokromer opened #684 "brew config output"
My OS linuX version is 0 ;-)

![linuxbrew](https://cloud.githubusercontent.com/assets/3246607/11768295/a5b03294-a1c8-11e5-9ec2-4a8f69c1c811.png)

Is it useful to fix the <code>brew config</code> output, or am I the only one who noticed some incoherences?

[2015-12-14 01:32] danabrand commented on #600
Hi guys, apologies for dropping off the grid. Still recovering, boy I forget my age... I will try to poke at an up-to-date all-in-one merge this coming week, but most likely I will truly get onto it only on the 22nd. Hope to have it ready for all as Xmas present;)

[2015-12-14 14:41] sjackman commented on #684
Yes, the output could be tidied up for Linuxbrew. In particular, it should show the compiler path and version. I'm on vacation until the new year.

[2015-12-17 01:06] jszakmeister commented on #389
FWIW, people trying to build Neovim via Linuxbrew have been running into this problem too.

[2015-12-17 04:11] sjackman commented on #389
I had thought that this issue was already resolved by a previous pull request. It would seem not. I'm on vacation until the new year. Please bump this thread after then. Sorry for the delay.

[2015-12-17 11:21] jszakmeister commented on #389
No worries.  I'll try and remember to bump this after the new year.  Enjoy your vacation!

[2015-12-18 12:42] typekpb opened #686 "node failed to build on RHEL 6.7"
logs by `brew gist-logs node`: https://gist.github.com/anonymous/9b768eca929eb0922372

[2015-12-18 19:45] ahundt opened #687 "boost: really need boost installer that works and has boost.log"
I've been trying to get a boost installer that works and has boost.log running using the system gcc, but haven't had any luck.

I made this tree to try and do it:
https://github.com/ahundt/linuxbrew/tree/robone

Here I'm merging a recent pull request from boost 1.60. 1.59 has bugs in the compilation of boost.log as well which are fixed in 1.60 (or a 1.59 patch that is available) so I'd prefer to u

[2015-12-19 00:48] sjackman commented on #686
I'm on vacation until the new year. Please bump this thread after then. Sorry for the delay.

[2015-12-19 02:16] sjackman commented on #687
What version of system gcc are you using? What's the problem with boost.log? Please post a build log. I'm on vacation until the new year. Sorry for delays in my response.

[2015-12-19 15:01] davidyarham opened #688 "404 error on brew install openssl"
Only this afternoon (This morning seemed to be fine) I am getting.

==> Downloading https://www.openssl.org/source/openssl-1.0.2.tar.gz

curl: (22) The requested URL returned error: 404 Not Found
Trying a mirror...
==> Downloading https://raw.githubusercontent.com/DomT4/LibreMirror/master/OpenS

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "openssl"

[2015-12-19 19:18] DomT4 commented on #688
Your Linuxbrew seems to be quite out of date. Please try `brew update`.

[2015-12-19 23:48] eallik commented on #673
also experiencing exactly the same problem.

[2015-12-20 00:11] sjackman commented on #673
@DomT4 Any idea why brew gist-log would not work?

[2015-12-20 00:14] DomT4 commented on #673
Related to this possibly: https://github.com/Homebrew/homebrew/issues/39864

[2015-12-20 00:59] sjackman commented on #673
Ah, confusing that it gives a 404 rather than a 403, but that's a helpful lead.

[2015-12-20 07:31] retokromer commented on #673
Perhaps this may be useful: on different Linuxes it works fine for me, giving
https://gist.github.com/cc481221830ac4933e8f
[I experience troubles on Mac, but that's are for sure my attempts to bypass that horrible Xcode.]

[2015-12-21 19:57] xq262144 opened #689 "linuxbrew is not working properly under CentOS6.5"
I tried `brew install curl --with-c-ares` in my CentOS 6.5 box and got unexpected errors.
[code]

However, `gcc 4.4.7` is shipped with the CentOS 6.5 system and working fine.
[code]
Calling `gcc --version`
[code]

And I found there is a failure gcc version regex search in
https://github.com/Homebrew/linuxbrew/blob/master/Library/Homebrew/os/mac.rb#L153

I simply rewrite the regex from
[code]
to
[c

[2015-12-22 01:32] jervisfm commented on #689
A possible workaround for that is to add symlinks to the gcc compiler under the bin/ sub-directory of linuxbrew . From https://github.com/Homebrew/linuxbrew/wiki/Standalone-Installation#to-use-gcc-44-on-centos-5

[code]

[2015-12-22 06:37] wittawasw commented on #688
`master` branch's out of date.
`openssl-1.0.2d.tar.gz` is not available anymore, they changed it to `openssl-1.0.2e.tar.gz` already

merging source from `homebrew/homebrew` will fix this.

[2015-12-25 05:42] anirudh-ramesh commented on #688
I tried updating Linuxbrew earlier today, but I couldn't fix it. So I manually updated the file. Here's the fix to this issue:

Open ``~/.linuxbrew/Library/Formula/openssl.rb``

Replace ``url "https://www.openssl.org/source/openssl-1.0.2d.tar.gz"`` with ``url "https://www.openssl.org/source/openssl-1.0.2e.tar.gz"``

Replace ``sha256 "671c36487785628a703374c652ad2cebea45fa920ae5681515df25d9f2c9a8c8

[2015-12-25 18:31] sjackman commented on #688
Thanks for the workaround. This issue will be fixed in the new year.

[2015-12-26 20:48] nachoaIvarez opened #691 "libevent source outdated"
When installing formulas that have libevent as a dependency (tmux for example) you get a 404 since [this](https://sourceforge.net/projects/levent/files/libevent/libevent-2.0/libevent-2.0.22-stable.tar.gz) is outdated. The correct version can be found [here](https://github.com/libevent/libevent).

[2015-12-26 22:16] sjackman commented on #691
This issue will be fixed in the new year when Homebrew is merged into Linuxbrew. Thanks for the bug report.

[2015-12-26 22:16] #691 closed

[2015-12-27 10:02] ahundt commented on #687
It is the default with 14.04. I'll try to get a log tomorrow

[2015-12-27 22:55] beatorizu commented on #420
If you are using GAE, you need add ssl to app.yaml file:

libraries:
- name: ssl
  version: latest

I hope this help.

[2015-12-28 19:04] dunn commented on #554
This may be resolved by https://github.com/Homebrew/homebrew-dupes/commit/09d96f4fe3c4bdbd7fc2be5e75468df22b863301; can you try running `brew update` and trying again?

[2015-12-28 22:40] mohakshah commented on #562
I was facing the same issue on Linux Mint 17.2 x64 (based off of Ubuntu 14.04). Installing python setuptools from the distribution's repo worked for me. Simply running:

`sudo apt-get install python-setuptools`

and then installing sphinx-doc from brew

`brew install spinx-doc`

works properly.

Since homebrew itself installs python setuptools on installation of the python formula (per https://git

[2015-12-29 08:19] clayshieh opened #693 "Subversion 1.9.3 installation error"
From:
https://github.com/Homebrew/homebrew/issues/47465#issuecomment-167742992
I have already modified my local subversion.rb file with the new url's and correct sha256 so that it will install 1.9.3 instead. But now I'm getting an error:

scons: Reading SConscript files ...
/bin/sh: 1: /usr: Permission denied
OSError: '/usr --cflags gssapi' exited 126:
  File "/tmp/subversion--serf20151228-82007-1

[2015-12-29 12:07] mikemcquaid commented on #602
@sjackman Please shout when you are no longer travelling.

[2015-12-29 13:30] retokromer commented on #602
In my personal opinion, it would make more sense to keep Linxubrew within the Homebrew organisation.

[2015-12-29 22:20] sjackman commented on #687
What is the default version of GCC with Ubuntu 14.04?

[2015-12-29 22:28] sjackman commented on #693
Duplicate of #665

[2015-12-29 22:28] #693 closed

[2015-12-29 22:30] sjackman commented on #602
Hi, Mike. I'll be back in the new year, some time after Jan 3.

[2015-12-30 06:58] skylerzhang commented on #688
thanks DomT4

[2015-12-30 06:59] skylerzhang commented on #688
thank DomT4

[2015-12-30 21:49] #688 closed

[2015-12-31 04:00] vol7ron commented on #682
This is the output I get when I do `brew install git` or `brew update`

Output:

Basically, it seems git cannot be installed via homebrew, or at least linuxbrew.  I'm not sure if this is by design, since I think git is also a dependency, or at least integrated into homebrew in some way.

[2015-12-31 17:59] sjackman commented on #682
It looks like perhaps there's a cyclic dependency. Are there other formula in the cycle, or just git?

[2015-12-31 18:09] vol7ron commented on #682
Just git in a new install of VirtualBox Ubuntu instance.

[2015-12-31 19:50] retokromer commented on #682
A workaround for @vol7ron until fixed: When you install first git without brew (sudo apt-get install git), it doesn’t cycle – and works.
An information for @sjackman : Months ago the installation worked well with brew.

[2016-01-01 01:30] vol7ron commented on #682
@retokromer yes, I can install *git* manually via *apt-get* or through the Ubuntu App store, but thought this was worth reporting as an issue.

### Issue 2
Once *git* is installed (there are no updates from `brew update` and `brew doctor` returns nothing), I have tried to install *git* via homebrew (e.g., `brew install git`).  This yields another error when trying to make *tcl-tk*.  I'm guessing t

[2016-01-01 05:51] retokromer commented on #682
@vol7ron My remark was just meant as a provisory workaround, which I quickly tested on a test machine, where I can then install all the ca. 12-15 formulas we are using for work without problems. On all our production computers git has been installed by brew months ago, and also updated. There *is* indeed something broken now!

[2016-01-01 08:55] vol7ron opened #695 "libxml2 failed to install"
**Host:** VirtualBox Ubuntu 14.04.1
**Software:**
[code]

### First error mesage
[code]

This required `brew install gzip`, which required `brew install texinfo` and `brew install make`.  After performing these, the error message was a little lighter:

### After gzip/texinfo/make installed
[code]

I tried `brew install libtool`, which required `brew install m4`; but cannot find how to update gzdop

[2016-01-01 17:02] dunn commented on #695
Can you post the `brew gist-logs libxml2` after each failure?

It's also worth noting that Linuxbrew is currently a ways behind Homebrew; it should become up-to-date again this week.

[2016-01-02 00:06] vol7ron commented on #682
@Reto thank you for confirming this. I'm also having issues installing a gcc brew, so I don't know what is up

[2016-01-02 00:41] vol7ron commented on #695
https://gist.github.com/vol7ron/ee184d5173227e547b42

[2016-01-02 00:59] sjackman commented on #682
Thanks for reporting this bug. I'll look into it in a couple of days once I've returned from vacation.

[2016-01-02 01:49] vol7ron commented on #695
I was able to successfully make/install after I ran the following command:

    sudo apt-get zlibc zlib1g zlib1g-dev

Of note, I had alread `brew install zlib`, so I'm not sure what else apt-get would be retrieving, that wasn't installed with brew.  Worth note, this is linuxbrew and not homebrew (if there is a distinction).

Can I get some confirmation that there is an issue and this shouldn't hav

[2016-01-02 03:07] dunn commented on #695
I'm not sure; I'm not on the Linuxbrew team.  The primary maintainer will be back this week, though.

[2016-01-02 04:49] vol7ron commented on #695
Understood. In general, aside from some installation issues it seems to be working comparable to homebrew.

I've never tried using it from the start on a vanilla install of Ubuntu LTS. These issues I'm reporting is more of a notification, than a demand to get something patched immediately.

I imagine linuxbrew has much more complexity, since Macs come installed with certain languages, daemons, and

[2016-01-02 04:49] vol7ron commented on #682
You should be enjoying your vacation and not even checking your mail ;)

[2016-01-02 06:25] sjackman commented on #695
Thanks for the bug report. Yes, this error is not expected. I'll look into it once I'm back from vacation.

[2016-01-02 06:26] sjackman commented on #682
Very true!

[2016-01-02 20:59] vol7ron opened #699 "Operation already in progress for zlib when installing Apache 2.4"
[code]

Not sure how to view linuxbrew operations in progress; `ps` show there are no active processes.  Perhaps there's a way to clear the linuxbrew cache?

[2016-01-02 23:06] youtux opened #700 "git: Unable to install `git` unless it already exists in the system"
Hello, I'm trying to make linuxbrew work on debian/ubuntu machines where I do not have root privileges. The only relevant package installed is `build-essential`. My goal is to have brew up and running in order to install all the packages I need in userspace.

I installed linuxbrew by downloading the install script and running it with:
[code]
The installation succeded, but in order to install anyth

[2016-01-03 00:41] iggyvolz commented on #673
Try running brew gist-logs without a token, or with a token that has gist rights?

[2016-01-03 08:30] retokromer commented on #684
This is funny too: same from reference and to reference:

![screenshot 2016-01-03 09 23 08](https://cloud.githubusercontent.com/assets/3246607/12077934/61c8342a-b1fc-11e5-86f0-96bcc7514008.png)

[2016-01-03 19:06] SPARKLING165 opened #701 "Cannot download imagemagick, the requested URL returns a 404 error"
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
I was able to fix it
Instead of going through linuxbrew I simply did sudo apt-get install imagemagick
I am keeping my post in case someone has the same problem
///////////////////////////////////////////////////////////////////////////////////////////////////////////////

[2016-01-05 08:14] ahundt commented on #687
gcc (Ubuntu 4.8.4-2ubuntu1~14.04) 4.8.4

[2016-01-05 09:25] baig62fk opened #702 "`brew install libcouchbase` in lubuntu is failing"
Struck with this, could someone look the stacktrace,
===============================================================================
Last 15 lines from `/home/mirzaf/.cache/Homebrew/Logs/openssl/03.make`:

[code]

[2016-01-05 16:54] tdsmith commented on #702
Your system headers are broken.

[2016-01-05 19:13] sjackman commented on #600
Hi, friends. I'm back from vacation and sleeping in my own bed again after three months away. Thanks for all your help in my absence. As much as you have time available, I encourage you all to continue contributing to Linuxbrew! I really need the help.

[2016-01-05 19:33] sjackman commented on #600
Now on to some trickier technical stuff. I started a `git merge homebrew/master` today and got 200 merge conflicts! Whew! I believe that these merge conflicts are a results of the merges on 2015-11-10 and 2015-11-16 and the subsequent reverts on 2015-11-17. git now thinks that a bunch of files are modified on the linuxbrew branch, and these files create merge conflicts. Here's a good blog post on

[2016-01-05 19:52] sjackman commented on #600
Here's what I plan to do:

[code]

[2016-01-05 19:59] sjackman commented on #600
This strategy reduces the number of merge conflicts from 200 to 42, so I think that I'm on the right track. The real test will be in future merges.

[2016-01-05 22:32] sjackman commented on #600
The merge is going well. I'm testing it now at https://github.com/sjackman/linuxbrew/
If all goes well, I'll push it to linuxbrew/master

[2016-01-06 00:00] sjackman commented on #687
Does boost 1.59 build correctly for you with gcc 4.8.4? If not, please report `brew gist-logs boost`

[2016-01-06 00:08] sjackman commented on #701
This issue will most likely be fixed by tomorrow. Try `brew update` tomorrow.

[2016-01-06 00:08] #701 closed

[2016-01-06 00:10] sjackman commented on #702
`sys/cdefs.h` should be provided by `glibc`.

[2016-01-06 00:10] #702 closed

[2016-01-06 01:04] sjackman commented on #682
See also #700

[2016-01-06 01:07] sjackman commented on #700
See https://github.com/sjackman/docker-linuxbrew/blob/91f509802167f10a1ba9394c3750197b9a6eb9b6/linuxbrew-standalone/Dockerfile#L6-L8

Try
[code]

I think that perhaps `--without-tcl-tk` should be the default on Linux. The downside is that the GUI `gitk` won't be built. What do you think?

[2016-01-06 01:07] sjackman commented on #682
See https://github.com/sjackman/docker-linuxbrew/blob/91f509802167f10a1ba9394c3750197b9a6eb9b6/linuxbrew-standalone/Dockerfile#L6-L8

Try
[code]

[2016-01-06 01:09] sjackman commented on #699
The tap `homebrew/apache` is not supported by Linuxbrew. That being said…
Try `brew edit httpd24` and change
[code]
to
[code]

[2016-01-06 01:09] #699 closed

[2016-01-06 01:18] youtux commented on #700
In that case you wouldn't benefit from the binary version already on Bintray, am I right? Or is that only an homebrew (for Mac OS) thing?

Maybe the `brewed-curl` and `brewed-openssl` options should be the default on Linux, too.

[2016-01-06 03:38] sjackman commented on #648
See https://github.com/Homebrew/linuxbrew/issues/600#issuecomment-169105973 for how I've resolved these reverted merge commits.

[2016-01-06 03:58] sjackman commented on #700
Bottles are only created automatically for Mac. Linux can use bottles, but they're not created automatically.

Yes, I think that would be a good idea.

[2016-01-06 04:00] sjackman commented on #600
The merge went well and is now pushed to linuxbrew/master!

[2016-01-06 04:01] sjackman commented on #600
I'm going to close this issue now. If anyone would like to contribute more work to Linuxbrew, I would very much appreciate your help.

[2016-01-06 04:01] #600 closed

[2016-01-06 04:13] sjackman commented on #687
See also #643

[2016-01-06 07:59] rwhogg opened #704 "Java version dependency seems to be ignored"
I tried to upgrade to `golo` version 3 after tonight's merge, having (by coincidence) installed 2.10 this morning.

The upgrade appears to complete successfully, as does uninstalling golo and reinstalling version 3 from scratch. However, in either case, running it is not possible:

    Exception in thread "main" java.lang.UnsupportedClassVersionError: org/eclipse/golo/cli/Main : Unsupported major.

[2016-01-06 08:03] rwhogg opened #705 "`brew doctor` warns about using Homebrew/linuxbrew as an origin"
`brew doctor` now gives the following message:
    Warning: Suspicious git origin remote found.

    With a non-standard origin, Homebrew won't pull updates from the main repository. The current git origin is:
      https://github.com/Homebrew/linuxbrew

    Unless you have compelling reasons, consider setting the origin remote to point at the main repository, located at:
      https://github.com/

[2016-01-06 16:59] peterdfields opened #706 "snap installation fails"
Installation of snap fails with the following message:

==> Installing homebrew/science/maker dependency: snap
==> Downloading http://korflab.ucdavis.edu/Software/snap-.tar.gz

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "snap"
Download failed: http://korflab.ucdavis.edu/Software/snap-.tar.gz

Installation works fine if the brew script is edited wi

[2016-01-06 17:01] DomT4 commented on #600
Welcome back @sjackman. No offence taken to doing it your way. Things got kind of complicated with merging and then having to revert the merge commits to avoid manually reverting 200+ commits. Linuxbrew has been a bit of a handful. I'm not really sure how you manage to keep on top of it to be honest, given you also contribute to at least the Science tap.

Dana was a complete godsend. Very little w

[2016-01-06 17:03] sjackman commented on #704
I don't believe Java version checking is implemented.
Try `brew install jdk`

[2016-01-06 17:03] #704 closed

[2016-01-06 17:19] sjackman commented on #704
I'd be happy to accept this feature if you have the time and inclination to submit a pull request.

[2016-01-06 17:31] sjackman commented on #705
Yes. I agree. I'll fix this.

[2016-01-07 00:33] #705 closed

[2016-01-07 00:34] sjackman commented on #705
Fixed. Thanks for the bug report, Bob.

[2016-01-07 00:41] sjackman commented on #706
This issue was moved to Homebrew/homebrew-science#3179

[2016-01-07 00:41] #706 closed

[2016-01-08 16:57] mikemcquaid commented on #602
@sjackman Can you give your thoughts on the above? Thanks.

[2016-01-08 18:01] sjackman commented on #602
My preference is to keep Linuxbrew in the Homebrew organization. It shows that Linuxbrew is a part of the Homebrew ecosystem, and not simply a similarly named but unrelated project. I don't see a particular technical advantage to moving Linuxbrew to its own organization.

[2016-01-08 18:02] jwhite007 opened #707 "Upgrade of GMP Failing"
The logs are here... https://gist.github.com/5484cff5aa44fd12cc9b

Thanks in advance for any feedback.

[2016-01-08 18:28] sjackman commented on #707
I don't have a proper fix for this issue just yet. The workaround is:
[code]

[2016-01-08 18:28] #707 closed

[2016-01-08 18:28] sjackman commented on #707
https://gist.github.com/anonymous/5484cff5aa44fd12cc9b#file-config-log-L113
`/toolbox/NGS/.linuxbrew_amd/Cellar/gcc/5.2.0/libexec/gcc/x86_64-unknown-linux-gnu/5.2.0/cc1: error while loading shared libraries: libgmp.so.10: cannot open shared object file: No such file or directory`

[2016-01-08 18:56] jwhite007 commented on #707
Thank you, sir, for the quick reply. That worked.

[2016-01-08 21:32] mikemcquaid commented on #602
@sjackman We keep getting Linuxbrew issues filed on Homebrew, it doesn't have enough maintainers or a focus on quality (e.g. you fork Homebrew's formulae many of which don't work). This all reflects badly on Homebrew and, honestly, Linuxbrew maybe benefits from being part of the Homebrew ecosystem but it now detracts from Homebrew. If it had it's own organisation it can sink or swim as an independ

[2016-01-09 02:45] sjackman commented on #602
I don't think that moving Linuxbrew to its own organization is going to resolve the matter of users submitting issues to the wrong project. I am keen to hear what short-term changes you think could improve the situation.

I'm sorry to hear that you think Linuxbrew detracts from Homebrew. I don't believe that's a fair assessment. Linuxbrew has just about two thousand stars on GitHub. That's a signi

[2016-01-09 09:37] mikemcquaid commented on #602
I think it will. There's been confusion on Twitter about it being an "official" Homebrew project and the URL points to that being the case.

I don't think GitHub stars is an objective measurement. If someone found it useful and then stopped using it do you think they would go back and unstar the project?

This is exactly my point: it's not the same package manager. It's an attempt to port Homebrew

[2016-01-09 09:45] bfontaine commented on #602
I won’t actively block; I don’t think it’ll harm Linuxbrew to move under its own organization. [Homebrew-Cask](https://github.com/caskroom/homebrew-cask) is under its own and AFAIK they’re doing great. You’ll have more control and will be able to create taps dedicated to Linuxbrew; something that’s hardly possible under the current org without causing confusion. If you want to use Travis you’ll al

[2016-01-09 10:11] retokromer commented on #602
I second @mikemcquaid's remark regarding a white-list rather than a black-list for formulae.

On the one hand, as said, I would personally prefer having linuxbrew inside homebrew. On the other hand, frankly speaking, I have the impression -- I really hope my impression is wrong! -- that @sjackman is willing to run an one-man-show, despite his calls for help. I fixed myself the "things" I need on t

[2016-01-09 12:40] retokromer opened #708 "w3m failed to build on Slackware 14.1 and on Ubuntu 14.04 LTS"
`brew gist-logs w3m` output:
https://gist.github.com/28684d820ba446e07e21

Terminal output:

[code]

[2016-01-09 16:36] UniqMartin commented on #602
I'm alright with Linuxbrew leaving the Homebrew umbrella. I think it will reduce confusion and will bring more freedom to Linuxbrew, maybe even more visibility and thus new maintainers to the project, without denying its origins and its close ties to Homebrew (that is still evident from its name).

[2016-01-09 22:57] #708 closed

[2016-01-09 22:59] sjackman commented on #708
This bug was reported in #159 and fixed in f383493, but was somehow unintentionally reverted, probably in a merge. It's fixed once again. Thanks for the bug report.

[2016-01-09 23:18] DomT4 commented on #602
I guess I should say something, being both a Homebrew maintainer and the accidental maintainer-face of Linuxbrew for the last few months. I was also only beaten in commits across the entire Homebrew organisation last year by BrewTestBot (which isn't a fair fight), so I see a lot of what goes on.

Linuxbrew is a useful project. It fills the niche, and there is one, of wanting the very latest and gr

[2016-01-09 23:39] sjackman commented on #708
I'm seeing the following error. Did you happen to encounter this error?

[code]

[2016-01-10 06:29] retokromer commented on #708
Sorry, I cant't check it on Slackware now, but on Ubuntu I have
`checking for GC_init in -lgc... yes`
followed by
`checking for zError in -lz... yes`

[2016-01-10 08:31] retokromer commented on #708
Neither on a Slackware test machine I do experience «your» error. This part runs well on my side. – Yet I do not longer have a «pure» linuxbrew configuration. I’ll try this afternoon to have some inspiration on the issue. (I’m not feeling well those days, therefore no guarantee. I had a stroke five years ago, and since I’m a… little fragile, as in my picture ;-)

[2016-01-10 09:49] retokromer opened #710 "sphinx-doc failed to build on Ubuntu 14.04 LTS"
Information: `sphinx-doc` is a dependency of `x265`.
`brew gist-logs sphinx-doc` output:
https://gist.github.com/294cd8ab5d71412481cc
Terminal output:
![screenshot from 2016-01-10 10 42 14](https://cloud.githubusercontent.com/assets/3246607/12220959/39621c90-b787-11e5-81d9-1caf257fd637.png)
I fear this may also be a regression.

[2016-01-10 12:04] mikemcquaid commented on #602
Thanks @DomT4, said it better than I could.

[2016-01-10 13:38] sheenawadhwa opened #711 "ImportError: No module name 'ah'"
am using window 7
when am trying to import dpkt it gives the following error

Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    import dpkt
  File "C:\Python34\lib\site-packages\dpkt\__init__.py", line 13, in <module>
    import ah
ImportError: No module named 'ah'

can someone help me

[2016-01-10 16:29] sjackman commented on #708
No worries, Reto. It was more of a curiosity question. I suspect that the build script needs a flag to tell it where the `gc` library is located.

[2016-01-10 16:33] sjackman commented on #711
Your error is not related to this project, Linuxbrew.

[2016-01-10 16:33] #711 closed

[2016-01-10 16:37] sjackman commented on #710
https://gist.github.com/anonymous/294cd8ab5d71412481cc#file-01-python-L17
`ImportError: No module named setuptools`

See https://github.com/Homebrew/linuxbrew/issues/562#issuecomment-141694092
Try `sudo apt-get install python-setuptools`
and possibly also `sudo apt-get install python-dev`

Are you on a Ubuntu/Debian system?

[2016-01-10 16:39] sheenawadhwa commented on #711
yes i know but there must be solution to solve this

[2016-01-10 16:41] sjackman commented on #562
@MarcGodard Sorry for the delay in my response. I've just returned from a long vacation.

Thank you for the detailed bug report and excellent troubleshooting. Were you able to install `cmake`?

[2016-01-10 16:46] sjackman commented on #711
Linuxbrew does not run on Windows 7. I think that you have the wrong project. What are you trying to do, or what software are you trying to run?

[2016-01-10 17:22] retokromer commented on #710
After `sudo apt-get install python-setuptools` this works fine. Thank you!
Now I will test the also the installation of x265 (this was a dependency).

[2016-01-10 17:33] #710 closed

[2016-01-10 17:34] sjackman commented on #710
Glad to hear that you got it working. I've added `python-setuptools` to the list of dependencies of Linuxbrew.
https://github.com/Homebrew/linuxbrew/blob/master/README.md#debian-or-ubuntu

[2016-01-10 17:47] retokromer commented on #710
Now I have the cmake issue. I'll delve into the discussion about it.

[2016-01-10 17:52] retokromer commented on #710
No, false alarm: cmake works well.

[2016-01-10 17:54] retokromer commented on #710
And x265 as well (and also with ffmpeg, as expected). Thank you very much indeed!

[2016-01-10 18:10] retokromer commented on #708
Neither on Slackware I can reproduce that error.

Also this formula is now working well. Thank you again, @sjackman!

[2016-01-10 21:21] sjackman commented on #708
No worries. I'm glad that I could help.

[2016-01-10 21:22] sjackman commented on #710
Great! I'm glad to hear that it's all working.

[2016-01-10 22:40] hughperkins commented on #431
But... I think the Formula for mysql should somehow contain the correct dependencies?

[2016-01-11 02:20] sjackman commented on #431
It does. See d084460 and https://github.com/Homebrew/linuxbrew/blob/master/Library/Formula/mysql.rb#L33

[2016-01-11 05:50] tdsmith commented on #602
I'm +0 on moving; I don't know that I think any of the pro or con arguments are very urgent.

I think Linuxbrew and homebrew-science together meet a unique need for home-directory scientific software management on Linux.

I don't know that arguments about branding matter deeply to users; I do wish that Linuxbrew was more reliable but I doubt that Linuxbrew significantly contributes to Homebrew's r

[2016-01-11 08:11] mikemcquaid commented on #602
From what I can tell: yes, this is the case and I think it's a good enough reason to move to a new org by itself.

I tried, failed here.

[2016-01-11 10:05] hughperkins commented on #431
Hmmm, on my browser, it shows 'libedit', not 'homebrew/dupes/libedit', see screenshot:

![screenshot-libedit](https://cloud.githubusercontent.com/assets/123560/12230800/c8e5387a-b84a-11e5-9332-15c5aed74eaf.png)

And, more concretely, installing mysql fails, with error about missing dependency libedit.  I have to `brew install homebrew/dupes/libedit` by hand, in order for mysql to install correctly

[2016-01-11 10:53] hughperkins opened #712 "Possible hacks to ensure gcc-4.8 used, instead of gcc-4.9?"
I have gcc-4.8 and g++-4.8 installed, on ubuntu 14.04.  But, gcc-4.9 also exists, which is part of gccgo-4.9 package:

[code]
This means, when I install things, brew tries to use g++-4.9, instead of g++-4.9, and fails.  Currently, for each install, I have to do:
- `brew install --debug foo`
- when it crashes, choose option 'shell'
- CC=/usr/bin/gcc-4.8
- CXX=/usr/bin/g++-4.8
- (rerun the last comm

[2016-01-11 15:13] drbenmorgan commented on #602
Pretty much this from my own use cases as well - Homebrew/Linuxbrew have been incredibly helpful (thanks to the team and contributors!) for creating/deploying scientific software stacks across laptops, desktops and clusters with a common system (`brew`, the Formula DSL, taps, and no root permission requirement). So from this user's perspective, as long as these conventions remain it makes no diffe

[2016-01-11 16:46] sjackman commented on #431
I've changed the dependency from `libedit` to `homebrew/dupes/libedit` in fffd8fb
Try `brew update` and `brew install mysql`
If that fails, please report
`brew gist-logs mysql`

[2016-01-11 16:50] sjackman commented on #712
Set `export HOMEBREW_CC=gcc-4.8`
This configuration options appears to be undocumented.

[2016-01-11 16:50] #712 closed

[2016-01-11 16:50] sjackman commented on #712
If you'd like to use a more recent GCC, `brew install gcc` will work as well.

[2016-01-11 17:00] sjackman commented on #602
Thanks to everyone who has taken the time to compose their thoughts. I'm following this thread, and I'll contribute my detailed thoughts later today. This conversation has become quite constructive. I'm looking for to discussing more how we can improve Linuxbrew.

[2016-01-11 21:50] hughperkins commented on #431
Thanks! :-)

[2016-01-11 22:24] hughperkins commented on #712
Setting HOMEBREW_CC=gcc-4.8 didnt work for me.   Gave me things like 'Invalid value for HOMEBREW_CC: /usr/bin/gcc-4.8'

What I did in the end was insert into line 177 of Library/Homebrew/extend/ENV/shared.rb `return 'gcc-4.8'`. This works ok :-)

[2016-01-11 23:17] ahundt commented on #602
I agree with @DomT4 @tdsmith on nearly everything they said, though it would be nice if linuxbrew could stay under homebrew. I'd like to note that I'm a PhD student myself, and thus I fit squarely under the scientific use cases mentioned by @tdsmith .

Sorry about the cases where I was the culprit on this! I'm just a user and as such lend more weight to those doing the heavy lifting, particularly

[2016-01-12 00:38] cdonnellytx commented on #700
FWIW, I have git 1.7.1 on my system (RHEL 6.5 x64), but it is older than the minimum recommended version.  Attempting to update git with linuxbrew results in a compliation error with homebrew/dupes/tcl-tk, so it sounds like there are multiple issues with tcl-tk being pulled in by git.

[2016-01-12 01:25] sjackman commented on #712
`HOMEBREW_CC` must not include the absolute path, just `gcc-4.8`

[2016-01-12 01:46] sjackman commented on #700
I've change the `tcl-tk` dependency of `git` from `recommended` to `optional`.

[2016-01-12 07:15] sjackman commented on #602
Though I would prefer to keep Linuxbrew within the Homebrew organization, I'm okay with moving Linuxbrew to its own organization if you feel strongly about it, Mike. I've registered http://linuxbrew.sh to give Linuxbrew its own wee space on the web.

The whitelist/blacklist has been mentioned a few times. It's a good idea. I will start blacklisting software that is known not to work on Linux and w

[2016-01-12 09:36] mikemcquaid commented on #602
@sjackman Thanks Sean, I appreciate it. Can you give me owner rights to https://github.com/linuxbrew and I'll start doing some migration tests.

To be clear (as I perhaps wasn't before): Homebrew (and me particularly) are working on various things without Linuxbrew specifically in mind but with cross-platform compatibility. In 2016 we hope to have (some) bottles for OS X generated and uploaded on

[2016-01-12 10:07] hughperkins commented on #712
[code]

[2016-01-12 10:07] hughperkins commented on #712
[code]

[2016-01-12 10:39] davydden opened #713 "git: [Ubuntu 14.04] Git fails to build with system curl and gcc 4.8"
subj.

[code]

a workaround is to
[code]
but i would still want to know why it fails...

[2016-01-12 16:56] sjackman commented on #602
I've invited you to the Linuxbrew org, Mike. The portability improvements planned for Homebrew and bottle support for Travis are exciting.

[2016-01-12 17:00] sjackman commented on #712
Try `brew tap homebrew/versions` and `HOMEBREW_CC=gcc-4.8 brew install mysql`

[2016-01-12 17:06] sjackman commented on #713
I don't know why it fails, but I recommend using
`brew install git --with-brewed-curl --with-brewed-openssl --without-tcl-tk`
In fact, `--without-tcl-tk` is already the default, and I plan on changing `--with-brewed-curl --with-brewed-openssl` to the default as well. See also #700

[2016-01-12 17:13] #713 closed

[2016-01-12 17:13] sjackman commented on #713
The options `--with-brewed-curl --with-brewed-openssl --without-tcl-tk` are now all default.
Does it build now with the system GCC 4.8?

[2016-01-12 18:40] sjackman commented on #602
I'm visiting family in Montréal from Jan 14–18 and will have limited access to the Internet. Shall we hold the migration until after I return?

[2016-01-12 18:48] hughperkins commented on #712
Looks like that fixed it!  Thanks! :-)

[2016-01-12 19:40] sjackman commented on #712
Glad to hear it!

[2016-01-12 22:07] hughperkins opened #714 "'official' way to build single-threaded"
Building mysql on my box causes the box to crash, because it builds multithreaded, using up all available memory.

I am forcing it to single-threaded now by changing line 38 of Library/Homebrew/extend/ENV/std.rb , to remove the -j option, but just wondering what are the relatively standard ways to achieve this?

[2016-01-12 22:13] dunn commented on #714
You can set the environment variable `HOMBREW_MAKE_JOBS=1`

[2016-01-12 22:13] hughperkins commented on #714
cool. Thanks! :-)

[2016-01-12 22:13] #714 closed

[2016-01-13 15:17] ealgase commented on #624
I the same issue.  How do you run disk utility?

[2016-01-13 16:06] dunn commented on #624
That `doctor` message might need to be updated for Linuxbrew.

[2016-01-13 16:41] sjackman commented on #624
I've fixed the `doctor` message for Linuxbrew. It should now display
[code]

[2016-01-13 19:23] sjackman commented on #680
See issue should be fixed by ce169f5

[2016-01-13 19:23] #680 closed

[2016-01-13 19:39] sjackman commented on #686
https://gist.github.com/anonymous/9b768eca929eb0922372#file-01-configure-L19
`ImportError: cannot import name urlencode`

[2016-01-13 19:45] sjackman commented on #689
This issue should be resolved by e61395214440500656a208c2595d37bc62c9aa94
Thanks for the bug report, Qi.

[2016-01-13 19:45] #689 closed

[2016-01-13 19:49] sjackman commented on #686
I'm able to install `node` 5.4.0 without any errors with a small patch that I made today. Can you try again and report back?

[2016-01-13 19:50] sjackman commented on #686
Since the error message that you're seeing is related to Python, you may want to see if `brew install python` resolves your issue.

[2016-01-13 22:07] erigler-usgs opened #715 "Inconsistent behavior with -isystem vs. -I in CPPFLAGS"
This is probably not a Linuxbrew bug per se, but perhaps Linuxbrew can fix design flaws in certain brewed packages with little effort. FWIW, everything here was done on a pristine Scientific Linux 7 installation (i.e., a RHEL/CentOS clone).

While brewing Python, everything installed, but as soon as I tried to call pip, I got an immediate "ImportError: No module named zlib". Looking back through b

[2016-01-13 23:22] sjackman commented on #715
`-isystem` is used so that header files in the package being compiled are searched before `#{HOMEBREW_PREFIX}/include`.
Python is weird in that its build system parses `CPPFLAGS` looking for directory specified by `-I`, but it ignores directories specified by `-isystem`.
There's a fix over here: https://github.com/Homebrew/linuxbrew/pull/460
And the original issue here: https://github.com/Homebrew

[2016-01-13 23:22] #715 closed

[2016-01-13 23:40] #420 closed

[2016-01-13 23:40] sjackman commented on #715
This issue should hopefully be fixed now by cd680d7281f1b59b9603853403f562bd70ac97d2

[2016-01-13 23:41] sjackman commented on #420
This issue should hopefully be fixed now. I'd appreciate if anyone that was affected by this issue can confirm that it is in fact fixed.

[2016-01-13 23:54] #700 closed

[2016-01-14 00:58] jwhite007 opened #716 "Ugrade of GCC Fails"
Here are the gist logs... https://gist.github.com/anonymous/af3ca8ceaf17eaa72b8a

[2016-01-14 01:25] jwhite007 commented on #716
"brew upgrade gcc --cc=gcc-4.4" seems to have solved it.

[2016-01-14 01:25] #716 closed

[2016-01-14 01:40] sjackman commented on #716
Glad to hear that you found a workaround.

[2016-01-14 16:05] jwhite007 opened #718 "Upgrade of libspatialite Fails"
The gist logs are here...https://gist.github.com/anonymous/aa923f4067ca605ad868

The test log...
[test-suite.log.txt](https://github.com/Homebrew/linuxbrew/files/90638/test-suite.log.txt)

[2016-01-14 19:07] jwhite007 commented on #716
An upgrade of GCC using "brew upgrade gcc --cc=gcc-4.4" is now failing on another server on which I've installed linuxbrew in the same manner (standalone). gcc-4.4 links to /usr/bin/gcc as it does on the server on which the upgrade worked. "LD_LIBRARY_PATH=$(brew --prefix gcc)/lib brew upgrade gcc --cc=gcc-4.4" works, but I'm not sure why. I'd like to know, though. I'm far from an expert in c-pack

[2016-01-15 00:45] kubapol commented on #661
+1 I've got the same problem
[code]

Can someone fix the links?

[2016-01-15 15:05] sjackman commented on #661
Try `brew update`. The current version is 6.9.3-0
I'm on vacation until Tuesday. My replies may be delayed.

[2016-01-15 15:06] #661 closed

[2016-01-15 15:13] sjackman commented on #716
My guess is that executables critical to your build, like coreutils and autotools, depend on libraries installed by `gcc` such as `libstdc++` and `libgcc_s`. This upgrade issue is a big problem and needs to be resolved. Adding the previous version's lib to LD_LIBRARY_PATH and bin to PATH temporarily is one solution. It could potentially create problems, but would probably fix more problems than it

[2016-01-15 15:28] sjackman commented on #718
`make check` has failed for some reason. I'll see if I can reproduce it.
See https://gist.github.com/anonymous/aa923f4067ca605ad868#file-02-make-L1454

[2016-01-15 18:06] jwhite007 opened #719 "How to handle ncurses upgrade in stand-alone version?"
When I first installed the stand-alone version, I linked the ncurses files, per the instructions, with "ln -s ncursesw/curses.h ncursesw/form.h ncursesw/ncurses.h ncursesw/term.h ncursesw/termcap.h $(brew --prefix)/include/"

Firstly, I'm a little confused by the syntax. How is it that I didn't have to give the full path to the ncurses files?

With a recent "brew upgrade" ncurses was upgraded from

[2016-01-15 19:05] jwhite007 commented on #716
Thanks for the response. I'd like to help out with the linuxbrew project; however, I'm a data scientist and my programming skills don't extend beyond Python, R, Javascript, and some Java. Please let me know if I can help out in any way.

[2016-01-15 19:39] dfornika opened #720 "poretools failed to build on CentOS 6"
https://gist.github.com/anonymous/5496690e63ee1b9ff4c4

[2016-01-16 06:19] jreeder opened #721 "Lua install fails on inreplace makefile"
When trying to install lua on RHEL 7.

https://gist.github.com/jreeder/b32aaf746ad338df9be4

[2016-01-16 09:28] clayshieh commented on #665
Any updates on this issue?

[2016-01-17 14:36] pecorade commented on #721
Confirmed here on Debian 8

[2016-01-17 15:38] Rudloff opened #723 "php56 : Cannot find ldap libraries in /usr/lib"
Hello,

I get an error when I try to install php56 (--without-apache):
[code]

Here are the logs: https://gist.github.com/f4386d8c4bb82abbce78

Regards,

[2016-01-17 17:39] Rudloff opened #724 "qt does not build"
Hello,

The qt formula does not build correctly:
[code]

Here are the logs: https://gist.github.com/d881a9017540d99a609d

[2016-01-17 17:58] pecorade commented on #721
@jreeder just revert to this patch https://github.com/Homebrew/linuxbrew/commit/b85c336836342da723124ced7a0d17f98a9823fe

[2016-01-17 17:59] mistydemeo opened #725 "homebrew/dupes/xar: recipe for target 'src/ixar' failed"
_From @Rudloff on January 17, 2016 16:57_

Hello,

The xar formula does not seem to work on Linux:
https://gist.github.com/Rudloff/d34fac5f7b0631c5bf60

Regards,

_Copied from original issue: Homebrew/homebrew-dupes#563_

[2016-01-17 21:49] mikemcquaid commented on #602
@sjackman No worries, shout when you're back.

[2016-01-18 16:25] sjackman commented on #602
I fly back tonight, so go ahead with the migration.

[2016-01-19 00:21] jwhite007 commented on #614
I'm running into a different, albeit related issue when I try to install packages within R with "install.packages('<package name>')". I get...

/toolbox/NGS/.linuxbrew/Cellar/r/3.2.3/lib/R/bin/Rcmd: line 62: exec: INSTALL: not found

INSTALL is in /toolbox/NGS/.linuxbrew/Cellar/r/3.2.3/lib/R/bin/, the same dir as Rcmd.

[2016-01-19 06:38] sjackman commented on #665
Do you need subversion support for git? The simplest workaround is to omit `--with-brewed-svn`.
If you need subversion support, another workaround is `brew install subversion --without-serf`.
The serf http library requires kerberos, which does not have a Linuxbrew formula.
You could install kerberos using your system's package manager.
See #182 and #408

[2016-01-19 06:38] #665 closed

[2016-01-19 06:44] sjackman commented on #721
Does this patch resolve your issue?
[code]

[2016-01-19 06:53] sjackman commented on #725
The relevant error is:
[code]
https://gist.github.com/Rudloff/d34fac5f7b0631c5bf60#file-02-make-L79-L80

I'm not able to reproduce this error myself. It looks like the xar Makefile is ignoring `CPPFLAGS`, which is resulting in it using the headers of your system's version of OpenSSL, but the libraries of Homebrew's version of OpenSSL. You should report this bug upstream to the `xar` authors. A wor

[2016-01-19 06:54] sjackman commented on #723
I'm afraid the tap `homebrew/php` is not supported by Linuxbrew. If you are able to get this working, I'd appreciate your reporting back here. You could start by trying to install `homebrew/dupes/openldap`.

[2016-01-19 06:54] #723 closed

[2016-01-19 06:58] sjackman commented on #720
Hi, Dan. The relevant error is
[code]
https://gist.github.com/anonymous/5496690e63ee1b9ff4c4#file-01-python-L15
It's cause by this bug in the R Linuxbrew formula: #614
The workaround is
[code]

[2016-01-19 06:58] #720 closed

[2016-01-19 07:03] sjackman commented on #719
The path of the source files is relative to the path of the destination directory.

Those symlinks are now installed by the ncurses formula itself.
https://github.com/Homebrew/homebrew-dupes/blob/master/ncurses.rb#L78-L80

If it's working for you, then there's nothing you need to do.

[2016-01-19 07:03] #719 closed

[2016-01-19 12:20] Danielflsr commented on #724
Indeed, the entire formula is for OSX.

[2016-01-19 14:43] jwhite007 commented on #719
Thanks for the reply and information. I never knew that about ln. I always assumed it either had to be an absolute path or a path relative to the working directory. That's interesting about the changes to the ncruses formula. Thanks for the link.

[2016-01-19 17:27] sjackman commented on #719
The destination file is relative to the current working directory, but the source file is relative to the destination file. It is a bit odd.

[2016-01-19 18:04] armish commented on #420
Confirming that this issue is now fixed for me with a fresh brew installation:

[code]

[2016-01-19 18:42] jwhite007 opened #727 "homebrew/python/scipy: Lapack_src"
I'm attempting an install of scipy via pip in the brew-installed python. Numpy is claiming that it can't find lapack or blas resources even though I've installed lapack and openblas with brew. I could point numpy to them with the environment variables BLAS and LAPACK_SRC, however I don't find the lapack source in the brew install. Any suggestions on getting this to work? Thanks.

[2016-01-19 19:37] dfornika commented on #720
Ah, right under my nose. Thanks for the fix.

[2016-01-19 20:49] mikemcquaid commented on #602
@sjackman. Done! I added @tseemann to the team, gave the @Linuxbrew/core team admin access and ensured the redirects were setup and working properly. Thanks for your patience and support here.

[2016-01-19 20:49] #602 closed

[2016-01-19 21:37] Rudloff commented on #725
The upstream project does not seem to be maintained anymore but the fix would be quite easy to include in the Formula:
[code]

[2016-01-19 22:02] Rudloff commented on #723
Since I don't really need LDAP, I installed it with `--without-apache --without-ldap` and it worked.
However, the binary seems to use some libraries from my distribution:
[code]

[2016-01-19 23:04] Rudloff commented on #673
Oh, you're right, I needed a token with gist rights. Thanks!

[2016-01-19 23:04] #673 closed

[2016-01-20 00:34] sjackman commented on #420
Yeah! Thanks should really go to @tdsmith, @tseemann and everyone else who helped troubleshoot this issue.

[2016-01-20 00:37] sjackman commented on #727
I'm going to move your issue to Homebrew-science. I think you'll have better luck getting your question answered there. Please post the output of `brew gist-logs homebrew/python/scipy`.

[2016-01-20 00:39] sjackman commented on #727
This issue was moved to Homebrew/homebrew-science#3238

[2016-01-20 00:39] #727 closed

[2016-01-20 00:49] sjackman commented on #724
Thanks for the bug report. Try this patch.
[code]

[2016-01-20 00:52] sjackman commented on #723
If you want to use only Linuxbrew libraries and avoid system libraries, try the Standalone Installation instructions for Linuxbrew:
https://github.com/Linuxbrew/linuxbrew/wiki/Standalone-Installation

[2016-01-20 01:05] sjackman commented on #602
Great! I'll check it out tonight and do a bit of work on my side… Change `Homebrew/linuxbrew` to `Linuxbrew/linuxbrew` in the code base. Redirect linuxbrew.sh to the new org. Set up Travis CI.

[2016-01-20 01:09] sjackman commented on #725
I don't unfortunately have commit permissions to `homebrew/dupes`.

[2016-01-20 01:10] sjackman commented on #725
Superenv would probably fix this. See #266

[2016-01-20 06:28] sjackman commented on #602
Mike, could you redirect http://brew.sh/linuxbrew to http://linuxbrew.sh ?

[2016-01-20 06:36] sjackman commented on #724
This patch worked for me.

[2016-01-20 06:38] #724 closed

[2016-01-20 08:04] sjackman opened #730 "brew tests --no-compat fails"
Ruby 1.9.3p551

See https://travis-ci.org/Linuxbrew/linuxbrew#L195-L203
[code]

[2016-01-20 08:05] sjackman commented on #730
@mikemcquaid Hi, Mike. `brew tests --no-compat` with Ruby 1.9.3p551 fails with the error message `testball.rb:1:in `<top (required)>': uninitialized constant Formula (NameError)`. Any idea why?

[2016-01-20 08:29] mikemcquaid commented on #730
No idea, sorry. I'd recommend using Ruby 1.8 or Ruby 2.0 which are the versions we use.

[2016-01-20 09:02] mikemcquaid commented on #602
@sjackman Done!

[2016-01-20 09:05] ahundt commented on #687
I believe there was another compiler error after that change

[2016-01-20 09:52] Rudloff commented on #723
I personally don't mind that it uses system libraries, I just mentioned it in case someone wants to fix the Formula.

[2016-01-20 09:58] Rudloff commented on #725
Do you think I should report it to homebrew-dupes ?

[2016-01-20 10:50] Rudloff commented on #724
It seems to work for me too, thanks!

[2016-01-20 11:04] Rudloff opened #731 "pyqt: sip.h: No such file or directory"
pyqt does not find sip.h:
https://gist.github.com/Rudloff/2e632501cc678da2d5ac

I do have the sip.h file installed:
[code]

[2016-01-20 11:20] dlukes commented on #585
Try uninstalling python3, (re)installing sqlite (with brew), and then reinstalling python3 (run `brew info python3` prior to the installation and see if there's a green tick mark beside the `sqlite` dependency). Worked for me, though fair warning, in my case I also had to reinstall openssl, which was pretty painful (it kept looking for some dylibs which of course don't exist on Linux, so it took s

[2016-01-20 16:13] sjackman commented on #602
Thanks for the speedy response, Mike!

[2016-01-20 16:13] sjackman commented on #724
Great!

[2016-01-20 16:20] SionBayliss opened #732 "openssl failed to build on Ubuntu 14.04.3 LTS"
Dear All,

Thanks for any help in advance. I have trawled the forums but I haven’t found anything that helped.

The ultimate aim is to install Circlator and Gubbins.

On brew install openssl I get the error:

[code]

gist-logs can be found here:
https://gist.github.com/anonymous/7c7574daa89f1cfc4fa9

Cheers,
Sion

[2016-01-20 16:25] sjackman commented on #725
Misty moved this issue here from homebrew-dupes. The fix should go upstream. Maintaining abandoned software is a pain.

`-L#{HOMEBREW_PREFIX}/lib` already appears on the link line, so it appears to be respecting `LDFLAGS` already:

https://gist.github.com/Rudloff/d34fac5f7b0631c5bf60#file-02-make-L79
`/usr/bin/gcc -Os -w -pipe -march=core2  -o src/ixar src/xar.o -Wl,-rpath,/home/pierre/.linuxbrew/

[2016-01-20 16:30] Rudloff commented on #725
Yes, the patch I posted does fix the issue for me but I'm not sure why.

[2016-01-20 16:59] sjackman commented on #730
I haven't been able to reproduce this issue outside of Travis. Switch from Ruby 1.9 to Ruby 1.8 didn't resolve the issue. I haven't tested, but it seems like changing

https://github.com/Homebrew/homebrew/blob/master/Library/Homebrew/test/test_formula.rb#L2-L3
[code]
to
[code]

might resolve this (untested, but I'll give it a shot). `compat` imports `formula`

[2016-01-20 17:09] sjackman commented on #725
I'll take a closer look…

[2016-01-20 17:28] #730 closed

[2016-01-20 17:45] sjackman commented on #730
@mikemcquaid This patch fixed the issue on Linuxbrew. I have no idea as to why it does not also affect Homebrew on Mac.
[code]

[2016-01-20 18:56] sjackman commented on #732
This issue will be fixed today. See #729

[2016-01-20 18:58] sjackman commented on #585
The OpenSSL bug will be fixed later today. See #729

[2016-01-20 20:16] jreeder commented on #721
Yes that patch fixed the issue for me.

[2016-01-20 20:34] dlukes commented on #585
Oh great, thanks so much!

[2016-01-20 22:01] #732 closed

[2016-01-20 23:45] sjackman commented on #725
Oh, yes. I see now. It does use `LDFLAGS` when linking executables, but not when linking shared libraries.
https://gist.github.com/Rudloff/d34fac5f7b0631c5bf60#file-02-make-L50
[code]

Can you try a smaller patch, something like (untesed)…
[code]

[2016-01-20 23:46] sjackman commented on #725
@mistydemeo `xar` ignores `LDFLAGS` when linking shared libraries, which can cause errors on Linuxbrew (or possibly on Homebrew with `--env=std`). Would you consider applying the above patch to `Homebrew/dupes/xar`?

[2016-01-20 23:49] sjackman commented on #731
Try the following untested patch:
[code]

[2016-01-20 23:50] sjackman commented on #585
The OpenSSL bug is fixed.

[2016-01-20 23:53] sjackman commented on #585
`sqlite` is already a dependency of `python3`.
[code]
There was a bug fixed in the last week for the `python3` formula related to `CPPFLAGS`. Try reinstalling `python3` as David suggested.

[2016-01-20 23:53] sjackman commented on #732
Fixed. Thanks for the bug report.

[2016-01-20 23:53] Rudloff commented on #725
@sjackman Yes, your smaller patch works too.

[2016-01-21 00:02] Rudloff commented on #731
It does not seem to work, I still get the same error:
https://gist.github.com/Rudloff/acc153de4f58907bbf9e

[2016-01-21 00:08] sjackman commented on #731
It seems to be ignoring the value of `CPPFLAGS`. I'm sorry that I don't have the time to help you debug further. If you're able to find a solution please comment here or submit a pull request.

https://gist.github.com/Rudloff/acc153de4f58907bbf9e#file-03-make-L14
[code]

[2016-01-21 00:35] #721 closed

[2016-01-21 01:58] sjackman commented on #623
This is a known bug that I'm working on fixing. The workaround is
[code]

[2016-01-21 01:58] #623 closed

[2016-01-21 02:02] jwhite007 commented on #585
I actually had this working long ago and forgot, exactly, what fixed it... sorry, guys. Thanks for the input, though.

[2016-01-21 02:02] #585 closed

[2016-01-21 02:13] jreeder opened #734 "Boost: Building boost on machines with large numbers of cores"
Boost's b2 build system will only accept numbers between 1 and 256 for the -j parameter. I've attached a patch that fixes the boost.rb file. This would probably also apply to the other boost formulas. This is a naive fix and it might be better to cap ENV.make_jobs instead. I don't know enough to make that judgement.

[code]

[2016-01-21 02:14] sjackman opened #735 "openssl: pkg-config not present or broken"
`openssl` depends on `makedepend`, which `depends_on "pkg-config" => :build`. For some reason installing `openssl` does not install `pkg-config`, which results in the following error.
[code]
Very oddly, installing `makedepend` does not result in this error.
The work around is `brew install pkg-config openssl`
See also https://github.com/Linuxbrew/linuxbrew/pull/264#issuecomment-108620051

[2016-01-21 02:19] sjackman commented on #734
Interesting bug indeed. Have you reported this bug upstream to the authors of boost?

[2016-01-21 02:20] sjackman commented on #734
I'd rather not merge this fix here in Linuxbrew, but you can submit it upstream to Homebrew/homebrew. They may not accept it because I don't think there are any Mac machines with more than 256 cores.

[2016-01-21 06:24] jreeder commented on #734
No I haven’t reported it anywhere else yet. I’ll report it to the boost
devs, but I won’t bother with the homebrew upstream. Unless Apple gets
serious about multi-core, this will never affect anyone over there.

On Wed, Jan 20, 2016 at 6:20 PM Shaun Jackman <notifications@github.com>
wrote:

[2016-01-21 17:45] sjackman commented on #734
Thanks for the bug report, John. Here's a workaround:
[code]

[2016-01-21 19:33] #734 closed

[2016-01-21 22:18] sjackman commented on #735
### Work arounds
[code]

[2016-01-21 23:48] #735 closed

[2016-01-21 23:52] sjackman commented on #735
I've finally resolved this issue. I had modified `pour_bottle?` to check that `glibc` and `patchelf` are installed, but I had not modified `install_bottle_for?`. I mistakenly thought that `install_bottle_for?` calls `FormulaInstaller::pour_bottle?`, but it's actually calling `Formula::pour_bottle?`, which always returns `true`.

[2016-01-23 02:29] dunn opened #737 "openssl upgrade error"
_From @vol7ron on January 23, 2016 0:43_

openssl seems to be a dependency for many scripts (ruby, curl, etc).  I have no `brew doctor` issues and `brew update` shows everything up to date.

    $HOME/.linuxbrew/opt/curl/bin/curl: symbol lookup error: \
       $HOME/.linuxbrew/lib/libcurl.so.4: undefined symbol: SSL_CTX_set_alpn_protos

I have download issues for that and 2 of the mirrors.

_Copie

[2016-01-23 05:37] LeeBergstrand opened #738 "PIGZ Build Failure"
[code]
BREW LOG:

https://gist.github.com/anonymous/ab688fb35a393524ebc2

[2016-01-24 03:10] rwhogg opened #739 "gtk+3 builds XQuartz backend and not X11 backend"
gtk+3 fails to build because it attempts to build the XQuartz backend and not the X11 backend. It does not appear to have been solved by #64.

I'm working on a PR for this; hopefully I'll be able to submit it soon.

[2016-01-24 03:43] rwhogg commented on #739
Okay, I've mostly fixed the GTK+3 build, but in doing so discovered that the cairo is not being built with X11. I'll file a separate issue to fix cairo and supply a PR for that too.

[2016-01-24 03:45] rwhogg opened #740 "Cairo doesn't have a --with-x11 option on Linux"
Cairo doesn't have a --with-x11 option on Linux. This means we can't build dependencies needed for GTK+3 - see #739.

[2016-01-24 03:53] rwhogg commented on #740
I was originally going to fix this myself, but it looks like #728 is already trying to do that.

[2016-01-24 10:29] snmsts opened #742 "roswell: build failure because of m4 not present"
I'm not sure why but error occurs because of ``m4``'s absence.
https://travis-ci.org/roswell/roswell/jobs/104415062

my recipe is here.
https://github.com/roswell/homebrew-roswell/blob/master/roswell.rb

Roswell depends on autoconf and I believe autoconf will introduce ``m4`` automatically
https://github.com/Linuxbrew/linuxbrew/blob/master/Library/Formula/autoconf.rb

What can I do for this error?

[2016-01-24 23:34] vol7ron commented on #737
I also posted this issue in the Curl forum, soliciting help with tackling this:  https://github.com/bagder/curl/issues/362

[2016-01-24 23:43] vol7ron commented on #737
Just an FYI, I'm not posting this for me, but for other users that may encounter this issue.  My error, which had been resolved.  That was accomplished by simply removing curl and re-installing it:

    brew remove curl
    brew install curl

This re-downloads the _openssl_ dependency (in this case v1.0.2e) and then reinstalls _curl_.  What I'd like this issue thread to turn into is a discovery/de

[2016-01-25 02:30] vol7ron opened #743 "pod2man (wget dependency) not installing (404 Not Found)"
[code]

I'm not sure why pod2man is a _wget_ dependency, but it looks like the download link is either not available or no longer exists.  I installed _wget_ a few weeks ago without any issue.

[2016-01-25 02:34] tseemann commented on #743
The tarball no longer exists, the formula needs to be updated to 4.05 version from https://archives.eyrie.org/software/perl/

I am working on a pull request.

[2016-01-25 02:40] vol7ron commented on #743
Would it make more sense to use https://archives.eyrie.org/software/perl/podlators.tar.gz (devoid of version) to avoid this from happening in the future?  Or is a version number required?

[2016-01-25 02:44] tseemann commented on #743
A version number is required either in the .tar name (where it is auto detected), or as a `version` tag in the formula.   So when something updates, some work has to be done somewhere either way. The real issue is that the provider is deleting previous versions of the tar file when adding the new ones :-(

[2016-01-25 02:46] tseemann commented on #743
Ihave an archived version of it, and the build fails anyway for me:

[code]

Probably I have a newer version of the Maker module that comes with OS X ...

[2016-01-25 02:58] tseemann commented on #743
@vol7ron Can you try this?

[code]

[2016-01-25 03:03] tseemann opened #745 "openssl - MacOS.version <= :mountain_lion triggers Linux!"
IIRC, on Linux, `MacOS.version` returns 0  -  this has an unfortunate effect of triggering an OS X specific patch:

[code]

To make it worse, to upgrade `openssl` it removes it first, so then `curl` doesn't work to download anything?  (Is it meant to use system curl somehow?)

[code]

[2016-01-25 03:44] tseemann commented on #738
@LeeBergstrand can you `brew install zlib` and try again?  It may be missing a dependency on Linux.

[2016-01-25 06:53] LeeBergstrand commented on #738
After ```brew install zlib``` new errors occur:

[code]

BREW LOG:

https://gist.github.com/anonymous/12acf2228ae2c15a2b4c

[2016-01-25 07:03] sjackman commented on #737
Hi. Without a recipe to reproduce the error I can only guess as to what happened. It looks as though curl was compiled against one version of `openssl` that included `SSL_CTX_set_alpn_protos` and was then later run using a different version of `openssl` that does not include that symbol. I can't say why that happened. The workaround as you discovered is `brew reinstall curl`

[2016-01-25 07:03] #737 closed

[2016-01-25 07:06] LeeBergstrand commented on #738
After ```sudo apt-get install --reinstall zlibc zlib1g zlib1g-dev```:

[code]

BREW LOGS:

https://gist.github.com/a010b6178d949f3d0375

[2016-01-25 07:08] LeeBergstrand commented on #738
@tseemann  Looks like its having trouble finding zlib even after ``` brew``` and ```apt-get``` installing lib.

[2016-01-25 07:11] sjackman commented on #745
Is the patch innocuous on Linux, or is it causing you some grief?

I don't have a fix for your upgrading openssl/curl issue, but the workaround is simple:
[code]

[2016-01-25 07:11] #745 closed

[2016-01-25 07:14] sjackman commented on #743
The 404 error should be fixed upstream in Homebrew/homebrew.

@tseemann There is no particular tag for 404, just "build error".

[2016-01-25 07:17] sjackman commented on #743
I'm going to close this issue. Please submit a pull request to Homebrew/homebrew resolving the 404. It will be fixed in Linuxbrew following the next weekly merge.

[2016-01-25 07:17] #743 closed

[2016-01-25 07:31] sjackman commented on #742
https://travis-ci.org/roswell/roswell/jobs/104415062#L1050-L1052
[code]

The automake dependency on autoconf is a `:run` dependency, which I've actually never seen before.
[code]

I'll have to look into it, but it looks for your log as though autoconf is never being installed, at least I don't see it mentioned anywhere in the log.

[code]

Is autoconf already installed? I'm at a loss as to why it'

[2016-01-25 07:48] snmsts commented on #742
Thank you for your response.

This is the log when it could successfuly build.
https://travis-ci.org/roswell/roswell/jobs/103271959#L239

the recipe I'm tapping is not having change this week. :(

[2016-01-25 07:48] sjackman commented on #738
I wasn't able to reproduce this issue on my box that uses Linuxbrew's `gcc`, but I was able to reproduce the issue on Travis CI. https://travis-ci.org/Linuxbrew/linuxbrew/builds/104567948

This link line is broken:

https://travis-ci.org/Linuxbrew/linuxbrew/builds/104567948#L352
[code]

`-lz` should come at the end of the line, and the `-L` option is missing, which means that the Makefile is ignor

[2016-01-25 07:48] #738 closed

[2016-01-25 07:49] sjackman commented on #738
In the mean time I've added `zlib` as a dependency of `pigz` in #747.

[2016-01-25 07:50] sjackman commented on #738
I forgot to mention a workaround is to install Homebrew's gcc:
`brew install gcc pigz`

[2016-01-25 07:52] sjackman commented on #742
https://travis-ci.org/roswell/roswell/jobs/103271959#L239
[code]

That looks more like it. Is this issue resolved then, or is that an older log file?

[2016-01-25 07:54] snmsts commented on #742
it is old log

[2016-01-25 07:57] sjackman commented on #740
Merged #728.

[2016-01-25 07:57] #740 closed

[2016-01-25 08:08] sjackman commented on #742
Does this workaround work?
[code]

[2016-01-25 09:42] snmsts commented on #742
works fine with the workaround.
https://travis-ci.org/roswell/roswell/jobs/104580886

[2016-01-25 17:37] sjackman commented on #742
It appears the `autoconf` dependency of `roswell` is being dropped. I couldn't say why. It's a `:build` dependency and `roswell` does not provide a bottle, so the build dependencies should be installed. So, beyond the workaround, I have no solution for you right now.

[2016-01-25 18:17] sjackman commented on #742
I'm not able to reproduce this issue in a clean Docker `sjackman/linuxbrew` instance:

[code]

[2016-01-26 03:23] rwhogg opened #750 "Sonar builds OS X executables instead of Linux ones"
From sonar.rb:

[code]

Note that the build itself succeeds, but when running `sonar console`, you get the following:

/home/bob/.linuxbrew/Cellar/sonar/5.3/libexec/bin/macosx-universal-64/./wrapper: 1: /home/bob/.linuxbrew/Cellar/sonar/5.3/libexec/bin/macosx-universal-64/./wrapper: Syntax error: word unexpected (expecting ")")

I can probably fix this myself; expect a patch sooner or later.

[2016-01-26 05:23] junwei-wang opened #752 "Cannot load self-defined tar"
I run linuxbrew on an Centos which shared by a lot of peoples. And of course, I don't have root permission.
The tar on the system is
[code]
Hence, if I try to install some package, I got this,
[code]

However, I have my own tar with version 1.26, which works perfect for unarchiving.

I am pretty sure the problem is due to these lines (starting at 269) in file `Library/Homebrew/utils.rb`
[code]
How

[2016-01-26 05:41] rwhogg opened #753 "libunique build fails due to OS X diagnostic check"
libunique fails to install because of the following check:

Please report this bug:
    https://github.com/Homebrew/linuxbrew/wiki/troubleshooting
/home/bob/.linuxbrew/Library/Homebrew/diagnostic.rb:324:in `<class:Checks>'
/home/bob/.linuxbrew/Library/Homebrew/diagnostic.rb:72:in `<module:Diagnostic>'
/home/bob/.linuxbrew/Library/Homebrew/diagnostic.rb:7:in `<module:Homebrew>'
/home/bob/.linuxbrew

[2016-01-26 05:44] rwhogg commented on #753
I was on the wrong branch. Closing, my apologies.

[2016-01-26 05:44] #753 closed

[2016-01-26 06:04] sjackman commented on #753
No worries.

[2016-01-26 06:11] sjackman commented on #752
I'd suggest that `brew install gnu-tar` should resolve your issue, but it sounds as though you can't install any software due to this issue. Which version of CentOS are you using?
Linking your recent version of `tar` to `$HOMEBREW_PREFIX/bin` should resolve your issue.

[2016-01-26 15:35] #739 closed

[2016-01-26 15:52] sjackman commented on #739
Fixed by #741

[2016-01-27 06:08] sjackman commented on #750
Fixed by #751

[2016-01-27 06:08] #750 closed

[2016-01-27 15:32] jamesscholeyweb opened #757 "Git at version 1.9.1 not 2.7.0 ubunutu"
This may not be an issue as such but is there a reason linuxbrew installs git at 1.9.1 same as the default ubunutu repo version and not latest 2.7.0?

Many thanks in advance.

[2016-01-27 16:48] maxim-belkin commented on #757
Linuxbrew installs git v2.7.0 for me...

[2016-01-27 16:52] jamesscholeyweb commented on #757
Hmm interesting. My git version was 1.9.1 then installed with brew and
still 1.9.1 at first I thought it was my path being overridden but which
git points to my linuxbrew folder. I've just done a clean install on
another machine so will see what happens with that.

On Wednesday, January 27, 2016, Maxim Belkin <notifications@github.com>
wrote:

[2016-01-27 16:54] retokromer commented on #757
Linuxbrew installs git 2.7.0 also on my side.

[2016-01-27 17:03] maxim-belkin commented on #757
I bet this is due to hash. Try running `hash -r` after installing git with linuxbrew and see if "type -a git" returns linuxbrew's git first (it should appear at the top)

[2016-01-27 17:04] jamesscholeyweb commented on #757
Thanks Maxim. Not home at moment bit will try this evening.

On Wednesday, January 27, 2016, Maxim Belkin <notifications@github.com>
wrote:

[2016-01-27 22:32] jamesscholeyweb commented on #757
Nailed it Maxim. Thanks. Resetting hash did the trick. Should have realised.

[2016-01-27 22:32] #757 closed

[2016-01-28 04:02] rwhogg opened #758 "Mechanism to generate Freedesktop application launchers automatically?"
I thought a useful feature to add to formulae might be the ability to automatically generate a Freedesktop.org-compliant launcher to GUI apps. This is, I think, the path of least resistance to better support for GUI apps under Linuxbrew, since porting Homebrew Cask to Linux is going to be an exercise in frustration.

I have a proof-of-concept example at https://github.com/rwhogg/linuxbrew/commit/3

[2016-01-28 04:21] C4Phone opened #759 "Please add notes in README.md"
I fail to install anything using homebrew due to ./configure failure. And I found out that it was because my /tmp directory does not allow executable files.

Please add in README.md to remind people to change default temporary directory by adding the following lines into their .bashrc:
[code]

Thanks for your patience!

[2016-01-28 08:13] junwei-wang commented on #752
@sjackman  I am working on  `centos-release-4-3.2`.
I slightly modified the source code of linuxbrew to use my own tar. However, I still cannot use gcc on my PATH. And I `brew edit some-package` to use my own cc. But I always get.

[code]

[2016-01-28 16:42] sjackman commented on #752
To use your own `gcc` symlink `/home/users/wangjunwei/.jumbo/opt/gcc46/bin/gcc` to `$HOMEBREW_PREFIX/bin/gcc-4.6` and ditto for `g++`. See https://github.com/Linuxbrew/linuxbrew/wiki/Standalone-Installation#create-symlinks-for-gcc
Homebrew should pick it up the new compiler automatically.

[2016-01-28 19:32] sjackman commented on #759
Does `brew doctor` not report any errors? If so, this should be fixed by adding a `check_tmpdir_executable` test to `Library/Homebrew/diagnostic.rb`.

[2016-01-28 19:32] sjackman commented on #759
Which distribution of Linux are you running?

[2016-01-28 19:52] sjackman commented on #758
Woops. Tagged the wrong issue in a commit. It drives me crazy that there's no way to fix that.

[2016-01-28 19:53] sjackman commented on #759
Fixed by 3ef02e64a1b484c6ff0388955496ba2b71074a08.
Can you please test that it has the desired effect? Running `brew doctor` should report
[code]

[2016-01-28 19:56] C4Phone commented on #759
Here is information about my Linux:
[code]

Using the old version, ```brew doctor``` does not tell any error about tmpdir by default. Yes, with the new version ```brew doctor``` does report the information. Thanks!

[2016-01-28 19:57] #759 closed

[2016-01-28 19:57] sjackman commented on #759
Great! Glad to hear it worked.

[2016-01-28 20:01] sjackman commented on #758
I'm not terribly keen on generating the `.desktop` file unless the upstream software itself creates one. A patch should go upstream to create the `.destkop` file. Linuxbrew should install that `.desktop` file to `$HOMEBREW_PREFIX/.local/share/applications` and link that directory to `~/.local/share/applications`. I'd merge a patch that implements that feature.

[2016-01-28 20:02] sjackman commented on #759
What is the exact error message reported when you run
[code]

[2016-01-28 20:04] rwhogg commented on #758
Sounds good. The patch to findbugs was really just for demonstration/testing purposes; I wasn't expecting you to merge it.

[2016-01-28 20:05] C4Phone commented on #759
[code]

[2016-01-28 20:50] sjackman commented on #759
Too bad the error message isn't more specific/helpful that it's due to the disk volume not being executable. Oh well.

[2016-01-28 20:51] sjackman commented on #758
I'm going to close this issue. Feel free to send up a PR if you do implement the feature. It would be similar in spirit (or could even replace) the Homebrew `brew linkapps` command.

[2016-01-28 20:51] #758 closed

[2016-01-28 22:16] qiuwei opened #762 "Is it possible to have brew-cask for linuxbrew"
It would be appealing to have a workflow to install GUI apps such as intellij idea though brew.

[2016-01-28 22:16] sjackman commented on #107
I believe these issues are resolved. I'm closing this ticket. Feel free to open a new ticket if some of the issues raised here are still current.

[2016-01-28 22:16] #107 closed

[2016-01-28 22:16] sjackman commented on #135
This issue is resolved by 9318c13512d592db39e9bc29532bc4317ec8733c.

[2016-01-28 23:45] sjackman commented on #742
I'm able to reproduce this error with `brew install rtorrent`.

[2016-01-28 23:51] sjackman commented on #742
I found a workaround. Tap `homebrew/dupes` before installing the formula you want. This is definitely a bug.

[code]

[code]

[2016-01-29 05:13] snmsts commented on #742
Oh Thanks!

[2016-01-29 05:39] junwei-wang commented on #752
I am sorry to tell you. It is still does not work.

[code]

[2016-01-29 07:01] sjackman commented on #752
I can't really help you here. I have no idea what that error message means: `gcc: fatal error: environment variable 'JUMBO_ROOT' not defined`
Please report `brew gist-logs hello`
What is `~/.jumbo`? Is that also a Linuxbrew installation?

[2016-01-29 07:06] junwei-wang commented on #752
Thank you very much for you patient.
I fixed the problem by removing some check in the configuration of package xz.
jumbo is a package management software like Linuxbrew. But it is not as good as Linuxbrew.
I still have some problems. Anyway, let's close this one.

[2016-01-29 07:24] sjackman commented on #762
I won't personally be starting that particular project, but yes it would be possible if someone wanted to tackle it.

[2016-01-29 07:29] sjackman commented on #752
Okay. Feel free to open up a new issues if you have further questions.

[2016-01-29 07:29] #752 closed

[2016-01-30 19:30] jamesscholeyweb opened #764 "Arch Linux Warning: python is symlinked to python3 This will confuse build scripts and in general lead to subtle breakage."
Just moved to Arch Linux and installed linuxbrew. Brew doctor gives me this warning. Should I be worried about it? or does anyone know the correct solution.

Googling has proven inconclusive

Thanks in advance.

[2016-01-30 19:51] sjackman commented on #764
I have no idea myself. Does Arch Linux provide a python2 package? If you wanted to be on the safe side, I'd install that python2 package and make sure that `python` points to Python 2 and `python3` points to Python 3. You can also `brew install python` and `brew install python3`.

[2016-01-30 20:01] jamesscholeyweb commented on #764
Thanks for the speedy response Shaun. Just looking through the Arch Wiki now. I think the answer lies in here somewhere https://wiki.archlinux.org/index.php/python especially the Dealing with problems in build scripts. But I'm not sure how to implement this in a way specific to brew.

[2016-01-30 20:13] jamesscholeyweb commented on #764
Just a thought Shaun, is a possible solution to install pyenv and set global to 3.5.1 and local on .linuxbrew to 2.7?

[2016-01-30 20:51] sjackman commented on #764
I'm afraid that I'm beyond my Python systems knowledge here. I'm going to close this issue, but feel free to comment if you learn more or run into issues.

[2016-01-30 20:51] #764 closed

[2016-01-30 20:56] jamesscholeyweb commented on #764
Thanks Shaun. Yeah it's above my knowledge aswell. My proposed idea
definitely makes things worse.

On Saturday, January 30, 2016, Shaun Jackman <notifications@github.com>
wrote:

[2016-01-31 09:52] Mikaela commented on #764
Which version of Python does Linuxbrew want?

According to [PEP 0394](https://www.python.org/dev/peps/pep-0394/) (which was made because of Arch by the way) the application must use:

* `#!/usr/bin/env python` if it runs with Python **2 and 3**.
* `#!/usr/bin/env python2` if it runs with Python **2**.
* `#!/usr/bin/env python3` if it runs with Python **3**.

Some older Python 2.x versions might no

[2016-01-31 10:50] jamesscholeyweb commented on #764
Depends on the dependencies of installed packages I guess. I've actually
just gone back to using aur and pacman. Tweaking Python environments is not
outweighed by my aversion to typing sudo on this occasion.

On Sunday, January 31, 2016, Mikaela Suomalainen <notifications@github.com>
wrote:

[2016-01-31 18:35] sjackman commented on #764
The Linuxbrew `python` package installs both `python2` and `python` symlinks. I don't know if there are any formula that expect `python` to be a `python2` interpreter. The doctor warning is only a warning. It may or may not be a problem.

[2016-01-31 21:13] rwhogg opened #767 "gjs failed to build on Ubuntu 14.04"
gist-log: https://gist.github.com/76ed51ae4d80ea3e5ee8

[2016-02-01 01:32] hartzell commented on #380
Back in [the thread that inspired this one](http://lh3.github.io/2015/04/25/a-few-hours-with-docker/), @sjackman answered a question that "lh3" asked by saying

I've done a few experiments based on your [Dockerfile](https://github.com/sjackman/docker-linuxbrew/blob/master/linuxbrew-bottle/Dockerfile) and have ended up with bottles and bits of ruby.

I'm not sure what to do with them though.  I'm i

[2016-02-01 01:56] sjackman commented on #767
https://gist.github.com/rwhogg/76ed51ae4d80ea3e5ee8#file-05-make-L184
[code]

`gjs` installs its own copy of `mozjs`. Adding its library path to `LD_LIBRARY_PATH` may work. Try the following untested patch:
[code]

[2016-02-01 02:22] rwhogg commented on #767
It works. I'm about to submit a PR.

Thanks a bunch!

[2016-02-01 02:55] sjackman commented on #380
Modifying each formula is unfortunately the most straight forward tack, like so:

[code]

If you wanted to try hacking Linuxbrew to avoid needing to modify each formula, change the default `root_url`:
`https://github.com/Linuxbrew/linuxbrew/blob/master/Library/Homebrew/software_spec.rb#L307`

and then you'd have to hack up the logic to disable needing the `sha256`. That may be tricky.

[2016-02-01 03:05] sjackman commented on #767
Great. Glad to hear it. This issue could also affect other formula. It affects `mcrypt` for example: https://github.com/Linuxbrew/linuxbrew/blob/master/Library/Formula/mcrypt.rb#L32

Could you try the following untested patch?

[code]

[2016-02-01 03:21] rwhogg commented on #767
In progress; will test on both gjs and mcrypt. Let me know if there's any others you come up with.

[2016-02-01 03:36] rwhogg commented on #767
It doesn't seem to fix gjs. But the patch does work for mcrypt.

[2016-02-01 05:12] sjackman commented on #767
Well that's weird.

[2016-02-01 07:10] reo7sp opened #772 "Error: uninitialized constant Homebrew::Diagnostic::Checks::Tempfile"
After installing linuxbrew in xubuntu which is running under virtualbox I have error "uninitialized constant Homebrew::Diagnostic::Checks::Tempfile". The commit id of this linuxbrew version is b8d7f66c71b1d7f03050386cd0711fe84a776ca8.

Yesterday I installed linuxbrew on my laptop where xubuntu is installed too but without virtualbox. It works perfect. The commit id of linuxbrew on this laptop is 9

[2016-02-01 14:46] Danielflsr commented on #772
Me too, in Ubuntu 14.04.

[2016-02-01 15:55] dubnde commented on #772
Observed in Ubuntu 14.04.

[2016-02-01 16:27] #772 closed

[2016-02-01 16:28] sjackman commented on #772
Woops. My fault. Fixed thanks to @abelsiqueira

[2016-02-01 17:33] treeder opened #774 "[Request] Add atom.io editor to packages"
Would be nice to add this to the packages since it doesn't auto update itself on Linux.

[2016-02-01 18:38] sjackman commented on #774
Linuxbrew hasn't yet tackled packaging GUI applications. On Mac this is handled by `brew cask`. I don't have time myself to tackle this particular challenge. See #762

[2016-02-01 18:38] #774 closed

[2016-02-01 21:13] eugenesvk opened #775 "HOMEBREW_TEMP not executable wrong in Ubuntu"
I've installed `Linuxbrew` in several virtual machines running Ubuntu (12 and 15 versions) and have the same issue: `brew doctor` misidentifies `$HOMEBREW_TEMP` as though it does `not permit executing programs. It is likely mounted "noexec". Please set HOMEBREW_TEMP in your ~/.bash_profile to a different directory`
The thing is I've already created a new temp folder, added `sticky` mode to it, so

[2016-02-01 21:25] sjackman commented on #775
The code is at [`check_tmpdir_executable `](https://github.com/Linuxbrew/linuxbrew/blob/master/Library/Homebrew/diagnostic.rb#L1126)

Can your report the output of
[code]

Does `brew install hello` succeed?

[2016-02-01 21:58] eugenesvk commented on #775
Hey, @sjackman, thanks for an uber-prompt response.
`echo "#!/bin/sh" >foo` didn't work, I had to use single quotes instead of double quotes.
But otherwise the output of your chain of command is `0`, `foo` is created as an executable file with only one line of text.
Also, if I add some other command to `foo` (e.g. `echo "new"`), and then try to execute with `./foo` the commands output correctly.

[2016-02-01 22:26] sjackman commented on #775
I'm not able to reproduce this issue myself, so it'll be difficult to troubleshoot. You can simply ignore the warning for the mean time. Sorry that I couldn't help you resolve it.

[2016-02-01 22:52] sjackman commented on #775
I was able to reproduce this issue:
`Error: Text file busy - /var/tmp/sjackman/homebrew_check_tmpdir_executable20160201-13383-soy4dl`
Adding `f.close` fixed it.

[2016-02-01 22:54] sjackman commented on #775
It's odd, but my best guess is that this issue only affects NFS file systems? Just a guess.

[2016-02-01 22:55] #775 closed

[2016-02-01 22:55] sjackman commented on #775
Fixed. Thanks for the bug report, Evgeny.

[2016-02-01 23:05] eugenesvk commented on #775
Nice! You fixed it faster than I was able to click on the 'Comment' button to submit my comment!
I've checked on my VM and it works!
Now my `system is ready to brew.` (not that the lack of readiness stopped me before :)

[2016-02-01 23:50] sjackman commented on #775
Great. Glad to hear it.

[2016-02-02 00:16] sjackman commented on #767
Argh. `prepend_path` is weird. It doesn't add the path unless it exists, and `libdir` doesn't yet exist. `prepend` works as expected.
[code]

[2016-02-02 00:28] #767 closed

[2016-02-02 00:30] sjackman commented on #767
Should be fixed now by #771. Thanks for the bug report, Bob.

[2016-02-02 17:19] rwhogg opened #778 "sdl2 fails to build on Ubuntu 14.04"
Various patches fail to apply:

patching file include/SDL_config.h
Hunk #1 succeeded at 1 with fuzz 1.
patching file include/SDL_platform.h
patching file include/SDL_syswm.h
Hunk #1 FAILED at 83.
1 out of 1 hunk FAILED -- saving rejects to file include/SDL_syswm.h.rej
patching file src/audio/coreaudio/SDL_coreaudio.h
patching file src/file/cocoa/SDL_rwopsbundlesupport.m
patching file src/filesyste

[2016-02-02 18:44] sjackman commented on #778
Thanks, Bob.

[2016-02-03 01:41] CaptainQuirk opened #780 "libcue: Depends on bison and flex"
Hi,

I'm on ubuntu 14.0, brew has been updated and doctor has nothing to say

I needed to install

- byacc
- flex

to have a complete build process

[2016-02-03 06:31] sjackman commented on #780
Thanks for the bug report, Léonard.
[code]

[2016-02-03 06:43] #780 closed

[2016-02-03 06:44] sjackman commented on #780
Fixed!

[2016-02-03 18:24] ginolon commented on #742
`brew tap homebrew/dupes`

works also for me... (rbenv) on Ubuntu.

Is this a bug?

[2016-02-03 21:36] CaptainQuirk commented on #780
Thanks @sjackman, the installation works now !

[2016-02-03 21:45] sjackman commented on #742
Yes, it's a bug.

[2016-02-03 21:56] CaptainQuirk opened #782 "Segmentation fault when running gem installed through brew gem install"
Hi,

I've installed `brew-gem` and installed two different gems with the `brew gem install` command. When running both commands, they fail miserably ;-(. An example with `gimli`

[code]

[2016-02-03 21:59] sjackman commented on #780
Glad to hear it.

[2016-02-03 22:03] CaptainQuirk opened #783 "Error installing devtodo"
Hi,

On ubuntu 14.04, installing devtodo fails like this:

[code]

[2016-02-03 22:06] sjackman commented on #782
I'm afraid that I don't have the time available to troubleshoot brew-gem on Linuxbrew.
@sportngin Are you interested in supporting running `brew-gem` on Linuxbrew?
https://github.com/sportngin/brew-gem

[2016-02-03 22:09] sjackman commented on #783
That looks like an upstream bug to me. File a bug report with the upstream authors.
@alecthomas It looks as though `Loaders.cc` is missing an include of `stdlib.h`
https://github.com/alecthomas/devtodo2

[2016-02-03 22:09] #783 closed

[2016-02-03 22:15] alecthomas commented on #783
This is a bug in https://github.com/alecthomas/devtodo, which is no longer supported. DevTodo2 is written in Go, and should be installable with `go get github.com/alecthomas/devtodo2`.

[2016-02-03 22:20] alecthomas commented on #783
Also, this was fixed in [2009](https://github.com/alecthomas/devtodo/commit/b5a214eec921478d8368119bf81dd8ae671707db) but isn't part of a release.

[2016-02-03 22:22] sjackman commented on #783
If it's already fixed, would you care to tag a new release?

[2016-02-03 22:39] CaptainQuirk opened #784 "The gh formula links to a deprecated repo"
Hi there,

The gh command [has been deprecated](https://github.com/jingweno/gh) in favor of a go port.

[2016-02-03 22:52] sjackman commented on #784
Please report issues that are not specific to Linux to https://github.com/Homebrew/homebrew

[2016-02-03 22:52] #784 closed

[2016-02-04 17:25] ginolon opened #787 "Install postgres and start service automatically"
I install Postgresql on my Ubuntu with:

`brew install postgres`

now I have:

    psql --version
    psql (PostgreSQL) 9.5.0

How can I start the service automatically?

On my Mac with homebrew I can do it with:

    ln -sfv /usr/local/opt/postgresql/*.plist ~/Library/LaunchAgents
    launchctl load ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist

but how on Ubuntu with Linuxbrew?

[2016-02-04 18:40] sjackman commented on #742
Reported upstream at #48834.

[2016-02-04 18:43] sjackman commented on #787
Linuxbrew does not currently configure which daemons start at boot. [This post](http://askubuntu.com/a/715275/166699) says to run
[code]
You will first need to link the `rc.d` scripts from your Linuxbrew prefix into `/etc`.

[2016-02-04 18:43] #787 closed

[2016-02-04 18:51] ginolon commented on #787
Can you explain it better, please?

[2016-02-04 19:15] sjackman commented on #787
Read this page [17.3. Starting the Database Server](http://www.postgresql.org/docs/9.3/static/server-start.html)

[code]
to `/etc/rc.d/rc.local` or `/etc/rc.local` or look at the file `contrib/start-scripts/linux` in the PostgreSQL source distribution.

[2016-02-04 19:19] ginolon commented on #787
And what

`sudo update-rc.d postgresql enable` do?

[2016-02-04 19:36] sjackman commented on #787
Ignore that suggestion. It won't help unless there's an appropriate file installed somewhere in `/etc/init.d/postgresql`.

[2016-02-04 20:05] ddavidebor opened #788 "libusb: Depends on libudev provided by systemd"
i get the following errors installing libusb and hidapi (as dependencies of openocd on ubuntu 14.04)

it's necessary to run `sudo apt-get install libudev-dev` to get libusb to install, and i have to specify `brew install openocd  --without-hidapi` otherwise hidapi will keep failing.

[code]

[code]

[2016-02-04 20:28] sjackman commented on #788
In Markdown, multi-line fenced code blocks are surrounded by triple back ticks. See https://help.github.com/enterprise/11.10.340/user/articles/github-flavored-markdown/#fenced-code-blocks

[2016-02-04 20:36] ddavidebor commented on #788
thank you for the tip and the fix

[2016-02-04 23:27] sjackman commented on #788
Thanks for the bug report, Davide. `libudev` is provided by [`systemd`](http://www.freedesktop.org/wiki/Software/systemd/), which is not yet packaged for Linuxbrew, and Linuxbrew does not have a mechanism in place to describe dependencies on system libraries. The fix would be to package `systemd` for Linuxbrew. I don't have the time for that task myself. A pull request would be welcome if you have

[2016-02-05 00:11] ddavidebor commented on #788
I understand.

Wouldn't be easier to just repackage libudev-dev? Installing just that fixes libusb (although not hidapi, but i guess it is just unable to find it)
The whole systemd seems a bit excessive.

[2016-02-05 00:13] sjackman commented on #788
`libudev` is provided by `systemd`. See https://packages.debian.org/jessie/libudev-dev

[2016-02-05 00:57] sjackman commented on #788
I've packaged `libcap` #789, and I'm testing `systemd` now #790. I'll then make `libusb` depend on `systemd`.

[2016-02-05 01:10] #788 closed

[2016-02-05 12:13] retokromer opened #791 "x264 failed to build on Ubuntu 14.04 LTS"
The `brew gist-logs x264` output is:
https://gist.github.com/f5ad750d02af5cd278ab
(Sorry, I don't have the time to delve deeper into this now.)

[2016-02-05 14:47] ddavidebor commented on #788
Thank you. running `brew install systemd` generates the following error:

[code]

After installing intltool through apt-get and re-running the command:

[code]

after running `brew install homebrew/dupes/gperf`

[code]

And i'm afraid from that on i can't build it. installing linux-utils does not appear to fix the problem.

[2016-02-05 16:30] vomout opened #792 "gmp4 fails to build on Scientific Linux 6.7"
I'm trying to install newer version of gcc, as Scientific Linux 6.7 only has 4.4.7, which is too old to build nodejs. However, this also fails, specifically in building gmp4:

[code]

[2016-02-05 18:00] sjackman commented on #788
I've added the missing dependencies. Thanks for the feedback
`systemd` is checking for a `libmount.pc` (`pkg-config`) file, but is not finding one. `util-linux` does not install a `.pc` file for `libmount`.
[code]
I also don't see such a file on my host system, so I'm not sure how it built successfully on my system. I'll gist the build logs.

[2016-02-05 18:04] sjackman commented on #791
Thanks for the bug report, Reto. I don't have time either right now. Sorry. The relevant error is…
https://gist.github.com/anonymous/f5ad750d02af5cd278ab#file-02-make-L92
[code]

[2016-02-05 18:12] sjackman commented on #792
`homebrew/versions` is not a supported tap. Try instead `brew install gcc`, which will install GCC 5.3.0.
On such an old system, consider installing glibc as well.
`brew install gcc --with-glibc`
For more information see
https://github.com/Linuxbrew/linuxbrew/wiki/Standalone-Installation

[2016-02-05 18:12] #792 closed

[2016-02-05 18:33] retokromer commented on #791
Thank you, Shaun, for the hint!

[2016-02-05 19:13] retokromer commented on #792
Caveat: You may install `gawk` before installing `gcc --with-glibc` (dependency). Then it should work fine.

[2016-02-05 19:21] sjackman commented on #792
Or have `gawk` installed by your base system, which is typical. Thanks for the clarification though, Reto. We'll have to put together an exhaustive list of these dependencies eventually.

[2016-02-05 23:40] ddavidebor commented on #788
When running on a Ubuntu 14.04.3 server 64 (reinstalled from scratch, updated)

`#brew install openocd`

[code]
i ran `#brew install libcap` , `#brew install openocd` :

[code]

ran `#brew install gettext` , `#brew install openocd`:

[code]

ran `#brew install util-linux`, `#brew install openocd` :

[code]

`#sudo apt-get install python-setuptools`, `brew install openocd`

then problems on hidapi

[2016-02-05 23:49] sjackman commented on #788
I've added a dependency to `systemd` on `gettext`. It looks to me like `hidapi` installed successfully. I don't see any errors in the log. Is it working for you now?
To work around the `not present or broken` errors, try `brew tap homebrew/dupes` before installing anything.

[2016-02-06 11:50] ddavidebor commented on #788
Same problems with hidapi

[2016-02-06 11:54] ddavidebor commented on #788
hidapi fails

[code]

there are a few interesting errors in the gist:
[code]

[2016-02-06 18:26] sjackman commented on #788
I can't find that message `Error: No such file or directory - hidtest/.libs/hidtest` in this gist https://gist.github.com/anonymous/aaaf98d7d7a3b86630eb

These message are normal. It's just `configure` trying to figure out what version of compiler you have.

[2016-02-06 19:20] ddavidebor commented on #788
i ran on a (nearly) clear system
https://gist.github.com/62d1ec9ac0d3351903a7

[code]

[2016-02-07 02:48] sjackman commented on #788
`hidapi` depends on `libudev`, which is provided by `systemd`. Would you like to submit a pull request? Start with `brew edit hidapi` and read [CONTRIBUTING.md](https://github.com/Linuxbrew/linuxbrew/blob/master/CONTRIBUTING.md)

[2016-02-07 08:20] retokromer commented on #792
Agreed, an exhaustive list of these dependencies would be useful.

[2016-02-07 20:43] sjackman commented on #792
There is this list of dependencies on system utilities over here:
https://github.com/Linuxbrew/linuxbrew/blob/master/README.md#debian-or-ubuntu
I'd like to reduce the size of that list, as more dependencies are provided by Linuxbrew.

[2016-02-09 15:53] Neraste opened #797 "curl: Failed to download resource: Connection timed out"
Hi there

Downloading main package of a formula is fine, but downloading its resources fails. Curls ends up with timeout error.

Example with `brew install -v git`, when attempting to download git-manpages:

[code]

However, when trying the used curl command in my prompt, with  quotes added around the user agent string, it just works:

[code]

So, the file is available and curl can download it, bu

[2016-02-09 17:41] sjackman commented on #797
I can't say. Can you confirm that the issue persists today? I just tried a `brew fetch git`, and it works for me.

[code]

[2016-02-09 18:02] sjackman commented on #562
I'm closing this issue. Please comment if you're still having difficulty installing `cmake`.

[2016-02-09 18:02] #562 closed

[2016-02-09 18:03] sjackman commented on #742
Fixed thanks to @xu-cheng in https://github.com/Homebrew/homebrew/pull/48904

[2016-02-09 18:03] #742 closed

[2016-02-09 18:12] Neraste commented on #797
Well, `brew fetch git` works fine. Then, `brew install git` succeeded. That is weird...

[2016-02-09 18:22] sjackman commented on #797
I'm going to close this issue. Please comment if you're able to reproduce the issue. It may have been a transient network error.

[2016-02-09 18:41] sjackman opened #798 "brew tests fails with Could not find tins-1.6.0 in any of the sources (Bundler::GemNotFound)"
@mikemcquaid Any thoughts on how to resolve the above error, or do you think it's somehow specific to Linuxbrew? I merged Homebrew into Linuxbrew just now to ensure that it's current.

I tried pinging the teams @homebrew/bundle and @homebrew/maintainers with no luck. I hope you don't mind my pinging you directly.

https://travis-ci.org/Linuxbrew/linuxbrew/builds/108093846
[code]

[2016-02-09 19:03] retokromer commented on #791
@sjackman: I saw you merged Homebrew into Linuxbrew. Now the installation works fine on my side. Therefore I guess this issue can be closed.

[2016-02-09 19:04] sjackman commented on #380
I've just discovered that it is possible to override the bottles in your own fork of Homebrew using https://github.com/Homebrew/homebrew/blob/master/Library/Homebrew/hooks/bottles.rb
I don't know anything about this mechanism other than it's intended for your purpose.

[2016-02-09 19:12] sjackman commented on #380
I had planned on building bottles on the `sjackman/linuxbrew-standalone` Docker image using the `glibc` installed by Homebrew (2.19). An alternative plan would be to build the bottles on an older distribution. The compiled bottles should work on Linuxbrew Standalone, but should also work on older systems. The dependencies used from the host system should be `glibc` and `libstdc++`. All the other d

[2016-02-10 00:50] sjackman commented on #791
Great. Glad to hear it.

[2016-02-10 00:50] #791 closed

[2016-02-10 05:46] sjackman commented on #798
@mikemcquaid Is it reasonable to bump `tins` in `Library/Homebrew/test/Gemfile.lock` from `1.6.0`, which has gone AWOL, to `1.8.2`? I'm not terribly familiar with gem versioning.

[2016-02-10 21:51] sjackman commented on #798
Using a different version of Ruby works around this issue. I'll use Ruby 2.0.0.

I've tested six different version of Ruby: 1.8.7, 1.9.3, 2.0.0, 2.1.8, 2.2.4 and 2.3.0.
https://travis-ci.org/Linuxbrew/linuxbrew/builds/108370609

Version | Status
---|---
1.8.7 | :x: (Linuxbrew issue)
1.9.3 | :x: (this issue)
2.0.0 | :white_check_mark:
2.1.8 | :white_check_mark:
2.2.4 | :x: `Error: cannot load such

[2016-02-10 21:55] #798 closed

[2016-02-10 22:35] Npasic1 commented on #695
u back?

[2016-02-11 09:15] OmeGak commented on #797
I'm also affected by this. I can't install any formula without manually fetching it first.

[code]

[code]

[code]

[2016-02-11 16:26] curufinwe opened #803 "gcc: Glibc warning regarding _FORTIFY_SOURCE breaks gcc compilation"
The current glibc (2.19) has the following warning:

in features.h:341

When `./configure` is run for gcc it performs feature-checks with `_FORTIFY_SOURCE=2` and no optimization flag. This warning causes the feature-checks to fail. Thus some headers are believed to be missing and compilation of gcc fails as stuff like `free` and `LONG_MIN` are undefined.
I fixed gcc compilation by commenting out t

[2016-02-11 16:58] sjackman commented on #797
As a workaround, you can fetch the formula and its dependencies using `brew fetch --deps hello`.

Thanks for confirming the bug. It's very strange. As I'm not able to reproduce the error, it's going to be difficult to troubleshoot. Please remove the cached source and gist the logs.

[code]

[2016-02-11 17:10] sjackman commented on #803
How strange. Can you find an upstream bug report for this issue, and if not, can you please report it upstream?

[2016-02-11 19:16] KomodoTech opened #804 "openssl: install fails on Fedora. Error while executing patch"
I cannot seem to install openssl with linuxbrew. I am running Fedora 23 and the error that I am getting is:

[code]

Unfortunately, I am pretty new to this and I cannot seem to get any more information regarding the error. Is there any way someone can help?

Thank you!

[2016-02-11 20:04] al-the-x opened #805 "Installation error: cannot read /proc/cpuinfo"
Very excited to get linuxbrew to work on my Debian-based shared host. As I lack root access on this box, I'm trying to install updated versions of key packages like `git` and `tmux` into my home directory for my own personal sanity. Although `brew doctor` reports no problem, I'm running into trouble while attempting to install anything:

    $> brew install git
    Error: permission denied: /proc/

[2016-02-11 23:01] al-the-x commented on #805
While I'm not proud of the solution, I was able to fake `brew` into working by editing [`Library/Homebrew/os/linux/hardware.rb`](../blob/master/Library/Homebrew/os/linux/hardware.rb#26) to return a ficticious value for `cpuinfo` -- `"Intel x86_64\nflags foo"` -- to fool `brew`. It's a hack.

[2016-02-12 00:16] sjackman commented on #804
A workaround is `brew install homebrew/dupes/gpatch` or alternatively `sudo yum install patch`.
Pull request #605 addressed this issue. I may revisit it.

[2016-02-12 00:20] sjackman commented on #805
Yours is the first system I've seen where users don't have access to `/proc/cpuinfo`. That's unusual, so I'm afraid that it's not a priority for me to fix this issue, although I realize that it must be a bit frustrating for you. I would ask your system admin if they can relax these permissions. There's no reason for this file to be private.

[2016-02-12 00:20] #805 closed

[2016-02-12 01:48] KomodoTech commented on #804
Worked like a charm!
Thank you so much for the suggestion and in general for the awesome support that you are providing.
Like in pull request #605 , I am working on an "almost bare" system. It's probably quite obvious to experienced linux brew users that patch/gpatch is a dependency, but since I never had that issue on OS X, I was not aware.

In any case,
Thanks again!

[2016-02-12 01:52] al-the-x commented on #682
Did any of this help solve your problem @albertz? I'm having the same problem in my environment: `Error: Directory not empty` on the Perl install directory. The `git` package doesn't seem to install after throwing that error...

[2016-02-12 04:49] sjackman commented on #804
Thanks for the kind feedback.

[2016-02-12 09:09] OmeGak commented on #797
The failed download doesn't produce any log, apparently.

[code]

[2016-02-12 09:13] albertz commented on #682
I did a `brew update` and then tried `brew install git` again. It still fails but maybe that is an unrelated error. It has some more dependencies now and fails on one of them.

[code]

The error is not because of my env:

[code]

I also wonder, a whole new glibc, can't it just use the system glibc?

[2016-02-12 09:15] albertz opened #807 "glibc: LD_LIBRARY_PATH shouldn't contain the current directory"
Glibc is a dependency of Git which I try to install.
Glibc fails to install:

[code]

The error is not because of my env:

[code]

[2016-02-12 09:16] albertz commented on #682
I reported that separately: #807

[2016-02-12 09:17] albertz commented on #682
@al-the-x The options suggested (`--with-brewed-curl --with-brewed-openssl --without-tcl-tk`) will not remove the Glibc dependecy, so those don't help me.

[2016-02-12 11:21] curufinwe commented on #803
It seems I am [not the only one](https://lists.archlinux.org/pipermail/arch-dev-public/2013-April/024776.html) who ran into this. But there the fix was to adjust the build flags. As glibc also caused compile failures for other programs I have removed it and moved to an older version of linuxbrew where glibc is not a hard dependency.

[2016-02-12 17:44] sjackman commented on #682
I'm experimenting with rolling out bottles (precompiled binaries) on Linuxbrew, and that requires updating `glibc` on older systems with `glibc` < 2.19. See #380. You're my guinea pig. Congratulations? If you wish to opt out of being my guinea pig, use `brew install -s git` or `export HOMEBREW_BUILD_FROM_SOURCE=1`.

[2016-02-12 17:58] Neraste commented on #797
Fetching the dependencies doesn't work in some cases: diff files cannot be fetched. The download fails due to time out, but again, using the curl command outputed in verbose mode works fine.

By instance: ```readline```.

I am wondering (this is highly hypothetical), is there something special with the curl binary used and its parameters? In some cases, if I do not put ```location``` in my ```curl

[2016-02-12 17:59] sjackman commented on #807
That's curious. I haven't seen that error myself. I see instead `checking LD_LIBRARY_PATH variable... ok`
Can you please report
[code]

[2016-02-12 18:09] Neraste commented on #797
OK, I have to export ```all_proxy``` with my proxy inside to solve this, even if it is defined in my ```curlrc``` file. So, why does not curl read its config file?

[2016-02-12 18:09] sjackman commented on #682
@al-the-x Please report the error message that you're seeing and `brew gist-logs git`

[2016-02-12 18:16] sjackman commented on #797
Please report
[code]

Try setting the environment variable.
[code]

Ah, did setting the `ALL_PROXY` environment variable solve your issue?

Mystery to me. You could try troubleshooting with…

[code]

[2016-02-12 18:24] sjackman commented on #803
I'm experimenting with rolling out bottles (precompiled binaries) on Linuxbrew, and that requires updating `glibc` on older systems with `glibc` < 2.19. See #380. You're my guinea pig. Congratulations? If you wish to opt out of being my guinea pig, use `brew install -s git` or `export HOMEBREW_BUILD_FROM_SOURCE=1`.

[2016-02-12 18:25] sjackman commented on #803
My machine reports `checking for _FORTIFY_SOURCE predefine... no`, so it seems this issue likely only affects compilers that predefine `_FORTIFY_SOURCE`. Please report `brew gist-logs glibc`.

[2016-02-12 18:32] Neraste commented on #797
Yes. At least, it seems.

For the next, I will answer in few days.

[2016-02-12 20:34] al-the-x commented on #682
@sjackman Will do.

[2016-02-12 20:36] al-the-x commented on #805
It may be related to the virtualization container they're running, but that's just a guess. I'll put in a request to support but typically the only answers that come back are links to (unhelpful) docs pages.

[2016-02-12 21:21] #804 closed

[2016-02-12 21:45] sjackman commented on #804
I've merged Piotr's patch. This issue should be resolved now. Thanks for the patch, Piotr, and for the bug report, @KomodoTech.

[2016-02-13 00:14] sjackman commented on #437
I've found the cause and workaround. The `RPATH` of the `glibc` shared libraries is not set. `libpthread.so.0` requires `libgcc_s.so.1`, even though it's not reported by `readelf -d libpthread.so.0`. It must be loaded dynamically by `dlopen`. `libc.so.6` has no idea where to find `libgcc_s.so.1`. One hacky but easy workaround is
[code]
Another fix is to use `patchelf` to set the `RPATH` of `libpth

[2016-02-14 02:32] sjackman commented on #598
Resolved by #808, thanks to @maxim-belkin.
Ruby 1.8 has only integer mode chmod. Ruby 1.9 introduced string mode.

[2016-02-14 02:40] #598 closed

[2016-02-14 14:40] maxim-belkin opened #809 "gcc: Error: stack level too deep"
Steps to reproduce:
1. Get a brand new copy of Linuxbrew (`brew doctor` reports that everything is normal but actually there are 3 bad symlinks: 2 here: `[path-to-linuxbrew]/Library/ENV/pkgconfig/fuse/{osx,}fuse.pc` and 1 here: `[path-to-linuxbrew]/lib64` that points to not-yet-existing `lib` folder.
2. Run `brew install glibc --with-current-kernel`
What linuxbrew does:
1. Pours `zlib`
2. Tries to

[2016-02-14 19:24] hartzell opened #810 "[discussion] Bottles seem to break emacs build, can they ever work?"
HI All,

This isn't a proper bug report, I haven't narrowed things down enough to identify something actionable/fixable.  I wanted to touch base with the bottlers though and see what their current thoughts are.

I've been playing with my linuxbrew deployment again today.  It seems that since the last time I updated the bottling system came into play.  I've been having trouble.

I stumbled around a

[2016-02-15 01:27] sjackman commented on #809
I don't see this error myself. It's going to be tricky for me to troubleshoot. I wonder whether it's somehow dependent on the version of Ruby. Can you please report `ruby --version`? If possible, could you try using a newer version of Ruby? If you think the issue is related to bottles, and would like to try it without bottles, use `brew install glibc -s` or `export HOMEBREW_BUILD_FROM_SOURCE=1; br

[2016-02-15 01:29] sjackman commented on #809
Could you please gist and post the entire output (the `... <tons of lines> ...`)?

[2016-02-15 01:31] sjackman commented on #809
The error messages would help me troubleshoot.

[2016-02-15 04:55] sjackman commented on #810
I've created a pull request to add the `ncurses` dependency to `emacs`. See #811.

[2016-02-15 05:06] sjackman commented on #810
`./temacs: error while loading shared libraries: libgpm.so.2: cannot open shared object file: No such file or directory`

Your system provides `libgpm`, probably in `/usr/lib`. `emacs` detected that you have `gpm`, and so configured itself to depend on `gpm`. To support bottles, a new `glibc` is installed. The new dynamic linker is not configured, by default, to search `/usr/lib` for libraries. Fo

[2016-02-15 05:18] sjackman commented on #380
Homebrew solves this problem by installing to a fixed prefix `/usr/local`. Linuxbrew on the other hand installs by default to `~/.linuxbrew`, which is a different path for each person. One solution is to install to a fixed prefix like `/usr/local` or `/opt/linuxbrew` or `/home/linuxbrew/.linuxbrew`. Note that this only affects formula that store hard-coded paths in the binary executable. If that p

[2016-02-15 05:19] sjackman commented on #810
That's the ultimate question. I've answered the question at a related issue: https://github.com/Linuxbrew/linuxbrew/issues/380#issuecomment-184068091

[2016-02-15 05:26] hartzell commented on #810
re: temacs and libgpm (got it right that time...).

Just found the little stinker in `/usr/lib64`, `/usr/lib64/libgpm.so.10`.  I'd gone looking for it but...

Thanks for the details.  I'll play with the various options and see what clicks.  I'm firmly in the isolationist camp.    We need t-shirts....

[2016-02-15 05:27] sjackman commented on #809
Setting `export HOMEBREW_BUILD_FROM_SOURCE=1` should return you to the previous behaviour, that doesn't use bottles.

[2016-02-15 05:27] hartzell commented on #810
re: ncurses and #811

I'm a bit confused that I don't seem to need a dependency on *ncurses* if I build everything from source.  Am I picking up the dependency on tputs from something in one of the bottles that you've built?

[2016-02-15 05:28] sjackman commented on #810
Excellent. The wiki page for an isolated installation is over at [Standalone Installatio](https://github.com/Linuxbrew/linuxbrew/wiki/Standalone-Installation)

[2016-02-15 05:30] sjackman commented on #810
If you build everything from source, it doesn't install `glibc`. That only happens if your pour a bottle. So when you build from source you're using the host system's `ncurses` library.

[2016-02-15 05:35] hartzell opened #812 "Changes to build terraform and packer on linux labeled "linux-specific" by Homebrew."
I submitted a couple of patches so that terraform and packer built right in both Homebrew and Linuxbrew and submitted them to Homebrew, https://github.com/Homebrew/homebrew/pull/49172 so that they would flow downstream.

Should I have just fixed them in the linuxbrew tree?

[2016-02-15 05:41] sjackman commented on #812
Hi, George. I'll reword the CONTRIBUTING document. Patches to fix build issues that only affect Linux should be sent to Linuxbrew. Patches to fix build issues that affect both Mac and Linux should be sent to Homebrew.

[2016-02-15 05:41] #812 closed

[2016-02-15 06:10] njia opened #813 "Brew installed glibc as requirement but completed broken linuxbrew"
[code]

Then I manually removed `.linuxbrew` directory but had so many different problems trying to get linuxbrew/Ansible to work.

Now I am up to the point have to unlink `glibc` to install Ansible but `ansible-vault` is not working after installation another use on the same server does not have any problems.

[code]

[code]

[2016-02-15 07:47] OmeGak commented on #797
Reporting.

[code]

[code]

[code]

[2016-02-15 08:28] maxim-belkin commented on #809
Ruby version and `... <tons of lines>...` are in the
[failure.txt](https://github.com/Linuxbrew/linuxbrew/files/130309/failure.txt)

[2016-02-15 08:34] maxim-belkin commented on #809
And here is an attempt to build everything from source: [failure_build_from_source.txt](https://github.com/Linuxbrew/linuxbrew/files/130320/failure_build_from_source.txt)

[2016-02-15 08:36] maxim-belkin commented on #809
I can build from source `Ruby 1.9` and report if the error message persists.

[2016-02-15 11:20] maxim-belkin commented on #809
While I was having fun trying to install Ruby 1.9, I've found the following [thread](https://github.com/Homebrew/homebrew/issues/44837) and did a `brew readall` which returned a `Stack level too deep` error for the `gcc` formula. After checking out a previous version of `gcc.rb`, I was able to proceed with the "usual" standalone linuxbrew installation... So, it is `gcc` formula that is broken, not

[2016-02-15 12:19] maxim-belkin opened #814 "patchelf: self-dependency"
The log below seems to be self-explanatory.
[code]

[2016-02-15 14:31] sni opened #815 "Error: can't convert Fixnum into String (Ruby 1.8.7)"
I get the

[code]

When i try to install anything.

[code]

The complete output is:

[code]

This is a x64 sles 11 service pack 1.

The relevant part from the mentioned file is:

[code]

[2016-02-15 14:48] sni opened #816 "glibc: Requires gcc ≥ 4.4. These critical programs are missing or too old: gcc"
I am unable to install gcc. Installing gcc pulls in glibc as dependency which then fails with too old gcc.

[code]

[code]

The homepage says minimum gcc is 4.2. Is this still true?

[code]

[2016-02-15 15:58] lpar opened #817 "Error: libssl.so.1.0.0: cannot open shared object file: No such file or directory - ~/.rbenv/versions/2.3.0/lib/ruby/2.3.0/x86_64-linux/digest/md5.so"
I ran a `brew update` and suddenly nothing works:

[code]

Same error for all commands. Tried with Ruby 2.2.3 as well, which I still have installed.

[2016-02-15 16:02] lpar commented on #817
Seems to be something weird that has gone wrong with Ruby rather than linuxbrew per se, as loading `irb` and `require 'digest/md5'` gives the same error, but if anyone has any ideas...

[2016-02-15 16:08] lpar commented on #817
I think the actual problem is that `md5.so` requires `libssl.so.1.0.0` according to `ldd`, but it's not finding that. It's at

    /home/meta/.linuxbrew/Cellar/openssl/1.0.2a-1/lib/libssl.so.1.0.0
    /home/meta/.linuxbrew/lib/libssl.so.1.0.0

[2016-02-15 16:30] lpar commented on #817
If I symlink `.linuxbrew/Cellar/openssl/1.0.2a-1/lib/libssl.so.1.0.0` to `/home/meta/.linuxbrew/lib/` then `brew upgrade` gets a little further, it complains about `/home/meta/.linuxbrew/opt/curl/bin/curl: symbol lookup error: /home/meta/.linuxbrew/lib/libssl.so.1.0.0: undefined symbol: EVP_aes_128_cbc_hmac_sha256`

Which I think means the root problem is #737. `brew uninstall --force curl` worked

[2016-02-15 16:30] #817 closed

[2016-02-16 01:09] sjackman commented on #797
My quick test indicates that the Linuxbrewed `curl` does read the file `~/.curlrc`. Please report
[code]